html
{
    box-sizing: border-box;
}

*,
*::after,
*::before
{
    box-sizing: inherit;
}

@media screen and (min-width: 768px) and (max-width: 1097px)
{
    .auto-card__item--buy
    {
        width: calc(100% * 1/2 - 14.5px);
    }
}

@media screen and (min-width: 1098px)
{
    .auto-card__item--buy
    {
        width: calc(100% * 1/3 - 14.5px);
    }
}

@media screen and (min-width: 1500px)
{
    .auto-card__item--buy
    {
        width: calc(100% * 1/4 - 14.5px);
    }
}

@media screen and (min-width: 1880px)
{
    .auto-card__item--buy
    {
        width: calc(100% * 1/5 - 14.5px);
    }
}
