.auction__main-content {
    padding-top: 45px;
    padding-bottom: 15px;
}

.auction__main-content--sell {
    padding-top: 0;
    padding-bottom: 15px;
}

.auction__aside {
    margin-top: -482px;
}

.auction__aside--right {
    margin-top: -436px;
}

.auction__aside--left {
}

.form__input-wrap--auction-page, .form__input-wrap--main-page {
    margin-bottom: 16.5px;
}

.auction__list {
    display: block;
    float: none;
    width: 100%;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .about__action-wrap {
        margin-bottom: 85px;
    }
}

@media (max-width: 767px) {
    .auction__main-content {
        padding-top: 0;
    }

    .auction__list {
        border-top: none;
        padding-top: 20px;
        display: flex;
    }

    .auction__aside {
        margin-top: 0;
    }

    .auction__aside--left {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .auction__aside-inner {
        border-bottom: 1px solid #d5d5d5;
    }

    .sell-page__header:before {
        background-position-y: 15px;
        top: 0;
        transform: scale(1);
    }
}

@media screen and (max-width: 520px) {
    .sell-page__header:before {
        background-position-x: -288px;
    }
}


/*
 * SELL PAGE
 */

 @media (min-width: 768px) {
     .sell-page__content {
        float: left;
        width: 66%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
    .sell-page__content {
        width: 62.06309%;
        margin-right: 1.16509%;
    }
}

.sell-page__how-to-title {
    margin: 42px 0 37px;
    font-size: 24px;
    text-align: center;
}

.sell-page__advantages-title {
    margin: 57px 0;
    font-size: 21px;
    text-align: center;
}

.sell-page__deco-line {
    margin: 37px 0 35px;
    border-top: 1px solid #d5d5d5;
}

.sell-page__deco-line:before {
    content: '';
    display: block;
    margin-top: -2px;
    background-color: rgb(229, 98, 102);
    box-shadow: 0px 3px 12px 0px rgba(218, 32, 37, 0.7);
    width: 220px;
    height: 3px;
}

.sell-page__steps-1 .steps-block__heading-inner {
    background: #fff url('/img/sell-page/steps-1@2x.jpg') no-repeat bottom right;
    background-size: 75px;
}

.sell-page__steps-2 .steps-block__heading-inner {
    background: #fff url('/img/sell-page/steps-2@2x.jpg') no-repeat bottom right;
    background-size: 73.5px;
}

.sell-page__steps-3 .steps-block__heading-inner {
    background: #fff url('/img/sell-page/steps-3@2x.jpg') no-repeat bottom right;
    background-size: 60px;
}

@media (max-width: 767px) {
    .sell-page__content {
        padding: 0px 15px;
        order: 2;
    }

    .sell-page__how-to-title {
        margin: 25px 30px;
    }

    .sell-page__deco-line {
        margin: 30px 0;
    }

    .sell-page__deco-line:before {
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }

    .sell-page__advantages-title {
        font-size: 24px;
        margin: 23px 0;
    }
}

/*
 * STEPS
 */

 .steps-block {
    display: flex;
}

.steps-block__heading {
    position: relative;
    z-index: 1;
    flex: 0 0 32.5%;
}

.steps-block__heading:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 12.5px;
    right: 12.5px;
    left: 12.5px;
    bottom: 12.5px;
    box-shadow: 0 0 50px rgba(0,0,2,.2);
}

.steps-block__heading-inner {
    height: 100%;
    padding: 15px 20px;

    font-family: Proxima Nova Bd;
    font-size: 21px;

    background: #fff;
}

.steps__heading-number {
    display: inline-block;
    padding: 0 8px 6px;
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(229, 98, 102);
}

.steps-block__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 16px 0;
    border: 1px solid #d5d5d5;
    border-left: none;
}

.steps-block__step {
    flex: 1;
    padding: 16px 15px 16px 18px;
    min-height: 156px;
    display: flex;
    flex-direction: column;
}

.steps-block__step--wide {
    flex-basis: 100%;
    min-height: 124px;
    border-top: 1px solid #d5d5d5;
}

.steps-block__step--wide-100 {
    min-height: 100px;
}

.steps-block__step:first-child {
    border-right: 1px solid #d5d5d5;
}

.steps-block__step-text {
    margin-bottom: auto;
    font-size: 14px;
    line-height: 1.29;
}

.steps-block__step-number {
    font-family: Proxima Nova Bd;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.38;
    color: #d5d5d5;
}

@media (max-width: 767px) {
    .steps-block {
        display: block;
    }

    .steps-block__list {
        display: block;
        margin: 0 16px;
        border-top: none;
        border-left: 1px solid #d5d5d5;
    }

    .steps-block__step:first-child {
        border-right: none;
        border-bottom: 1px solid #d5d5d5;
    }

    .steps-block__heading-inner {
        display: flex;
        align-items: center;
        padding: 20px;
        padding-right: 70px;
        font-size: 16px;
    }

    .steps__heading-number {
        margin-bottom: 0;
        margin-right: 32px;
        font-size: 30px;
        line-height: 20px;
    }

    .steps__heading-number + br {
        display: none;
    }

    .steps-block__step {
        min-height: 0;
    }

    .steps-block__step-text {

        margin-bottom: 17px;

    }
}

/*
 * INFO BOX
 */

 .sell-page__info-box {
    margin: 40px 0;
    display: flex;
    box-shadow: 0 5px 50px rgba(0,0,2,.1);
}

.sell-page__info-box-img-wrap {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-right: 1px solid #d5d5d5;
}

.sell-page__info-box-text {
    padding: 25px 35px;
    font-size: 20px;
    line-height: 28px;
}

@media (max-width: 767px) {
    .sell-page__info-box{
        display: none;
    }
}

/*
 * TRADE-IN PAGE
 */

@media (min-width: 768px) {
    .trade-in-page__content {
        float: left;
        width: 65.88078%;
    }
}

.trade-in-page__steps .steps-block__heading-inner {
    background: #fff url('/img/sell-page/steps-2@2x.jpg') no-repeat bottom right;
    background-size: 170.5px 180.5px;
}

.trade-in-page__steps .steps-block__step:first-child {
    flex: 0 0 42%;
}

.trade-in-page__advantages-title {
    margin: 60px 0;
    font-size: 21px;
    text-align: center;
}

@media (max-width: 767px) {
    .trade-in-page__content {
        padding: 0 15px;
    }

    .trade-in-page__steps .steps-block__heading-inner {
        padding-left: 120px;
        padding-right: 20px;
        background: #fff url('/img/icons/5.svg') no-repeat 20px;
        background-size: 60px;
    }

    .trade-in-page__advantages-title {
        margin: 28px 0;
        font-size: 24px;
    }
}

@media screen and (max-width: 979px) and (min-width: 768px) {
    .trade-in-page__content {
        width: 62.06309%;
    }
}

/*
 * ABOUT PAGE
 */

 .what-next {
    padding: 0;
    list-style: none;
    display: flex;
    box-shadow: 0px 5px 50px -12.5px rgba(0, 0, 2, 0.2);
}

.what-next__item {
    padding: 0 20px 50px;
    flex: 1;
    text-align: center;
}

.what-next__item:not(:last-child) {
    border-right: 1px solid #e6e6e6;
}

.what-next__item:nth-child(2) {
    flex: 0 0 36%;
}

.what-next__img-wrap {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.what-next__item-title {
    margin-bottom: 10px;
    font-family: Proxima Nova Bd;
    font-size: 21px;
    line-height: 24px;
}

.what-next__item-text {
    font-size: 15px;
    line-height: 21px;
}

.about__after {
    margin: 50px 0 30px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

@media (max-width: 767px) {
    .about__buy-wrap {
        margin-bottom: 55px;
    }

    .what-next {
        display: block;
        margin: 0 15px 20px;
    }

    .what-next__item {
        padding-bottom: 30px;
    }

    .what-next__item:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid #e6e6e6;
    }

    .what-next__img-wrap {
        height: 115px;
    }

    .what-next__item-title {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .what-next__item-text {
        font-size: 14px;
    }

    .about__after {
        margin: 25px 20px 0;
        text-align: left;
    }

    .about__after br {
        display: none;
    }
}
