.about {
    &-main {
        @include outer-container(695px);
        @include media($mobile) {
            margin-top: 68px;
        }
    }
    &__title {
        color: #2e2e2e;
        font-weight: 600;
        font-family: 'Proxima Nova Lt';
        font-size: 28px;
        text-transform: uppercase;
        text-align: center;
        @include media($fromdesc0) {
            margin-top: 62px;
            margin-bottom: 10px;
            font-size: 32px;
        }
        @include media($mobile) {
            text-shadow: 0 12px 36px rgba(0, 0, 0, 0.24);
        }
    }
    &__subtitle {
        font-size: 20px;
        line-height: 1.4;
        @include outer-container(345px);
        text-align: center;
        @include media($mobile) {
            line-height: 1.25;
            max-width: 250px;
            margin-top: 4px;
        }
    }
    &__descr {
        font-size: 16px;
        line-height: 1.5;
        @include outer-container(630px);
        margin-top: 22px;
        @include media($fromdesc0) {
            margin-top: 25px;
        }
        @include media($mobile) {
            padding-left: 21px;
            padding-right: 36px;
        }
    }
    &__buy-list-content,
    &__know-content,
    &__statistic,
    &__action-list li:first-child .about__action-content {
        height: 100%;
    }
    &__statistic {
        background-color: white;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 20px;
        &--year {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include media($fromdesc0) {
            padding-top: 40px;
            padding-bottom: 40px;
            min-height: 211px;
        }
        @include media($mobile) {
            min-height: 115px;
        }
        p {
            text-transform: uppercase;
            font-family: Proxima Nova Bd;
        }
        p:first-child {
            font-size: 32px;
            line-height: 1;
            @include media($fromdesc0) {
                font-size: 52px;
            }
        }
        p:last-child {
            color: #999999;
            font-size: 11px;
            @include media($fromdesc0) {
                margin-top: 10px;
                font-size: 14px;
            }
        }
        &-list {
            list-style: none;
            padding: 0;
            max-width: 290px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-wrap: wrap;
            @include media($mobile) {
                position: relative;
                z-index: 1;
                margin-top: 25px;
                margin-bottom: 34px;
                &:before {
                    content: "";
                    @include position (absolute, 12.5px);
                    box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
                    z-index: -1;
                }
                li {
                    flex-grow: 1;
                    &:first-child {
                        border-right: 1px solid #e6e6e6;
                    }
                }
            }
            @include media($fromdesc0) {
                max-width: 100%;
                margin-top: 36px;
                margin-bottom: 60px;
                justify-content: space-between;
                li {
                    &:before {
                        content: "";
                        @include position (absolute, 12.5px);
                        box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
                        z-index: -1;
                    }
                    &:first-child {
                        width: 39.29137%;
                    }
                    &:last-child {
                        width: 54%;
                    }
                }
            }
            li {
                position: relative;
                z-index: 1;
            }
        }
    }
    &__know {
        &-img-wrap {
            min-width: 60px;
            position: relative;
            border-right: 1px solid #e6e6e6;
            @include media($fromdesc0) {
                float: left;
                height: 100%;
                min-width: 70px;
            }
        }
        &-content {
            background-color: white;
            @include media($mobile) {
                display: flex;
                p {
                    flex-grow: 1;
                }
            }
            img {
                @include centerXY;
            }
            p {
                font-size: 14px;
                line-height: 1.43;
                padding: 16px;
                @include media($fromdesc0) {
                    padding: 20px 21px 20px 23px;
                    font-size: 16px;
                    line-height: 1.31;
                    float: left;
                }
            }
        }
        &-title {
            font-size: 18px;
            line-height: 1.14;
            text-align: center;
            margin-bottom: 18px;
            @include media($fromdesc0) {
                margin-bottom: 30px;
                font-size: 21px;
            }
        }
        &-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                position: relative;
                z-index: 1;
                margin-bottom: 12px;
                &:before {
                    content: "";
                    z-index: -1;
                    @include position(absolute, 12.5px 7.5px);
                    box-shadow: 0 5px 32px rgba(0, 0, 2, 0.2);
                    @include media($fromdesc0) {
                        @include position (absolute, 12.5px);
                        box-shadow: 0 5px 50px rgba(0, 0, 2, 0.2);
                    }
                }
                @include media($fromdesc0) {
                    margin-bottom: 16.5px;
                    &:nth-child(2n+1) {
                        margin-right: 16.5px;
                    }
                    &:first-child {
                        width: 55.47%;
                    }
                    &:nth-child(2) {
                        width: 41.728%;
                    }
                    &:nth-child(3) {
                        width: 37.196%;
                    }
                    &:nth-child(4) {
                        width: 60.4%;
                    }
                    &:nth-child(5) {
                        width: 52.16%;
                    }
                    &:nth-child(6) {
                        width: 45.4%;
                    }
                }
            }
            @include media($mobile) {
                padding-left: 15px;
                padding-right: 15px;
                li {
                    width: 100%;
                    &:nth-child(4) {
                        order: 6;
                    }
                }
            }
        }
    }
    &__buy {
        &-wrap {
            margin-top: 16px;
            margin-bottom: 50px;
            @include media($fromdesc0) {
                margin-top: 40px;
                margin-bottom: 80px;
            }
        }
        &-title {
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
            @include media($fromdesc0) {
                margin-bottom: 15px;
                font-size: 28px;
            }
        }
        &-subtitle {
            font-size: 21px;
            line-height: 1.14;
            text-align: center;
            @include media($mobile) {
                font-size: 18px;
                line-height: 1.33;
                @include outer-container(256px);
            }
        }
        &-list {
            list-style: none;
            padding: 0;
            margin-top: 15px;
            @include media($fromdesc0) {
                margin-top: 30px;
            }
            li {
                position: relative;
                z-index: 1;
                @include media($fromdesc0) {
                    @include span-columns(4 of 12);
                    @include omega(3n);
                }
                &:before {
                    content: "";
                    z-index: -1;
                    @include position(absolute, 12.5px 7.5px);
                    box-shadow: 0 5px 32px rgba(0, 0, 2, 0.2);
                    @include media($fromdesc0) {
                        @include position(absolute, 12.5px 10.5px 12.5px 14.5px);
                        box-shadow: 0 5px 50px rgba(0, 0, 2, 0.2);
                    }
                }
                @media screen and (max-width:465px) {
                    &:nth-child(2n) {
                        @include omega();
                    }
                }
            }
            &-content {
                background-color: white;
                padding: 25px 27px 16px;
                text-align: center;
                p {
                    font-size: 14px;
                    line-height: 1.43;
                    margin-top: 7px;
                }
                @include media($fromdesc0) {
                    padding: 38px 32px 39px;
                    p {
                        font-size: 16px;
                        line-height: 1.31;
                        margin-top: 22px;
                    }
                }
            }
            @include media($mobile) {
                display: flex;
                padding-left: 15px;
                padding-right: 15px;
                justify-content: center;
                flex-wrap: wrap;
                height: 100%;
                li {
                    width: 140px;
                    max-width: 140px;
                    margin-right: 8px;
                    margin-bottom: 8px;
                    &:first-child {
                        img {
                            width: 48px;
                        }
                    }
                    &:nth-child(2) {
                        img {
                            width: 38px;
                        }
                    }
                    &:nth-child(3) {
                        img {
                            width: 52px;
                        }
                        @include omega();
                    }
                }
            }
        }
    }
    &__blockquote {
        background-color: white;
        position: relative;
        padding: 40px 35px 22px;
        @include media($fromdesc0) {
            padding: 35px 115px;
        }
        &:before {
            content: "";
            background: url(../img/icons/quote@2x.png) no-repeat;
            width: 64px;
            height: 64px;
            background-size: cover;
            @include centerX;
            top: -32px;
        }
        &-wrap {
            position: relative;
            z-index: 1;
            @include media($mobile) {
                max-width: 290px;
            }
            &:before {
                content: "";
                z-index: -1;
                @include position(absolute, 12.5px 7.5px);
                box-shadow: 0 5px 32px rgba(0, 0, 2, 0.2);
                @include media($fromdesc0) {
                    @include position(absolute, 12.5px);
                    box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
                }
            }
        }
        &-descr {
            font-size: 24px;
            line-height: 1.33;
            text-align: center;
            @include media($mobile) {
                font-size: 18px;
            }
        }
    }
    &__action {
        &-wrap {
            margin-top: 35px;
            margin-bottom: 42px;
            @include media($fromdesc0) {
                margin-top: 70px;
                margin-bottom: 44px;
            }
        }
        &-title {
            text-align: center;
            margin-bottom: 22px;
            @include media($mobile) {
                padding-left: 50px;
                padding-right: 50px;
                line-height: 1.17;
            }
            @include media($fromdesc0) {
                font-size: 28px;
                margin-bottom: 48px;
            }
        }
        &-step {
            color: #d5d5d5;
            font-family: 'Proxima Nova Lt';
            font-size: 13px;
            font-weight: 600;
            line-height: 1.38;
            @include media($fromdesc0) {
                position: absolute;
                bottom: 15px;
            }
            @include media($mobile) {
                margin-top: 24px;
            }
        }
        &-pre_step {
            font-size: 14px;
            line-height: 1.29;
            margin-top: 7px;
            @include media($fromdesc0) {
                font-size: 16px;
                line-height: 1.31;
                margin-top: 10px;
            }
        }
        &-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 18px;
            @include media($mobile) {
                flex-direction: column;
                @include outer-container(290px);
                margin-bottom: 18px;
            }
            @include media($fromdesc0) {
                margin-bottom: 38px;
            }
            li {
                &:first-child {
                    position: relative;
                    z-index: 1;
                    @include media($fromdesc0) {
                        width: 31.79856%;
                        height: 188px;
                    }
                    &:before {
                        content: "";
                        @include position(absolute, 12.5px 7.5px);
                        box-shadow: 0 5px 32px rgba(0, 0, 2, 0.2);
                        z-index: -1;
                        @include media($fromdesc0) {
                            @include position(absolute, 12.5px 12.5px 13px);
                            box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
                        }
                    }
                    .about__action-content {
                        background-color: white;
                        padding: 12px 30px 18px 16px;
                        @include media($fromdesc0) {
                            padding: 17px 30px 0 21px;
                        }
                    }
                    .about__action-descr {
                        font-size: 16px;
                        line-height: 1.5;
                        font-weight: 600;
                        font-family: 'Proxima Nova Lt';
                        @include media($fromdesc0) {
                            font-size: 21px;
                            line-height: 1.14;
                        }
                    }
                }
                &:not(:first-child) {
                    border-right: 1px solid #d5d5d5;
                    @include media($fromdesc0) {
                        width: 22.73381%;
                        border-bottom: 1px solid #d5d5d5;
                        border-top: 1px solid #d5d5d5;
                        margin-top: 16px;
                        height: 156px;
                    }
                    @include media($mobile) {
                        border-left: 1px solid #d5d5d5;
                        border-bottom: 1px solid #d5d5d5;
                        margin-left: 16px;
                        margin-right: 16px;
                    }
                    .about__action-content {
                        position: relative;
                        height: 100%;
                        padding: 12px 15px 13px 16px;
                        @include media($fromdesc0) {
                            padding: 15px 15px 15px 18px;
                        }
                    }
                    .about__action-descr {
                        font-size: 14px;
                        line-height: 1.29;
                    }
                }
            }
            @include media($fromdesc0) {
                &--second {
                    li {
                        &:not(:first-child) {
                            width: 34.10072%;
                        }
                    }
                }
                &--third {
                    li {
                        &:nth-child(2) {
                            width: 21.22302%;
                        }
                        &:nth-child(3) {
                            width: 24.22460%;
                        }
                        &:nth-child(4) {
                            width: 22.73381%;
                        }
                    }
                }
            }
        }
    }
    &__contact {
        position: relative;
        z-index: 2;
        @include media($mobile) {
            @include outer-container(290px);
            margin-top: 32px;
        }
        @include media($fromdesc0) {
            margin-top: -100px;
            @include outer-container(835px);
        }
        @include media($frommobtodesc13) {
            margin-top: -80px;
        }
        &:before {
            content: "";
            @include position(absolute, 15px 12.5px 5px);
            box-shadow: 0 18px 64px rgba(0, 0, 0, 0.48);
            z-index: -1;
        }
        &-wrap {
            //background: url(../img/about-contact.jpg)no-repeat;
            background: url(../img/img-about-1920.jpg)no-repeat;
            background-size: cover;
            background-position: center;
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                background: url(../img/img-about-1920-@2x.jpg)no-repeat;
                background-size: cover;
                background-position: center;
            }
            @include media($mobile) {
                //background-position-y: 185px;
                //background-position-x: -380px;
                background-position-x: -450px;
            }
            @include media($fromdesc0) {
                margin-top: -50px;
                padding-top: 97px;
                padding-bottom: 80px;
            }
            @include media($frommobtodesc13) {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
        &-title {
            opacity: 0.4;
            color: #d5d5d5;
            font-family: 'Proxima Nova Lt';
            font-size: 170px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            @include user-select(none);
            @include media($frommobtodesc13) {
                font-size: 130px;
            }
            @include media($frommobtodesc14) {
                font-size: 160px;
            }
        }
        &-subtitle {
            font-size: 16px;
            line-height: 1.5;
            @include media($fromdesc0) {
                @include outer-container(605px);
                text-align: center;
            }
            @include media($mobile) {
                display: flex;
                justify-content: center;
                background-color: white;
                padding: 23px 22px 40px;
            }
            &--primary {
                margin-bottom: 80px;
            }
        }
        &-inner {
            background-color: white;
            @include media($fromdesc0) {
                padding-top: 64px;
            }
            @include media($mobile) {
                padding: 14px 0 24px;
            }
        }
        &-callback {
            @include media($fromdesc0) {
                float: left;
                width: 41.91617%;
                margin-left: 64px;
                margin-top: -5px;
                margin-right: 10px;
                p,
                li {
                    font-size: 16px;
                    line-height: 1.5;
                }
            }
            @include media($mobile) {
                p,
                li {
                    font-size: 14px;
                }
            }
        }
        &-aside {
            display: block;
            @include media($fromdesc0) {
                float: left;
                width: 41.55700%;
                @include clearfix;
                position: relative;
                z-index: 1;
                &:before {
                    content: "";
                    @include position(absolute, 9px 16px);
                    box-shadow: 0 12px 48px rgba(0, 0, 0, 0.32);
                    z-index: -1;
                }
                &-inner {
                    background-color: white;
                    padding: 31.5px 47px 35px;
                }
            }
            &-title {
                text-transform: uppercase;
                @include media($mobile) {
                    font-size: 16px;
                    margin-top: 20px;
                }
            }
        }
    }
    &__callback {
        &-title {
            font-size: 21px;
            text-transform: uppercase;
            @include media($mobile) {
                font-size: 16px;
                line-height: 1.5;
            }
        }
        &-subtitle {
            max-width: 300px;
            @include clearfix;
            font-size: 16px;
            line-height: 1.5;
            margin-top: 6px;
            margin-bottom: 16px;
            @include media($fromdesc0) {
                margin-top: 9px;
                margin-bottom: 36px;
            }
        }
        &-list {
            list-style: none;
            padding: 0;
            max-width: 100%;
            @include clearfix;
            @include media($fromdesc0) {
                margin-bottom: 22px;
                li p {
                    width: 50%;
                    float: left;
                    &:first-child {
                        width: 32%;
                    }
                }
            }
            @include media($mobile) {
                padding-top: 17px;
                padding-bottom: 1px;
                li {
                    &:first-child {
                        width: 40%;
                        float: left;
                        line-height: 1.43;
                    }
                    &:not(:first-child) {
                        width: 60%;
                        float: right;
                        @include clearfix();
                        margin-bottom: 18px;
                        padding-left: 25px;
                        p:first-child {
                            color: #6c6c6c;
                            font-family: 'Proxima Nova Lt';
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 1.33;
                            text-transform: uppercase;
                            letter-spacing: 1.1px;
                        }
                        p:not(:first-child) {
                            line-height: 1.29;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
    }
    &__stores {
        @include span-columns(12 of 12);
        background-color: #e56266;
        color: white;
        margin-top: -134px;
        padding-top: 125px;
        padding-left: 64px;
        padding-right: 64px;
        padding-bottom: 77px;
        &-title {
            font-size: 28px;
            text-transform: uppercase;
        }
        &-list {
            padding: 5px 0 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            li {
                //@include span-columns(4 of 12);
                float: left;
                width: 33.33333%;
                &:nth-child(3n) {
                    padding-left: 50px;
                }
                &:not(:nth-child(n+4)) {
                    margin-bottom: 35px;
                }
                p {
                    font-size: 16px;
                    line-height: 1.5;
                    &:first-child {
                        font-family: 'Proxima Nova Lt';
                        font-weight: 600;
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    @include media($mobile) {
        &__callback-title,
        &__callback-subtitle,
        &__callback-list,
        &__contact-aside {
            padding-left: 16px;
            padding-right: 16px;
        }
        &__callback-list,
        &__contact-aside {
            border-top: 1px solid #d5d5d5;
        }
        &__callback-title,
        &__callback-subtitle,
        &__contact-aside-title,
        &__map-subtitle {
            text-align: center;
        }
        &__callback-subtitle,
        &__map-subtitle {
            line-height: 1.43;
        }
        &__map-subtitle {
            font-size: 14px;
            @include outer-container(270px);
            margin-top: 5px;
            padding-left: 12px;
            padding-right: 12px;
        }
        &__map-title,
        &__map-subtitle {
            color: white;
        }
    }
}