.main-page__auto-hardware {
    background: white;
    @include media($fromdesc0) {
        padding-top: 72px;
        padding-bottom: 98px;
    }
    @include media($mobile) {
        padding-top: 30px;
        padding-bottom: 16px;
    }
    @include media($frommobtodesc) {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.auto-hardware {
    &__title-small {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
    }
    &__list {
        padding: 0;
        list-style: none;
        @include outer-container(900px);
          margin-top: 20px;
        @include media($fromdesc0) {
            margin-top: 70px;
        }
      
    }
    &__item {
        text-align: center;
           @include media($fromdesc0) {
            @include span-columns(2 of 4);
            @include omega(2n);
        }
        @include media($mobile) {
            max-width: 100%;
            margin-left: 15px;
            margin-right: 15px;
            padding: 32px 0;
            &:first-child {
                border-bottom: 1px solid #d6d6d6;
                img {
                    width: 161px;
                }
            }
            &:last-child img {
                width: 153px;
            }
        }
    }
    &__subtitle {
        font-size: 22px;
        font-weight: 600;
        position: relative;
        font-family: 'Proxima Nova Lt';
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 28px;
        @include media($fromdesc0) {
            font-size: 22px;
            margin-top: 30px;
            margin-bottom: 34px;
        }

        &--pink {
            &:before {
                content: "";
                @include centerX;
                display: block;
                width: 32px;
                height: 3px;
                background-color: #e56266;
                box-shadow: 0 1px 6px rgba(218, 32, 37, 0.7);
                 bottom: -12px;
                @include media($fromdesc0) {
                    bottom: -18px;
                }
                
            }
        }
        &--green {
            &:before {
                content: "";
                @include centerX;
                display: block;
                bottom: -18px;
                width: 32px;
                height: 3px;
                background-color: #63b932;
                box-shadow: 0 1px 6px rgba(99, 185, 50, 0.7);
                  bottom: -12px;
               @include media($fromdesc0) {
                    bottom: -18px;
                }
                
            }
        }
    }
    &__descr {
        margin-bottom: 9px;
        font-size: 14px;
        line-height: 1.29;
       @include media($fromdesc0) {
            font-size: 16px;
            line-height: 1.31;
        }
        @include media($mobile) {
            
            @include outer-container(290px);
        }
    }
    &__list-tel {
        padding: 0;
        list-style: none;
        margin-top: 9px;
        @include media($fromdesc0) {
            margin-bottom: 13.25px;
        }
        li {
           @include media($fromdesc0) {
                display: inline-block;
            }
            p {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.5;
                font-family: 'Proxima Nova Lt';
                @include media($fromdesc0) {
                    line-height: 1;
                }
            }
           @include media($fromdesc0) {
                &:not(:last-child) {
                    position: relative;
                    p {
                        margin-right: 10px;
                    }
                    &:before {
                        content: "•";
                        font-family: 'Proxima Nova Lt';
                        font-size: 14px;
                        right: 0;
                        color: #2e2e2e;
                        display: block;
                        @include centerY;
                    }
                }
            }
        }
    }
}

