.page-auto-part__content{
    @include media($frommobtodesc3) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.auto-part__list {
    list-style: none;
    padding: 0;
   @include media($fromdesc0) {
        margin-top: 131px;
    }
    @include media($mobile) {
        display: flex;
        flex-wrap: wrap;
        max-width: 290px;
        margin-top: 40px;
        padding-top: 15px;
    }
}

.auto-part__item {
      @include media($fromdesc0) {
        @include span-columns(12 of 12);
        position: relative;
        z-index: 1;
        &:before {
            content: "";
            box-shadow: 0 0 70px rgba(0, 0, 2, 0.2);
            @include position (absolute, 15px);
            z-index: -1;
        }
        &:not(:last-child) {
            margin-bottom: 112px;
        }
        &:last-child {
            margin-bottom: 143px;
        }
    }
    @include media($mobile) {
        display: flex;
        flex-wrap: wrap;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        &:last-child {
            margin-bottom: 48px;
            &>.auto-part__content-wrap:after {
                background-image: linear-gradient(140deg, rgba(69, 130, 35, 0.8) 0%, rgba(145, 206, 111, 0.8) 100%);
            }
        }
    }
}

.auto-part__content-wrap {
      @include media($fromdesc0) {
        width: 100%;
    }
    @include media($mobile) {
        order: 2;
        position: relative;
        z-index: 1;
        max-width: 270px;
        margin: auto;
        &:before {
            content: "";
            @include position(absolute, 0 10px 15px);
            z-index: -1;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.32);
        }
        &:after {
            content: "";
            width: 50px;
            height: 50px;
            background-color: white;
            background-image: linear-gradient(140deg, rgba(153, 22, 26, 0.7) 0%, rgba(229, 98, 102, 0.7) 100%);
            @include position(absolute, null 6px 6px null);
            z-index: -1;
        }
    }
}

.auto-part__content-wrap,
.auto-part__img-inner {
    background-color: white;
}

.auto-part__img-inner {
    width: 100%;
    height: 100%;
    @include media($mobile) {
        padding-top: 15px;
        padding-bottom: 25px;
    }
}

.auto-part__content-inner {
    @include media($frommobtodesc9) {
         &--left {
                padding: 58px 120px 64px 30px
        }
        &--right {
            
             padding: 58px 30px 64px 140px;
        }
    }
   
    @include media($fromdesc6) {
          &--left {
            padding: 58px 60px 64px;
        }
        &--right {
            float: right;
            padding: 58px 53px 64px 78px;
        }
    }
     @include media($fromdesc0) {
         &--right {
             float: right;
         }
        max-width: 580px;
       
    }
    @include media($mobile) {
        background: url(../img/bg-TR.png)no-repeat;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        padding-left: 18px;
        padding-right: 22px;
        &--right {
            .auto-part__title {
                margin-bottom: 42px;
            }
        }
    }
}

.auto-part__title {
      @include media($fromdesc0) {
        text-shadow: 0 6px 21px rgba(0, 0, 0, 0.16);
        font-size: 24px;
        line-height: 1;
        margin-bottom: 24px;
    }
    @include media($mobile) {
        padding-top: 16px;
        margin-bottom: 32px;
        font-size: 18px;
        line-height: 1.17;
        position: relative;
        &:before {
            content: "";
            width: 36px;
            height: 3px;
            background-color: #2e2e2e;
            position: absolute;
            left: 0;
            bottom: -15px;
        }
    }
}

.auto-part__descr {
    margin-bottom: 17px;
    font-size: 14px;
        line-height: 1.29;
     @include media($fromdesc0) {
        font-size: 16px;
        line-height: 1.5;
    }
    @include media($mobile) {
        
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 20px;
    }
}

.auto-part__img-wrap {
    background-color: white;
    @include media($frommobtodesc) {
        width: 250px;
        height: 400px;
        top: -8px;
        &--left {
            img {
                width: 180px;
                margin-left: -5px;
                
            }
        }
        &--right {
            img {
                width: 200px;
                
            }
        }
    }
    @include media($fromdesc1) {
        width: 450px;
        height: 450px;
        top: -55px;
    }
      @include media($fromdesc0) {
        position: absolute;
        z-index: 1;
        img {
            @include centerXY;
        }
        &--left {
            left: 0;
            float: left;
        }
        &--right {
            right: 0;
            float: right;
        }
        &:before {
            content: "";
            @include position(absolute, 15px);
            z-index: -1;
            box-shadow: 0 8px 80px rgba(0, 0, 0, 0.64);
        }
    }
    @include media($mobile) {
        position: relative;
        width: 100%;
        z-index: 2;
        &--left {
            img {
                width: 150px;
                margin-top: 8px;
            }
        }
        &--right {
            img {
                width: 200px;
                position: relative;
                left: -5px;
            }
        }
        &:before {
            content: "";
            @include position(absolute, 5px 10px 15px);
            z-index: -1;
            box-shadow: 0 8px 48px rgba(0, 0, 0, 0.24);
        }
    }
}

.auto-part__list-tel {
    padding: 0;
    list-style: none;
      @include media($fromdesc0) {
        margin-top: 9px;
        margin-bottom: 13.25px;
    }
    @include media($mobile) {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
        padding-bottom: 18px;
    }
    li {
        p {
            font-family: Proxima Nova Bd;
            font-weight: 700;
            line-height: 1;
        }
         @include media($fromdesc0) {
            display: inline-block;
            p {
                font-size: 18px;
            }
            &:not(:last-child) {
                position: relative;
                margin-right: 6px;
                p {
                    margin-right: 16px;
                }
                &:before {
                    content: "  •  ";
                    font-family: Proxima Nova Bd;
                    font-size: 18px;
                    right: 0;
                    color: #2e2e2e;
                    display: block;
                    @include centerY;
                }
            }
        }
        @include media($mobile) {
            display: inline-flex;
            width: 46%;
            margin-bottom: 6px;
            p {
                font-size: 14px;
            }
            &:first-child:after {
                content: "•";
                font-family: Proxima Nova Bd;
                font-size: 14px;
                color: #2e2e2e;
                @include centerX;
            }
        }
    }
}


