.btn {
    @include btn;
    font-family: 'Proxima Nova Lt';
    text-align: center;
    transition: all .3s ease;
}

.auction__form-btn {
    width: 100%;
    @include media($mobile) {
        font-size: 18px !important;
        text-transform: none !important;
    }
    &-wrap {
        margin-top: 18px;
        @include media($mobile) {
            margin-top: 20px;
        }
    }
}

.btn-annotation {
    padding: 14px 32px;
    color: white;
    font-size: 18px;
    //font-weight: 600;
    min-width: 100%;
    @include media($mobile) {
        font-size: 13px;
        text-transform: uppercase;
        max-width: 100%;
        padding: 13px 15px;
    }
     &--pink,&--gray,&--green {
       
        &-wrap {
            position: relative;
            z-index: 1;
            &:before,
            &:after{
                content: "";
              
                @include position (absolute, 5.5px 6px);
               
                transition: all .3s ease;
                @include media($fromdesc0) {
                   @include position (absolute, 7.5px);   
                }
            }
             &:before{
               
                z-index: -1;
            }
            &:after {
               
            
                z-index: -2;
               
            }
            &:hover {
                background-color: rgb(153, 22, 26);
                position: relative;
                z-index: 1;
               
         }
    }
    }
    &--pink {
        background-color: #e56266;
        &-wrap {
           
            
            &:before{
                 box-shadow: 0 12px 21px rgba(229, 98, 102, 0.7);
               
            }
            &:after {
               
                box-shadow: 0 12px 21px rgba(0, 0, 0, 0.3);
              
               
            }
            &:hover {
             
                &:before {
                  
                    box-shadow: 0px 12px 24px 0px rgba(229, 98, 102, 0.8);
                  
                }
                &:after {
                  
                    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
                  
                }
            }
            &-reviews {
                @include media($mobile) {
                    margin-top: 34px;
                    .btn {
                        font-size: 18px;
                        text-transform: none;
                    }
                }
                &:before {
                    box-shadow: 0 8px 21px rgba(229, 98, 102, 0.7);
                }
                &:after {
                    box-shadow: 0 8px 21px rgba(0, 0, 0, 0.3);
                }
            }
        }
        &:hover {
            background-color: rgb(153, 22, 26);
        }
    }
    &--gray {
        background-color: #2e2e2e;
        &-wrap {
            
            &:before {
              
                box-shadow: 0px 8px 21px 0px rgba(46, 46, 46, 0.7);
               
            }
            &:after {
               
                box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.3);
             
            }
            &:hover {
                background-color: rgb(153, 22, 26);
                position: relative;
                z-index: 1;
                &:before {
                 
                    box-shadow: 0px 12px 32px 0px rgba(46, 46, 46, 0.004);
                  
                }
                &:after {
                   
                    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.72);
                  
                }
            }
        }
        &:hover {
            background-color: rgb(13, 13, 13);
        }
    }
    &--green {
        background-color: #63b932;
        &-wrap {
            position: relative;
            z-index: 1;
            &:before {
           
                box-shadow: 0px 8px 21px 0px rgba(145, 206, 111, 0.7);
            
            }
            &:after {
              
                box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.3);
              
            }
            &:hover {
              
                &:before {
                   
                    box-shadow: 0px 12px 24px 0px rgba(145, 206, 111, 0.8);
                   
                }
                &:after {
                  
                    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
                    
                }
            }
        }
       
        &:hover {
            background-color: rgb(69, 130, 35);
        }
    }
}

.btn--primary {
    padding: 13px 25px;
    font-size: 13px;
    //font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    min-width: 137px;
    cursor: pointer;
}

.btn__auto-hardware {
    margin-top: 13.25px;
    &--pink {
        border: 2px solid #e56266;
        color: #e56266;
        &:hover {
            background-color: rgb(229, 98, 102);
            color: white;
        }
    }
    &--green {
        border: 2px solid #63b932;
        color: #63b932;
        &:hover {
            color: white;
            background-color: rgb(99, 185, 50);
        }
    }
}

.btn-more-offer {
    color: #e56266;
    font-size: 13px;
   // font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    border: 2px solid #e56266;
    margin-top: 15px;
    margin-bottom: 32px;
    padding: 13px 21px;
   @include media($fromdesc0) {
        margin-top: 34.5px;
        margin-bottom: 64px;
        padding: 13px 24px;
    }
   
    &:hover {
        background-color: rgb(229, 98, 102);
        color: white;
    }
}

.btn__testimonials {
    border: 2px solid white;
    color: white;
    &:hover {
        background-color: white;
        color: #181818;
    }
}

.form__submit {
    border: 2px solid #e56266;
    color: #e56266;
    margin-top: 6px;
    &--all-news {
        padding: 13px 28px;
    }
    &:hover {
        background-color: #e56266;
        color: white;
    }
    @include media($mobile) {
        width: 100%;
    }
}

.btn__news {
    color: #2e2e2e;
    border: 2px solid #2e2e2e;
    &:hover {
        background-color: #2e2e2e;
        color: white;
    }
}

.btn__news-wrap {
    text-align: center;
    @include media($fromdesc0) {
        float: right;
    }
}

@keyframes ngdialog-flyup {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
        transform: translateY(40px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes ngdialog-flydown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
        transform: translateY(80px)
    }
}

.fly-up {
    animation: ngdialog-flyup .6s;
}

.fly-down {
    animation: ngdialog-flydown .6s !important;
}

.to-up {
    width: 48px;
    height: 49px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
    position: fixed;
    //bottom: 33.5px;
    bottom: 40px;
    right: 19.5px;
    border-radius: 50%;
    transition: all .3s ease;
    display: none;
    z-index: 15;
    &:before {
        content: "";
        display: block;
        background: url(../img/icons/arrow.svg);
        width: 12px;
        height: 17px;
        background-size: cover;
        @include centerXY;
    }
    &:hover {
        box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.32);
    }
}

.page-card__aside-btn {
    width: 100%;
    position: relative !important;
}

.btn__slide-up {
    width: 100%;
    font-size: 14px;
    font-family: Proxima Nova Rg;
    font-weight: 400;
    border-top: 1px solid #d5d5d5;
    &--descr {
        padding-top: 10px;
        padding-bottom: 13px;
    }
    &--photo {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    i {
        top: 1px;
        position: relative;
        left: 1px;
    }
    &:hover {
        color: #e56266;
        i {
            color: #e56266;
        }
    }
}

.btn-reviews {
    font-size: 13px;
    //font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding: 16px 31px 15px;
    background-color: white;
    color: #2e2e2e;
    &:hover {
        background-color: #d5d5d5;
    }
}

.btn-cancel {
    font-size: 18px;
    //font-weight: 700;
    padding: 12px 32px;
    background-color: white;
    border: 2px solid #2e2e2e;
    &:hover {
        color: white;
        background-color: #2e2e2e;
    }
}

.btn__auto-card-offer {
    font-size: 13px;
    //font-weight: 700;
    line-height: 1;
    padding: 13px 24px;
    text-transform: uppercase;
    color: #e56266;
    border: 2px solid #e56266;
    margin-bottom: 10px;
    &:hover {
        background-color: rgb(229, 98, 102);
        color: white;
    }
}

.btn__auto-card-clear {
    color: #2e2e2e;
    text-decoration: underline;
    transition: all .3s ease;
  @include media($fromdesc0) {
        font-size: 13px;
    }
    @include media($mobile) {
        font-size: 14px;
        text-decoration-color: #bdbdbd;
    }
    &:hover {
        color: #999999;
    }
}

.btn-map-xs {
    border-top: 1px solid #d5d5d5;
    @include btn;
    font-size: 13px;
    line-height: 1;
    padding: 13px 26px 16px;
    transition: all .3s ease;
    width: 100%;
    color: #2e2e2e;
    background-color: white;
    &:after {
        content: "";
        background: url(../img/icons/arrow-right-map-mob@2x.svg);
        background-size: cover;
        width: 17px;
        height: 12px;
        right: 26px;
        position: absolute;
    }
}

.btn-result {
   
    color: #63b932;
    border-top: 1px solid #63b932;
    
    &:hover {
        color: white;
        background-color: rgb(99, 185, 50);
    }
    @include media($mobile) {
    display: none;
    padding-top: 18px;
    padding-bottom: 18px; 
    width: 100%;
    }
    @include media($fromdesc0) {
        border: 2px solid #63b932;
        margin-top: 8px;
        margin-bottom: 18px;
       
    } 
}
.changed .btn-result {display:inline-block}
.btn-annotation--pink-wrap-reviews {
    @media screen and (max-width: 767px) and (min-height: 560px) {
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 24px;
        margin-top: 20px !important;
        &:hover {
            position: absolute;
        }
    }
}


