.main-page__annotation {
    @include media($fromdesc0) {
        @include outer-container(605px);
    }
    padding: 0;
    list-style: none;
    @include media($mobile) {
        @include outer-container(305px);
        position: relative;
        z-index: 1;
        &:before {
            content: "";
            background: url(../img/bg-oreol.svg)no-repeat;
            height: 143px;
            z-index: -1;
            opacity: 0.3;
            background-size: cover;
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: 0;
        }
    }
    li {
        position: relative;
        display: block;
        z-index: 1;
        float: left;
        width: 31.15%;
        margin-right: 3.28%;
        @include media($fromdesc0) {
            width: 30%;
            margin-right: 4.06590%;
        }
        &:nth-child(3n+1) {
            clear: left;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &-card {
        @include media($fromdesc0) {
            background: url(../img/annotation@2x.png)no-repeat;
            background-size: 175.5px 171.5px;
            left: 3px;
            right: 3px;
            min-height: 171.5px;
            padding: 64px 34px 55.5px;
        }
        text-align: center;
        position: absolute;
        top: 0;
        @include media($mobile) {
            background: url(../img/annotation-bgv2.png)no-repeat;
            background-size: 95px 133px;
            min-height: 136px;
            padding: 66px 10px 0;
            left: 0;
            right: 0;
            &:before {
                content: "";
                box-shadow: 0 6px 18px rgba(0, 0, 0, 0.24);
                @include position (absolute, 38.5px 4px 3px);
                z-index: -1;
            }
        }
        p {
            text-align: inherit;
            color: #999;
            font-size: 12px;
            line-height: 1.17;
            @include media($fromdesc0) {
                font-size: 15px;
                line-height: 1.2;
            }
        }
        img {
            @include centerX;
            width: 48px;
            height: 48px;
            bottom: -24px;
            @include media($fromdesc0) {
                bottom: -15px;
                width: 62px;
                height: 62px;
            }
        }
    }
}

.main-page__grid-icons {
    list-style: none;
    background: white;
    position: relative;
    //top: -96.5px;
    z-index: 1;
    &--main {
        @include media($fromdesc0) {
            padding: 29.5px 55px 32px;
            li {  @include span-columns(2 of 10);}
        }
        @include media($mobile) {
            padding: 25px 15px;
            height: 100%;
            background: url(../img/bg-bar-mob@2x.png) no-repeat;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &--one-card {
        @include media($fromdesc0) {
            padding: 29.5px 40px 32px;  
        }
         li{ 
              @include media($fromdesc0) {
                  @include span-columns(2 of 10);
             }
              @include media($fromdesc1) {
                width: 20%;
                margin-right: 0;
             }
        }
        @include media($mobile) {
            padding: 25px 15px;
            height: 100%;
            background: url(../img/bg-bar-mob@2x.png) no-repeat;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &-wrap {
        background: white;
        position: relative;
        z-index: 1;
        @include media ($frommobtodesc3) {
            margin-left: 14px;
            margin-right: 14px;
        }
        @include media($fromdesc0) {
            top: -96.5px;
        }
        @include media($mobile) {
            top: -128px;
        }
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            @include media($fromdesc0) {
                box-shadow: 0 0 50px rgba(0, 0, 2, 0.4);
                left: 15.5px;
                right: 12.5px;
                top: 25px;
                bottom: 35px;
            }
        }
        @include media($mobile) {
            @include outer-container(290px);
            background: url(../img/bg-bar-mob@2x.png)no-repeat;
            background-size: 100% 100%;
            height: 420px;
            &:before {
                content: "";
                box-shadow: 0 0 50px rgba(0, 0, 2, 0.4);
                top: 25px;
                bottom: 25px;
                left: 14px;
                right: 14px;
            }
        }
    }
    li {
        p {
            margin: auto;
            text-align: center;
        }
        img {
            position: relative;
        }
        @include media($fromdesc0) {
          
            @include omega(5n);
            p {
                font-size: 16px;
                line-height: 1.31;
            }
            &:not(:first-child) img {
                margin-top: 5px;
            }
            &:first-child img {
                left: -1px;
                top: 2px;
            }
            &:first-child p,
            &:last-child p {
                margin-top: 17px;
            }
            &:nth-child(2) {
                img {
                    left: 4px;
                    top: 2px;
                }
                p {
                    margin-top: 33px;
                }
            }
            &:nth-child(3) {
                img {
                    top: 5px;
                }
                p {
                    margin-top: 25px;
                }
            }
            &:nth-child(4) {
                img {
                    left: 5px;
                    top: 2px;
                }
                p {
                    margin-top: 32px;
                }
            }
            &:last-child img {
                left: 2px;
            }
        }
        @include media($mobile) {
            //@include span-columns(6 of 12);
            // @include omega(2n);
            margin-bottom: 32px;
            width: 49.81%;
            p {
                font-size: 13px;
                line-height: 1.23;
                margin-top: 12px;
                position: relative;
            }
            &:first-child {
                img {
                    left: -6px;
                    width: 63px;
                }
                p {
                    left: -5px;
                }
            }
            &:nth-child(2) {
                order: 3;
                img {
                    left: 2px;
                    top: 1px;
                    width: 57px;
                }
                p {
                    top: 3px;
                }
            }
            &:nth-child(3) {
                order: 5;
                img {
                    top: 6px;
                    width: 77px;
                }
                p {
                    top: 7px;
                }
            }
            &:nth-child(4) {
                order: 4;
                img {
                    left: 6px;
                    top: 1px;
                    width: 57px;
                }
                p {
                    top: 3px;
                }
            }
            &:last-child {
                //@include centerX;
                // bottom: 0;
                order: 2;
                img {
                    left: 3px;
                    width: 81px;
                }
                p {
                    left: 2px;
                }
            }
        }
    }
}

.auction__aside {
    background-color: white;
    @include media($frommobtodesc) {
        @include span-columns(9 of 24);
    }
    @include media($fromdesc1) {
        @include span-columns(4 of 12);
        &--left {
            width: 31%;
        }
        &--right {
            width: 30.8%;
        }
    }
    @include media($fromdesc0) {
        margin-top: -494px;
        z-index: 1;
        position: relative;
        &:before {
            box-shadow: 0 16px 64px rgba(0, 0, 0, 0.32);
            position: absolute;
            z-index: -1;
            left: 16px;
            right: 16px;
            top: 9px;
            bottom: 9px;
            content: "";
        }
    }
    @include media($mobile) {
        @include outer-container(100%);
        width: 100%;
    }
    &-title {
        font-size: 20px;
        line-height: 1.2;
        margin-top: -5px;
         &--center{
        text-align: center;
    }
    }
    &-inner {
        background-color: white;
        padding: 31.5px;
    }
}
.auction__title,
.auction__main-content,
.header-menu--shadow{
 @include media($frommobtodesc) {
    max-width:  728px;
        }
    @include media($frommobtodesc2) {
       
       max-width:960px;
    }
}
.auction__title {
    position: relative;
    //right: 85px;
    //bottom: 50px;
    font-family: Proxima Nova Bd;
    font-size: 21px;
    line-height: 1.14;
    @include media($fromdesc0) {
        font-size: 34px;
        line-height: 1.12;
    }
   
    &--left {
        text-align: left;
        @include media($mobile) {
        margin-left: 30px;
        }
        &:before {
            content: "";
            height: 3px;
            background-color: white;
            position: absolute;
            left: 2px;
            width: 36px;
            bottom: -15px;
            @include media($fromdesc0) {
                width: 48px;
                bottom: -18px;
            }
        }
    }
    &--right {
        
        @include media($fromdesc0) {
            text-align: right;
        }
        @include media($mobile) {
            margin-left: 30px;
            text-align: left;
        }
        &:before {
            content: "";
            height: 3px;
            background-color: white;
            position: absolute;
            width: 36px;
            bottom: -15px;
            @include media($mobile) {
                left: 2px;
            }
            @include media($fromdesc0) {
                width: 48px;
                bottom: -18px;
                right: 2px;
            }
        }
    }
    &--auction,
    &--sell,
    &--check{
        margin-top: 235px;
        @include media($fromdesc0) {
            margin-top: 427px;
        }
    }
}

.auction__main-content {
    background-color: white;
   
    @include media($fromdesc0) {
        padding-top: 56px;
        padding-bottom: 35px;
    }
    &--sell {
        @include media($fromdesc0) {
            padding-bottom: 60px;
        }
    }
    &-wrap {
        background-color: white;
    }
    @include media($mobile) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 21px;
    }
}

.auction__list {
    padding: 0;
    list-style: none;
    @include media($frommobtodesc) {
        @include span-columns(15 of 24);
    }
    @include media($fromdesc1) {
        @include span-columns(8 of 12);
    }
    &--left {
        
        @include media($fromdesc1) {
            margin-right: 4.75765%;
            margin-left: -15px;
        }
        
    }
    @include media($mobile) {
        order: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 290px;
        margin: auto;
        border-top: 1px solid #d5d5d5;
        padding-top: 46px;
    }
    li {
        text-align: center;
        @include media($fromdesc0) {
            @include span-columns(4 of 12);
            @include omega(3n);
            margin-bottom: 44px;
        }
        @include media($mobile) {
            width: 49.81%;
            margin-bottom: 35px;
        }
        img {
            position: relative;
        }
        p {
            position: relative;
            text-align: center;
            @include media($fromdesc0) {
                line-height: 1.31;
                margin-top: 15px;
                padding-left: 14px;
            }
            @include media($mobile) {
                font-size: 14px;
                line-height: 1.29;
                margin-top: 16px;
            }
        }
        &:first-child {
            @include media($fromdesc0) {
                img {
                    left: 6px;
                }
            }
        }
        &:first-child {
            @include media($fromdesc0) {
                p {
                    left: -1px;
                }
            }
            @include media($mobile) {
                img {
                    width: 55px;
                }
            }
        }
        &:nth-child(2) {
            img {
                top: 4px;
            }
            @include media($fromdesc0) {
                img {
                    left: 13px;
                }
                p {
                    top: 10px;
                    left: 5px;
                }
            }
            @include media($mobile) {
                img {
                    width: 76px;
                }
                p {
                    top: 8px;
                }
            }
        }
        &:nth-child(3) {
            @include media($fromdesc0) {
                img {
                    left: 18px;
                }
                p {
                    left: 10px;
                    top: 1px;
                }
            }
            @include media($mobile) {
                img {
                    width: 57px;
                    top: -1px;
                }
                p {
                    top: -3px;
                }
            }
        }
        &:nth-child(4) {
            span {
                color: #e56266;
                font-family: Arial;
                font-weight: 400;
            }
            @include media($fromdesc0) {
                span {
                    font-size: 100px;
                    line-height: 0.7;
                    position: relative;
                    left: 4px;
                    top: 2px;
                }
                p {
                    top: 2px;
                    left: -1px;
                }
            }
            @include media($mobile) {
                span {
                    font-size: 80px;
                    line-height: 0.7;
                    position: relative;
                    top: 4px;
                }
                p {
                    top: 2px;
                }
            }
        }
        &:nth-child(5) {
            @include media($fromdesc0) {
                img {
                    left: 12px;
                    top: 17px;
                }
                p {
                    top: 34px;
                    left: 6px;
                }
            }
            @include media($mobile) {
                img {
                    width: 89px;
                    top: 10px;
                }
                p {
                    top: 12px;
                }
            }
        }
        &:nth-child(6) {
            @include media($fromdesc0) {
                img {
                    left: 30px;
                    top: 7px;
                }
                p {
                    top: 8px;
                    left: 10px;
                }
            }
            @include media($mobile) {
                img {
                    width: 62px;
                    top: -5px;
                    left: 10px;
                }
                p {
                    top: -5px;
                }
            }
        }
    }
}

.page-404 {
    margin-top: 100px;
    color: #da2025;
    text-align: center;
    @include media ($mobile){
        padding-left: 20px;
        padding-right: 20px;
    }
    &__title{
        color: inherit;
        margin-bottom: 25px;
        span{
            @include media ($fromdesc0){
                 font-size: 52px;
            }
        }
    }
    &__link{
        color: inherit;
        text-decoration: none;
        font-size: 16px;
        position: relative;
        &:hover{
            color:#99161a;
            &:before{
                position: absolute;
                bottom: -5px;
                width: 100%;
                height: 2px;
                content: '';
                transition: all .3s ease;
                background-color: #99161a;
            }
        }
    }
}

.page-content-404 {
    display: table-row;
    height: 100%;
}
.page-wrap-404 {
    display: table;
    width: 100%;
    height: 100%;
}
