.bar-filter-xs {
    @include media($mobile) {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin-top: -95px;
        margin-bottom: 32px;
        max-width: 100%;
        box-shadow: 0 2px 8px rgba(46, 46, 46, 0.08);
        &__title {
            font-size: 14px;
            align-self: center;
            padding-left: 15px;
        }
        &__settings {
            width: 46px;
            position: relative;
            height: 40px;
            background-color: #e56266;
            cursor: pointer;
            transition: all .3s ease;
            &:before {
                content: "";
                @include centerXY;
                background: url(../img/icons/settings-icon.svg)no-repeat;
                width: 16px;
                height: 15px;
                background-size: cover;
            }
        }
    }
}

.auto-card__wrap {
    margin-top: -35px;
    @include media ($frommobtodesc4) {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.auto-card__filters,
.auto-card__filters-wrap,
.auto-card__list,
.preloader-wrap--main {
    @include outer-container(1170px);
}

.auto-card__filters {
    background: white;
    @include media($fromdesc0) {
        padding: 27px 32px 7px;
    }
    @include media($mobile) {
        padding-top: 60px;
    }
    &-wrap {
        @include media($fromdesc0) {
            position: relative;
            z-index: 1;
            &:before {
                content: "";
                box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
                position: absolute;
                z-index: -1;
                left: 25px;
                right: 25px;
                top: 25px;
                bottom: 25px;
            }
        }
        @include media($mobile) {
            @include position (fixed, 0);
            z-index: 110;
            overflow-y: scroll;
            display: none;
        }
    }
    a {
        text-decoration: none;
    }
    &-type-carcase,
    &-price-year,
    &-mark-mod,
    &-mileage-transmisson {
        @include media ($frommobtodesc) {
            @include span-columns(11 of 24);
            @include omega(2n);
            margin-right: 9.16509%;
        }
    }
    &-type-carcase {
        display: block;
        float: left;
        @include media ($frommobtodesc5) {
            width: 28.32618%;
            margin-right: 2.1%;
        }
        @include media ($fromdesc2) {
            width: 26.32618%;
            margin-right: 4.1%;
        }
        @include media($mobile) {
            width: 100%;
            margin-bottom: 15px;
            padding-left: 21px;
            padding-right: 21px;
        }
        @media screen and (max-width: 597px) {
            margin-bottom: 33px;
        }
    }
    &-price-year {
        display: block;
        float: left;
        @include media ($fromdesc1) {
            width: 25.04560%;
            margin-right: 2.33018%;
            margin-left: 1.16509%;
        }
        @include media($mobile) {
            width: 100%;
            padding-left: 21px;
            padding-right: 21px;
        }
    }
    &-mileage-transmisson {
        @include media ($fromdesc1) {
            margin-right: 0 !important;
        }
        @include media($mobile) {
            margin-bottom: 8px;
        }
    }
    &-mark-mod,
    &-mileage-transmisson {
        @include media ($fromdesc1) {
            @include span-columns(5 of 24);
        }
        @include media($mobile) {
            @include span-columns(24 of 24);
            padding-left: 21px;
            padding-right: 21px;
        }
    }
    &-checkbox {
        padding: 0;
        list-style: none;
        max-width: 100%;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        &--secondary{
            @include media ($fromdesc0) {
            margin-top: 0;
            }
        }
        li {
            text-align: center;
            cursor: pointer;
            position: relative;
            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"] + label,
            a span {
                font-size: 14px;
                line-height: 1.21;
                display: block;
                cursor: pointer;
            }
            input[type="checkbox"] + label:before {
                content: "";
                display: block;
                top: 0;
                @include centerX;
            }
             
            input[type="checkbox"]:checked + label,
            a.active {
                color: #63b932;
            }
            input[type="checkbox"]:checked + label:after,
            &.active a:after {
                content: "\f00c";
                font-family: 'FontAwesome';
                color: #63b932;
                font-size: 15px;
                display: inline-block;
                position: absolute;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                line-height: 1;
            }
            @include media($fromdesc0) {
                &:hover {
                    input[type="checkbox"] + label,
                    a span {
                        color: #63b932;
                        text-shadow: 0px 3px 15px rgba(99, 185, 50, 0.6);
                    }
                }
            }
            a {
                text-decoration: none;
                color: #2e2e2e;
            }
        }
        &--carcase,&--main-page {
            li {
                input[type="checkbox"]:checked + label:after, &>a:after {
                    border-radius: 50%;
                    box-shadow: 0 2px 6px rgba(99, 185, 50, 0.36);
                    z-index: 1;
                    padding: 4.5px;
                    background-color: white;
                }
            }
        }
        &--transport {
            li {
                box-sizing: border-box;
                height: 107px;
                 @include media($fromdesc0) {
                    width: 50%;
                }
                &.active {
                    &:before {
                        content: "";
                        @include position (absolute, -1px);
                        border: 2px solid #64c22c;
                        z-index: 1;
                    }
                }
                @include media($fromdesc0) {
                    &:hover {
                        &:before {
                            content: "";
                            @include position (absolute, -1px);
                            border: 2px solid #64c22c;
                            z-index: 1;
                        }
                    }
                }
                a {
                    height: inherit;
                    display: block;
                    position: relative;
                    z-index: 1;
                    span {
                        top: 80px;
                        position: relative;
                    }
                    &:before {
                        content: "";
                        display: block;
                        top: 38px;
                        @include centerX;
                    }
                    &:after {
                        top: 5px;
                        right: 5px;
                    }
                }
            }
            .item-legkovye {
                order: 1;
                a:before {
                    top: 48px;
                }
            }
            .item-gruzovik {
                order: 2;
            }
            .item-avtobus {
                order: 3;
                a:before {
                    top: 43px;
                }
            }
            .item-specztehnika {
                order: 4;
            }
            .item-drugoe {
                order: 5;
                a:before {
                    top: 43px;
                }
            }
        }
        &--buy {
            li {
                a span,
                input[type=checkbox]+label {
                    @include media($frommobtodesc9) {
                        font-size: 13px;
                    }
                }
            }
        }
        &--main-page {
            margin-top: 15px;
            li {
                &:nth-child(n+7) {
                    display: none;
                }
                display: block;
                float: left;
                width: 27.76157%;
                margin-right: 8.35765%;
                @include omega(3n);
                input[type="checkbox"] + label  {
                    padding-top: 37px;
                }
                &>a span  {
                    padding-top: 40px;
                }
                &>a:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
               
                }
                
                input[type="checkbox"]:checked + label:after, &.active a:after {
                    top: -7px;
                    right: -9px;
                }
                &:first-child {
                    margin-bottom: 20px;
                }
            }
            .item-sedan,
            .item-kupe {
                &>input[type="checkbox"] + label:before {
                    top: 3px;
                }
            }
            .item-gruzovik {
                &>input[type="checkbox"] + label:before {
                    top: -5px;
                }
            }
            .item-ekskavator {
                &>input[type="checkbox"] + label:before {
                    top: -15px;
                }
            }
            .item-kupe,
            .item-ekskavator {
                @include media($fromdesc2) {
                    padding-left: 7px;
                    &>input[type="checkbox"] + label:before {
                        left: 45px;
                    }
                }
            }
            .item-vnedorozhnik---krossover input[type=checkbox]+label{    
                margin-left: -2px;
                margin-right: -2px;
            }
        }
        
        &--auto,
        &--buses,
        &--special-auto,
        &--others-auto,
        &--lorries {
            li {
                float: left;
                @include media($frommobtodesc4) {
                   width: 45.82117%;
                   margin-right: 8.35766%;
                    @include omega(2n);
                }
    
            }
        }
        &--transport,
        &--auto,
        &--buses,
        &--special-auto,
        &--others-auto,
        &--lorries{
            li {
               
                    width: 33.33333%;
                
               
                @include media($fromdesc2) {
                    width: 33.33333%;
                }
            }
        }
  

        &--auto {
            li {
                margin-top: 6px;
                &:first-child {
                    margin-bottom: 13px;
                }
                &:last-child {
                    margin-right: 0;
                }
                @include media($mobile) {
                    &:nth-child(n+4) {
                        input[type="checkbox"] + label {
                            margin-top: 3px;
                        }
                    }
                }
                @media screen and (max-width: 300px) {
                    width: 92.6667px;
                }
                input[type="checkbox"] + label {
                    padding-top: 37px;
                }
                input[type="checkbox"]:checked + label:after {
                    @include media($fromdesc0) {
                        top: -12px;
                        right: 0;
                    }
                    @include media($mobile) {
                        top: -10px;
                        right: 4px;
                    }
                }
            }
            .item-kupe,
            .item-miniven,
            .item-sedan {
                &>input[type="checkbox"] + label:before {
                    @include media($mobile) {
                        top: 3px;
                    }
                }
            }
            .item-vnedorozhnik---krossover {
                &>input[type="checkbox"] + label:before {
                    @include media($mobile) {
                        top: 2px;
                    }
                }
            }
            .item-universal {
                &>input[type="checkbox"] + label:before {
                    @include media($mobile) {
                        top: 6px;
                    }
                }
            }
             .item-drugaya-legkovye {
                     &>input[type="checkbox"] + label:before, &>a:before {
                        top: 4px;
                 }
            }
        }
        &--buses {
            li {
                margin-top: 3px;
                margin-bottom: 24px;
                input[type="checkbox"] + label {
                    padding-top: 40px;
                }
                input[type="checkbox"]:checked + label:after {
                    top: -7px;
                    right: -4px;
                }
            }
            .item-mikroavtobus-gruzovoj--do-3-5t- input[type=checkbox]+label {
                margin-left: -10px;
                margin-right: -10px;
            }
            .item-gorodskoj-avtobus {
                &>input[type="checkbox"] + label:before {
                    top: -3px;
                }
            }
        }
        &--lorries {
           
            li {
                margin-bottom: 25px;
                input[type="checkbox"] + label {
                    padding-top: 42px;
                }
                input[type="checkbox"]:checked + label:after {
                    top: -8px;
                    right: 7px;
                }
            }
            .item-bortovoj,
            .item-tyagach {
                &>input[type="checkbox"] + label:before {
                    top: -2px
                }
            }
            .item-gruzovik,
            .item-drugaya-gruzovik {
                &>input[type="checkbox"] + label:before {
                    top: -1px;
                }
            }
            .item-refrizherator,
            .item-samosval {
                &>input[type="checkbox"] + label:before {
                    top: 1px;
                }
            }
            .item-legkovoj-furgon--do-1-5-t-,
            .item-mikroavtobus-gruzovoj--do-3-5t- {
                &>input[type="checkbox"] + label:before {
                    top: 3px;
                }
            }
            .item-evakuator {
                &>input[type="checkbox"] + label:before {
                    top: 2px;
                }
            }
  
        }
        &--special-auto {
            li {
                margin-bottom: 25px;
                input[type="checkbox"] + label {
                    padding-top: 44px;
                }
                input[type="checkbox"]:checked + label:after {
                    top: -5px;
                    right: 10px;
                }
            }
            .item-kran-manipulyator {
                &>input[type="checkbox"] + label:before {
                    top: -9px;
                }
            }
            .item-ekskavator {
                &>input[type="checkbox"] + label:before {
                    top: -10px;
                }
            }
            .item-kran---avtokran,
            .item-ekskavator-pogruzchik,
            .item-drugaya-specztehnika {
                &>input[type="checkbox"] + label:before {
                    top: 2px;
                }
            }
        }
        &--others-auto {
            margin-bottom: 5px;
            li {
                margin-bottom: 20px;
                input[type="checkbox"] + label {
                    padding-top: 47px;
                }
                input[type="checkbox"]:checked + label:after {
                    top: -2px;
                    right: 10px;
                }
            }
            .item-dom-na-kolesah,
            .item-priczep-dacha {
                &>input[type="checkbox"] + label:before {
                    top: 5px;
                }
            }
            .item-mobilnyj-dom,
            item-drugaya-drugoe {
                &>input[type="checkbox"] + label:before {
                    top: 6px;
                }
            }
            .item-motoczikl-bez-obtekatelej--naked-bike- {
                &>input[type="checkbox"] + label:before {
                    top: 8px;
                }
            }
            @include media($frommobtodesc) {
                .item-dom-na-kolesah {
                    &>input[type="checkbox"] + label:before {
                        top: -5px;
                    }
                }
                .item-drugaya-drugoe,
                .item-mobilnyj-dom {
                    &>input[type=checkbox]+label:before {
                        width: 70px;
                    }
                }
                .item-priczep-dacha {
                    &>input[type=checkbox]+label:before {
                        width: 75px;
                    }
                }
            }
        }
    }
    &-subtitle {
        font-size: 18px;
        font-family: Proxima Nova Bd;
        margin-bottom: 12px;
        &--transport {
            margin-left: 12px;
        }
        &-price {
            float: left;
        }
    }
    &-currency {
        @include media($frommobtodesc13) {
            margin-left: 7px;
        }
        float: left;
        margin-left: 14px;
        margin-top: 2px;
        text-decoration: none;
        a {
            text-decoration: none;
            font-size: 14px;
            color: #b3b3b3;
            margin-right: 5px;
            font-family: Proxima Nova Bd;
            &.active,
            &:hover {
                color: #63b932;
            }
        }
    }
}

@include media($fromdesc0) {
    .auto-card__item:hover .auto-card__img {
        transform: scale(1.02);
    }
}

@media screen and (min-width: 1500px) {
    .auto-card__item--buy .auto-card__btn {
        padding: 14px 11px;
    }
    .auto-card__list--buy-wrap {
        width: 80.3%;
    }
    .auto-card-filters__aside {
        width: 19.7%;
    }
}

@media screen and (min-width: 1880px) {
    .auto-card__list--buy-wrap {
        width: 82%;
    }
    .auto-card-filters__aside {
        width: 18%;
    }
}

@media screen and (min-width: 1919px) {
    .auto-card__list--buy-wrap {
        width: 78%;
    }
    .auto-card-filters__aside {
        width: 22%;
    }
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
$width: 100px;
.preloader {
    @include position(absolute, 0);
    visibility: hidden;
    &-wrap {
        position: relative;
        &.active {
            .preloader {
                visibility: visible;
                padding: 5%;
                z-index: 5;
            }
            .overlay {
                background-color: white;
                opacity: 0.72;
                @include position(absolute, 0);
            }
            .loader {
                position: relative;
                margin: 0 auto;
                width: $width;
                z-index: 1;
                @include media($mobile) {
                    width: 60px;
                }
                &:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                    box-shadow: 0 6px 18px rgba(46, 46, 46, 0.64);
                    z-index: -1;
                    border-radius: 50%;
                    margin: 8px;
                }
            }
            .loader-circular {
                animation: rotate 2s linear infinite;
                height: 100%;
                transform-origin: center center;
                width: 100%;
                @include position(absolute, 0);
                margin: auto;
                background: white;
                border-radius: 50%;
            }
            .loader-path {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                stroke-linecap: round;
            }
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: $red;
    }
    40% {
        stroke: $blue;
    }
    66% {
        stroke: $green;
    }
    80%,
    90% {
        stroke: $yellow;
    }
}

.swiper-container-horizontal .auto-card__item {
    width: 100%;
    margin-right: 0 !important;
}

.auto-card {
    &__list {
        padding: 0;
        list-style: none;
        margin-top: 14px;
        &--buy {
            background: whitesmoke;
            display: flex;
            flex-wrap: wrap;
            @include media($fromdesc0) {
                @include outer-container(100%);
                padding-top: 14px;
                margin-top: 0;
                padding-bottom: 7.5px;
                border-top: 1px solid #dbdbdb;
                padding-left: 14px;
            }
            @include media($mobile) {
                padding-bottom: 16px;
                margin-top: 0;
                justify-content: center;
            }
            &--recommend {
                @include media($fromdesc0) {
                    background-color: white;
                    padding-left: 0;
                    border: 0;
                }
                @include media($mobile) {
                    padding-bottom: 0;
                    margin-top: 14px;
                }
            }
        }
    }
    &__item {
        background-color: white;
        position: relative;
        cursor: pointer;
        transition: all .3s ease;
        @include media ($frommobtodesc4) {
            height: 378px;
        }
        @include media ($fromdesc2) {
            height: 358px;
        }
        @include media($fromdesc0) {
            box-shadow: 0 0 20px rgba(0, 0, 2, 0.1);
            margin-bottom: 14px;
        }
        @include media($mobile) {
            @include span-columns(24 of 24);
            box-shadow: 0 2px 12px rgba(0, 0, 2, 0.16);
            margin-bottom: 16px;
            @include omega();
        }
        &--featured { 
            .auto-card__img-wrap{
            &>a:first-child{
              
                    &:before{
                            position: absolute;
                            left: 0;
                            top: -1px;
                            display: block;
                            content: '';
                            width: 63px;
                            height: 43px;
                            background: url(../img/icons/icon-recommend.png) no-repeat;
                            background-size: contain;
                             z-index: 1;
                    }
                }
            }
        }
        &--main {
            @include media ($fromdesc2) {
                @include span-columns(6 of 24);
                @include omega(4n);
            }
            @include media ($frommobtodesc) {
                display: block;
                float: left;
                width: 49.05106%;
                margin-right: 1.89788%;
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
            @include media ($frommobtodesc5) {
                display: block;
                float: left;
                margin-right: 1.55%;
                width: 32.3%;
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
        &--one-card {
            display: block;
            float: left;
            width: 31.33500%;
            margin-right: 2.914085%;
            &:last-child {
                @include omega();
            }
        }
        &--buy {
            @include media($fromdesc0) {
                display: block;
                float: left;
                margin-right: 14px;
            }
            @include media($fromdesc6) {
                width: 31.63361%;
                width: calc(100% * 1/3 - 14.01px);
                &:last-child {
                    @include omega();
                }
            }
            @include media ($frommobtodesc9) {
                width: 47.50602%;
                width: calc(100% * 1/2 - 14.01px);
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
            @media screen and (min-width: 1500px) {
                width: 23.79361%;
                width: calc(100% * 1/4 - 14.01px);
            }
            @media screen and (min-width: 1880px) {
                width: 19.038%;
                width: calc(100% * 1/5 - 14.01px);
            }
        }
        &--banner {
            overflow: hidden;
            cursor: auto;
            @include media($fromdesc0) {
                img {
                    height: 100%;
                }
                &:hover {
                    box-shadow: 0 0 20px rgba(0, 0, 2, 0.1) !important;
                }
            }
            @include media($mobile) {
                box-shadow: 0 2px 18px rgba(0, 0, 2, 0.24);
                max-width: 290px;
                img {
                    height: 393px;
                }
                &:hover {
                    box-shadow: 0 2px 18px rgba(0, 0, 2, 0.24) !important;
                }
            }
        }
    }
    &__img {
        max-width: 100%;
        display: block;
        backface-visibility: hidden;
        transition: all .3s ease;
        width: 100%;
        @include media($fromdesc0) {
            object-fit: cover;
            height: 100%
        }
        @include media($mobile) {
            height: auto;
        }
        &-wrap {
            position: relative;
            width: 100%;
            overflow: hidden;
            @include media ($frommobtodesc4) {
                height: 220px;
            }
            @include media ($fromdesc2) {
                height: 200px;
            }
        }
    }
    &__share {
        position: absolute;
        z-index: 3;
        color: #2e2e2e;
        cursor: pointer;
        @include media($fromdesc0) {
            top: 6px;
            right: 6px;
            border-radius: 3px;
            box-shadow: 0 2px 6px rgba(46, 46, 46, 0.42);
            background: white;
            height: 24px;
            width: 24px;
            padding: 3.5px 4px 3.5px 6px;
            font-size: 14px;
            &:hover {
                color: white;
                background: #e56266;
                box-shadow: 0 8px 24px rgba(46, 46, 46, 0.64);
                transition: all .3s ease;
            }
        }
        @include media($mobile) {
            height: 90px;
            width: 90px;
            font-size: 16px;
            padding: 7px;
            background: transparent;
            top: 0;
            right: 0;
            &:before {
                content: "";
                width: 30px;
                height: 30px;
                opacity: 0.6;
                background: white;
                position: absolute;
                top: 11px;
                right: 11px;
                border-radius: 3px;
                box-shadow: 0 2px 6px rgba(46, 46, 46, 0.42);
            }
            i {
                position: absolute;
                top: 18px;
                right: 17px;
            }
        }
    }
    &__social {
        position: absolute;
        background: white;
        border-radius: 3px;
        padding: 3px 3px 3px 12px;
        display: none;
        height: 30px;
        z-index: 2;
        @include media($fromdesc0) {
            top: 3px;
            left: 3px;
            right: 3px;
        }
        @include media($mobile) {
            top: 8px;
            right: 8px;
            left: 8px;
            z-index: 1;
        }
        @media screen and (max-width: 319px) {
            height: auto;
        }
    }
    &__social-close {
        position: absolute;
        z-index: 3;
        color: white;
        font-size: 14px;
        background: #e56266;
        border-radius: 3px;
        box-shadow: 0 3px 8px rgba(46, 46, 46, 0.48);
        padding: 4px 6px 3.5px 6.5px;
        height: 24px;
        width: 24px;
        @include media($fromdesc0) {
            top: 6px;
            right: 6px;
            &:hover {
                background-color: rgb(153, 22, 26);
                box-shadow: 0px 3px 8px 0px rgba(46, 46, 46, 0.64);
                transition: all .3s ease;
            }
        }
        @include media($mobile) {
            top: 11px;
            right: 11px;
            i {
                @include centerXY;
            }
        }
    }
    &__copy-descr {
        float: left;
        color: #2e2e2e;
        font-size: 13px;
        margin-right: 10px;
        line-height: 1.86;
        cursor: pointer;
        text-decoration: none;
        display: block;
        position: relative;
        &--green {
            color: #458223;
            font-size: 11px;
            margin-top: 2px;
            margin-right: 5px;
            margin-right: 7px;
            margin-left: -5px;
            i {
                margin-right: 2px;
            }
            &:hover {
                color: #458223 !important;
                text-shadow: none !important;
            }
        }
        &:hover {
            color: #e56266;
            text-shadow: 0 3px 15px rgba(229, 98, 102, 0.6);
        }
    }
    &__list-social {
        float: left;
        position: absolute;
        right: 39px;
        @include media($mobile) {
            top: 0;
            bottom: 0;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            right: 50px;
        }
        @media screen and (max-width: 319px) {
            position: static;
        }
        a:not(:last-child) {
            padding-right: 10px;
        }
        a {
            display: inline-block;
            padding-top: 4px;
            color: #2e2e2e;
            font-size: 14px;
            text-decoration: none;
            transition: all .3s ease;
            @include media($mobile) {
                height: 100%;
                padding-top: 7px;
            }
            .viber-icon {
                transition: all 0.3s ease;
            }
            &:hover {
                color: #e56266;
                .viber-icon {
                    fill: #e56266;
                }
            }
        }
    }
    &__city {
        @media screen and (max-width: 1919px) {
            display: none;
        }
        position: absolute;
        right: 0;
        display: block;
        top: -20px;
        height: 21px;
        background: white;
        border-radius: 10.5px 0 0;
        font-size: 13px;
        line-height: 1;
        padding: 5px 7px 3.5px 6.5px;
    }
    &__title {
        position: relative;
        font-family: Proxima Nova Bd;
        @include media($fromdesc0) {
            border-bottom: 1px solid #dbdbdb;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 15px;
            margin-right: 15px;
            line-height: 1.06;
            font-size: 16px;
            padding: 10px 0 9px;
        }
        @include media($mobile) {
            font-size: 14px;
            line-height: 1.29;
            max-width: 70%;
            &-wrap {
                padding: 12px 15px 11px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__year {
        color: #999;
    }
    &__list-char {
        list-style: none;
        @include media($fromdesc0) {
            margin-top: 10px;
            padding: 0 15px;
        }
        @include media($mobile) {
            display: flex;
            margin-left: 15px;
            margin-right: 15px;
            border-top: 1px solid #d5d5d5;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 7px 0 12px;
            li:nth-child(3) {
                order: 4;
            }
        }
        li {
            @include media($fromdesc0) {
                @include span-columns(6 of 12);
                @include omega(2n);
                margin-bottom: 15px;
            }
            img {
                height: auto;
                display: block;
                float: left;
                margin-right: 10px;
                @include media($mobile) {
                    display: none !important;
                }
            }
            &:first-child img {
                max-width: 21px;
                position: relative;
                top: 2px;
            }
            &:nth-child(3) img {
                max-width: 22px;
            }
            &:nth-child(2) img {
                max-width: 14px;
                margin-left: 5px;
                margin-right: 7px;
            }
            &:last-child img {
                max-width: 15px;
                margin-left: 5px;
                margin-right: 6px;
                position: relative;
                left: -1px;
            }
            p {
                color: #999;
                @include media($fromdesc0) {
                    font-size: 14px;
                    line-height: 1.14;
                    position: relative;
                    top: 4px;
                }
                @include media($mobile) {
                    font-size: 12px;
                    &:last-child {
                        font-size: 13px;
                        font-family: Proxima Nova Bd;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    &__list-addl-char {
        padding: 0;
        list-style: none;
        transition: all .3s ease;
        &-wrap {
            opacity: 0;
            overflow: hidden;
            border-top: 1px solid #dbdbdb;
            margin: 0 15px;
            max-height: 0;
            transition: all 0.3s ease;
            @include media($mobile) {
                display: none !important;
            }
        }
        li {
            display: inline-block;
            color: #949494;
            font-size: 14px;
            position: relative;
            p {
                line-height: 1;
            }
            &:not(:last-child) {
                p {
                    margin-right: 10px;
                }
                &:before {
                    content: "•";
                    font-family: Proxima Nova Rg;
                    font-size: 14px;
                    right: 0;
                    color: inherit;
                    display: block;
                    @include centerY;
                }
            }
            &:empty {
                display: none;
            }
        }
    }
    &__sum,
    &__sum-list,
    &__btn,
    {
        width: 50%;
        float: left;
        max-height: 46px;
        @include media($mobile) {
            display: none !important;
        }
    }
    &__sum,
    &__sum-list li {
        font-size: 18px;
        text-align: center;
        border-top: 1px solid #dbdbdb;
        padding-top: 11px;
        //padding-right: 16px;
        padding-bottom: 12px;
        line-height: 1;
        span {
            font-size: 14px;
        }
    }
    &__sum--xs,
    &__sum-list--xs li {
        @include media($mobile) {
            text-align: right;
            font-size: 14px;
            color: #e56266;
            font-family: Proxima Nova Bd;
            line-height: 1.29;
            span {
                font-size: 12px;
            }
        }
    }
    &__sum-list,
    &__sum-list--xs {
        padding: 0;
        list-style: none;
        li {
            width: 100%;
            display: block;
            &:not(:first-child) {
                display: none;
            }
        }
    }
    &__btn {
        background-color: #e56266;
        color: white;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.11;
        text-transform: uppercase;
        padding: 14px 10px;
        &:hover {
            background-color: rgb(153, 22, 26);
        }
    }
}

@include media($fromdesc0) {
    .auto-card__content-wrap {
        transition: all .3s ease;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        width: 100%;
        position: absolute;
    }
    .auto-card__item:hover .auto-card__title {
        overflow: auto;
        white-space: normal;
    }
    .auto-card__item:hover {
        box-shadow: 0 0 40px rgba(0, 0, 2, 0.4);
    }
    .auto-card__item:hover .auto-card__list-addl-char-wrap {
        opacity: 1;
        transition: all .3s ease;
        max-height: 300px;
    }
    .auto-card__item:hover .auto-card__list-addl-char-wrap .auto-card__list-addl-char {
        margin: 14px 0;
    }
}

.auto-card__filters-checkbox--auto.auto-card__filters-checkbox--buy li {
    margin-bottom: 13px;
}

.item {
    &-sedan,&-legkovye {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/1_sedan_grey_outline.svg)no-repeat;
            width: 75px;
            height: 25px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/1_sedan_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/1_sedan_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-hetchbek {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/2_hatchback_grey_outline.svg)no-repeat;
            width: 70px;
            height: 28px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/2_hatchback_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/2_hatchback_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-kupe {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/3_coupe_grey_outline.svg)no-repeat;
            width: 70px;
            height: 25px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/3_coupe_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/3_coupe_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-vnedorozhnik---krossover {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/4_jeep_grey_outline.svg)no-repeat;
            width: 76px;
            height: 29px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/4_jeep_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/4_jeep_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-miniven {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/5_minivan_grey_outline.svg)no-repeat;
            width: 78px;
            height: 28px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/5_minivan_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/5_minivan_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-universal {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/6_wagon_grey_outline.svg)no-repeat;
            width: 75px;
            height: 25px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before{
            background: url(../img/auto/6_wagon_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/6_wagon_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-pikap {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/7_pickup_grey_outline.svg)no-repeat;
            width: 73px;
            height: 28px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/7_pickup_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/7_pickup_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-kabriolet {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/8_cabrio_grey_outline.svg)no-repeat;
            width: 73px;
            height: 24px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/8_cabrio_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/8_cabrio_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-liftbek {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/9_liftback_grey_outline.svg)no-repeat;
            width: 72px;
            height: 25px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/9_liftback_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/9_liftback_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-legkovoj-furgon--do-1-5-t- {
        &>input[type="checkbox"] + label {
            margin-left: -5px;
            margin-right: -5px;
        }
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/10_lightFourgon_grey_outline.svg)no-repeat;
            width: 75px;
            height: 32px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/10_lightFourgon_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/10_lightFourgon_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-avtobus,
    &-drugoe,
    &-drugaya-avtobus {
        &>input[type="checkbox"] + label:before {
            background: url(../img/buses/1_bus_grey_outline.svg)no-repeat;
            width: 84px;
            height: 30px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before{
            background: url(../img/buses/1_bus_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before {
                    background: url(../img/buses/1_bus_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
     &-avtobus {
       &>a:before {
            background: url(../img/buses/1_bus_grey_outline.svg)no-repeat;
            width: 84px;
            height: 30px;
            background-size: 100% 100%;
        }
       &.active a:before {
            background: url(../img/buses/1_bus_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                 &>a:before {
                    background: url(../img/buses/1_bus_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-gorodskoj-avtobus {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/buses/2_city_bus_grey_outline.svg)no-repeat;
            width: 70px;
            height: 33px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/buses/2_city_bus_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/buses/2_city_bus_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-bortovoj,
    &-tentovanyj {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/lorries/1_tent_truck_grey_outline.svg)no-repeat;
            width: 71px;
            height: 36px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/lorries/1_tent_truck_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/lorries/1_tent_truck_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-drugaya-gruzovik,
    &-gruzovik{
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/lorries/2_truck_grey_outline.svg)no-repeat;
            width: 70px;
            height: 35px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/lorries/2_truck_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/lorries/2_truck_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-tyagach {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/lorries/7_power_unit_grey_outline.svg)no-repeat;
            width: 55px;
            height: 34px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/lorries/7_power_unit_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/lorries/7_power_unit_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-kontejnerovoz {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/lorries/3_long_truck_grey_outline.svg)no-repeat;
            width: 123px;
            height: 36px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/lorries/3_long_truck_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/lorries/3_long_truck_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-refrizherator {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/lorries/5_freeze_minivan_large_grey_outline.svg)no-repeat;
            width: 67px;
            height: 32px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/lorries/5_freeze_minivan_large_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/lorries/5_freeze_minivan_large_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-mikroavtobus-gruzovoj--do-3-5t- {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/buses/4_minivan_large_grey_outline.svg)no-repeat;
            width: 67px;
            height: 31px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/buses/4_minivan_large_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/buses/4_minivan_large_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-samosval {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/lorries/6_dump_truck_grey_outline.svg)no-repeat;
            width: 79px;
            height: 36px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/lorries/6_dump_truck_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/lorries/6_dump_truck_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-evakuator {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/lorries/8_tow_truck_grey_outline.svg)no-repeat;
            width: 74px;
            height: 34px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/lorries/8_tow_truck_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/lorries/8_tow_truck_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-kran---avtokran {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/special_auto/2_auto_crane_grey_outline.svg)no-repeat;
            width: 86px;
            height: 37px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/special_auto/2_auto_crane_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/special_auto/2_auto_crane_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-kran-manipulyator {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/special_auto/3_manipulator_crane_grey_outline.svg)no-repeat;
            width: 44px;
            height: 45px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/special_auto/3_manipulator_crane_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/special_auto/3_manipulator_crane_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-ekskavator {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/special_auto/5_digger_grey_outline.svg)no-repeat;
            width: 79px;
            height: 46px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/special_auto/5_digger_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/special_auto/5_digger_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-ekskavator-pogruzchik,&-specztehnika {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/special_auto/6_digger_lifter_grey_outline.svg)no-repeat;
            width: 80px;
            height: 36px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/special_auto/6_digger_lifter_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/special_auto/6_digger_lifter_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-pogruzchiki {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/special_auto/4_lifter_grey_outline.svg)no-repeat;
            width: 68px;
            height: 37px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/special_auto/4_lifter_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/special_auto/4_lifter_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-drugaya-specztehnika {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/special_auto/1_other_specials_grey_outline.svg)no-repeat;
            width: 67px;
            height: 36px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/special_auto/1_other_specials_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/special_auto/1_other_specials_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-mobilnyj-dom,
    &-drugaya-drugoe {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/others_auto/2_mobile_house_grey_outline.svg)no-repeat;
            width: 87px;
            height: 33px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/others_auto/2_mobile_house_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/others_auto/2_mobile_house_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
     &-drugoe {
         &>a:before {
            background: url(../img/others_auto/2_mobile_house_grey_outline.svg)no-repeat;
            width: 87px;
            height: 33px;
            background-size: 100% 100%;
        }
        &.active a:before {
            background: url(../img/others_auto/2_mobile_house_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
               &>a:before {
                    background: url(../img/others_auto/2_mobile_house_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-dom-na-kolesah {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/others_auto/1_auto_house_grey_outline.svg)no-repeat;
            width: 75px;
            height: 36px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/others_auto/1_auto_house_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/others_auto/1_auto_house_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-motoczikl-bez-obtekatelej--naked-bike- {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/others_auto/3_bike_grey_outline.svg)no-repeat;
            width: 61px;
            height: 33px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/others_auto/3_bike_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/others_auto/3_bike_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
    &-priczep-dacha {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/others_auto/4_trailer_grey_outline.svg)no-repeat;
            width: 96px;
            height: 36px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/others_auto/4_trailer_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/others_auto/4_trailer_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
        &-drugaya-legkovye {
        &>input[type="checkbox"] + label:before, &>a:before {
            background: url(../img/auto/11_limousine_grey_outline.svg)no-repeat;
            width: 79px;
            height: 22px;
            background-size: 100% 100%;
        }
        &>input[type="checkbox"]:checked + label:before, &.active a:before {
            background: url(../img/auto/11_limousine_green.svg)no-repeat;
            background-size: 100% 100%;
        }
        &:hover {
            @include media($fromdesc0) {
                &>input[type="checkbox"] + label:before, &>a:before {
                    background: url(../img/auto/11_limousine_green.svg)no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
}