@font-face {
    font-family: Proxima Nova Bd;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
}

@font-face {
    font-family: Proxima Nova Rg;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/Proxima Nova Regular.eot');
    src: url('../fonts/Proxima Nova Regular.ttf');
    src: url('../fonts/Proxima Nova Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Regular.woff2') format('woff2'), url('../fonts/Proxima Nova Regular.woff') format('woff'), url('../fonts/Proxima Nova Regular.svg#Proxima Nova Regular') format('svg');
    unicode-range: U+000D-FB04;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url('../fonts/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf') format('truetype'),
		url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

body {
    font-family: 'Proxima Nova Rg', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #2e2e2e;
}

b {
    font-family: 'Proxima Nova Lt';
}

.viber {
    background: url(../img/icons/viber.svg)no-repeat;
    display: inline-block;
    background-size: contain;
    width: 38px;
    height: 9.5px;
    //position: relative;
    //top: 5px;
}

.viber-icon {
    fill: #2e2e2e;
}

.reviews__header-star .fa-fw {
    
    color: white;
    width: auto;
    
    position: relative;
   
     @include media($fromdesc0) {
        margin-top: 5px;
        font-size: 55px;
         &:nth-child(2) {
        left: -12px;
    }
    &:nth-child(3) {
        left: -24px;
    }
    &:nth-child(4) {
        left: -36px;
    }
    &:nth-child(5) {
        left: -48px;
    }
    }
    @include media($mobile) {
        font-size: 32px;
        &:nth-child(2) {
        left: -14px;
    }
    &:nth-child(3) {
        left: -28px;
    }
    &:nth-child(4) {
        left: -42px;
    }
    &:nth-child(5) {
        left: -56px;
    }
    }
}

.reviews__form-star .fa-fw,
.reviews__form-star .br-theme-fontawesome-stars-o .br-widget a
{
    color: #e56266;
    font-size: 20px;
    width: auto;
    @include media($mobile) {
        font-size: 32px;
    }
}
.reviews__form-star .br-theme-fontawesome-stars-o .br-widget a{
    margin-right: 2px;
    @include media($mobile) {
        margin-right: 4px;
    }
}
.reviews__comment-star .fa-fw{
    &:nth-child(2) {
        left: -4px;
    }
    &:nth-child(3) {
        left: -8px;
    }
    &:nth-child(4) {
        left: -12px;
    }
    &:nth-child(5) {
        left: -16px;
    }
}
.reviews__comment-star .fa-fw, 
.reviews__comment-star .br-theme-fontawesome-stars-o .br-widget a{
    color: #e56266;
    font-size: 16px;
    width: auto;
    position: relative;
    
    @include media($mobile) {
        font-size: 13px;
    }
}
.reviews__comment-star .br-theme-fontawesome-stars-o{
    margin-right: 12px;
}
.icon-comment {
    background: url(../img/icons/comment.svg)no-repeat;
    background-size: cover;
    width: 16.5px;
    height: 15.5px;
    display: inline-block;
    top: 2px;
    position: relative;
     @include media($fromdesc0) {
       margin-right: 5px;
         
    }
    @include media($mobile) {
        //top: 5px;
        margin-right: 6px;
    }
}
.modal-close__icon-path{
    @include media($mobile) {
        fill: #999999;
    }
}

.br-theme-fontawesome-stars-o .br-widget a {
  font: normal normal normal 20px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  
}
.br-theme-fontawesome-stars-o .br-widget a:after {
  content: '\f006';
  //color: #d2d2d2;
}
.br-theme-fontawesome-stars-o .br-widget a.br-active:after {
  content: '\f005';
  //color: #50e3c2;
}
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after {
  content: '\f005';
  //color: #50e3c2;
}
.br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {
  content: '\f123';
  //color: #50e3c2;
}
.br-theme-fontawesome-stars-o .br-widget .br-current-rating {
  display: none;
}
.br-theme-fontawesome-stars-o .br-readonly a {
  cursor: default;
}
.br-theme-fontawesome-stars-o .br-reverse a.br-fractional {
  display: inline-block;
  transform: scaleX(-1);
  //-moz-transform: scaleX(-1);
  //-webkit-transform: scaleX(-1);
  //filter: FlipH;
  //-ms-filter: "FlipH";
}
