.page-footer {
    &-wrap {
        background: whitesmoke;
        border-top: 1px solid #d5d5d5;
        @include media($frommobtodesc3) {
            padding-left: 14px;
            padding-right: 14px;
        }
    }
    a {
        text-decoration: none;
    }
    &__top {
        display: flex;
        align-items: center;
        font-size: 13px;
        
        @include media($fromdesc0) {
            padding-bottom: 17px;
            padding-top: 18px;
            justify-content: space-between;
        }
        @include media($mobile) {
            flex-wrap: wrap;
            justify-content: center;
            max-width: 225px;
            margin: auto;
            padding-top: 13px;
            padding-bottom: 20px;
        }
    }
    &__logo {
        display: block;
        float: left;
        img {
            max-width: 147px;
            height: auto;
        }
    }
    &__menu {
        list-style: none;
        padding: 0;
        @include media($frommobtodesc3) {
            display: block;
            margin-left: 20px;
            float: left;
        }
        @include media($fromdesc3) {
            display: flex;
            justify-content: center;
            flex-grow: 1;
        }
        @include media($mobile) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        li {
            color: #6c6c6c;
             line-height: 1.85;
            a {
                color: inherit;
                font-size: inherit;
                line-height: inherit;
                position: relative;
                transition: all .3s ease;
            }
             @include media($fromdesc0) {
                line-height: 1.62;
                display: inline-block;
            
                a:hover:before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    background-color: rgb(46, 46, 46);
                    width: 100%;
                    height: 2px;
                    transition: all .3s ease;
                }
                a:hover {
                    color: rgb(46, 46, 46);
                }
            }
        }
        li:not(:last-child) {
            position: relative;
            @include media($fromdesc0) {
                margin-right: 8px;
                a {
                    margin-right: 15px;
                }
                &:after {
                    content: "•";
                    font-family: Proxima Nova Rg;
                    font-size: 13px;
                    right: 0;
                    color: inherit;
                    display: block;
                    @include centerY;
                }
            }
        }
        li {
            @include media($mobile) {
                margin-left: 8px;
                &:first-child,
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6),
                &:nth-child(7) {
                    &:after {
                        content: "•";
                        font-family: Proxima Nova Rg;
                        font-size: 13px;
                        color: inherit;
                        position: relative;
                        top: 1px;
                    }
                    a {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    &__social {
        text-align: center;
        @include media($frommobtodesc3) {
            float: left;
        }
        p {
            line-height: 1;
        }
        &-icons {
            padding-top: 5px;
            a:first-child {
                position: relative;
                top: 0.5px;
                .viber-icon {
                    transition: all 0.3s ease;
                }
                left: 1px;
            }
            a {
                font-size: 14px;
                color: #2e2e2e;
                transition: all .3s ease;
                &:hover {
                    color: #999999;
                    .viber-icon {
                        fill: #999999;
                    }
                }
            }
        }
        a:not(:last-child) {
             margin-right: 13px;
            @include media($fromdesc0) {
                margin-right: 5px;
            }
            
        }
    }
    &__bottom {
        border-top: 1px solid #ccc;
        padding-top: 11px;
        padding-bottom: 17.5px;
        color: #999;
        font-size: 12px;
        @include media($mobile) {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

.page-footer__copyright {
    color: #6c6c6c;
    font-size: 11px;
    line-height: 1;
    margin-top: 16px;
    margin-bottom: 15px;
}

.link-qwert {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    transition: all .3s ease;
    &-wrap {
         @include media($fromdesc0) {
            float: right;
        }
        @include media($mobile) {
            text-align: center;
        }
    }
    &:hover {
        color: rgb(46, 46, 46);
    }
}
