.main-page__form-wrapper {
    background: white;
    padding-bottom: 80px;
    padding-top: 54px;
}

.main-page__form-container {
    @include outer-container(385px);
}

.main-page__form {
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.main-page__form-title,
.main-page__form-subtitle {
    color: black;
    text-align: center;
}

.main-page__form-title {
    font-size: 32px;
}

.page-card__form-wrapper {
    @include media($mobile) {
        .main-page__form {
            margin-left: auto;
            margin-right: auto;
        }
        .main-page__form-subtitle {
            margin-bottom: 30px;
            &:before {
                @include centerX;
            }
        }
    }
}

.main-page__form-subtitle {
    position: relative;
    margin-top: 8px;
    margin-bottom: 48px;
    font-size: 14px;
    @include media($fromdesc0) {
        margin-bottom: 60px;
        font-size: 16px;
    }
    @include media($mobile) {
        line-height: 1.29;
    }
    &:before {
        content: "";
        display: block;
        height: 3px;
        background-color: #e56266;
        box-shadow: 0 1px 6px rgba(218, 32, 37, 0.7);
        @include media($fromdesc0) {
            @include centerX;
            bottom: -32px;
            width: 48px;
        }
        @include media($mobile) {
            left: 0;
            position: absolute;
            bottom: -17px;
            width: 32px;
        }
    }
}

.form__descr {
    color: #2e2e2e;
    font-size: 16px;
    line-height: 1.06;
    margin-bottom: 4.55px;
    &--main-page {
        margin-bottom: 4.55px;
    }
    &--gray {
        color: #999;
    }
    &--half {
        float: left;
        width: 47.1%;
        margin-right: 5.8%;
        &:last-child {
            margin-right: 0;
        }
    }
    &>sup {
        color: #e56266;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        top: 0;
    }
}
label.error {
        font-size: 12px;
        color: rgb(212, 0, 0);
        font-style: italic;
        line-height: 1;
        text-align: left;
       
}
.form__input-wrap {
    margin-bottom: 13px;
    width: 100%;
    position: relative;
    &--main-page {
        margin-bottom: 14px;
        @include media($fromdesc0) {
            margin-bottom: 18px;
        }
    }
    &--auction-page,
    &--about-page {
        display: flex;
        flex-wrap: wrap;
        label.error {
            order: 2;
            &:before {
                content: none;
            }
        }
    }
    &--auction-page {
        margin-bottom: 14px;
        &-20 {
            @include media($fromdesc0) {
                margin-bottom: 20px;
            }
        }
    }
    &--about-page {
        margin-bottom: 8px;
    }
    &--reviews {
        margin-bottom: 10px;
    }
    &--half {
        float: left;
        width: 47.1%;
        margin-right: 5.8%;
        &:last-child {
            margin-right: 0;
        }
    }
    &.success {
        &:before {
            content: "\f00c";
            font-family: 'FontAwesome';
            @include centerY;
            right: 12px;
            color: rgb(5, 140, 98);
            font-size: 18px;
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    &>label.error {
        
        
        &:before {
            content: "\f00d";
            font-family: 'FontAwesome';
            position: absolute;
            top: 10.5px;
            right: 12px;
            color: rgb(212, 0, 0);
            font-size: 18px;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.form__input-wrap--mg {
    margin-bottom: 30px;
}

.form__input-wrap--mg-ch {
    margin-bottom: 32px;
}

.form__input-wrap--tel {
    margin-bottom: 19px;
}

.form__input-wrap--textarea {
    &-20{
    @include media($fromdesc0) {
        margin-bottom: 20px;
    }
    }
    &.success:before {
        top: 10.5px;
        transform: translateY(0);
    }
}

.form__input-wrap-file {
    border: 1px dashed #999;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
    margin-top: 16px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 16px;
    &:hover {
        border: 1px dashed #63b932;
        .upload__icon {
            fill: #63b932;
        }
    }
    @include media($fromdesc0) {
        margin-bottom: 8px;
        padding-top: 18px;
        padding-bottom: 21px;
    }
}

.auction__form {
    margin-top: 21px;
}

.about__form {
    margin-top: 16px;
}

.auction__form .form__input {
    padding: 10.025px 32px 10.025px 12px;
}

.form__file-icon {
    width: 32px;
    height: 23px;
    margin: auto;
    margin-bottom: 7px;
}

.form__descr-file {
    color: #999;
    font-size: 13px;
    @include media($fromdesc0) {
        font-size: 14px;
    }
    @include media($mobile) {
        i {
            font-size: 14px;
        }
    }
    &--green {
        color: #63b932;
    }
}

.form__file-previews {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    margin-bottom: 18px;
    @include media($fromdesc0) {
        margin-bottom: 13px;
    }
}

.dz-preview {
    @include media($mobile) {
        border-bottom: 1px solid #d5d5d5;
        padding: 8px 0;
    }
}

.dz-upload {
    color: #63b932;
    margin-right: 2px;
    display: inline-block;
}

.dz-complete .dz-upload {
    display: none;
}

.dz-success-mark {
    color: #63b932;
    margin-right: 2px;
    display: none;
}

.dz-success .dz-success-mark {
    display: inline-block;
}

.dz-close {
    color: #999;
    margin-left: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        color: #e56266;
    }
}

.form-auction__info-text {
    font-size: 14px;
    color: #999;
    line-height: 18px;
    text-align: center;
    margin-top: 24px;
    @include media($fromdesc0) {
        margin-top: 20.5px;
    }
}

.form__textarea {
    resize: none;
    &--main-page {
        min-height: 95px;
    }
    &--about-page {
        min-height: 140px;
        @include media($fromdesc0) {
            min-height: 128px;
        }
    }
    &--reviews {
        min-height: 140px;
        @include media($fromdesc0) {
            min-height: 127px;
        }
    }
}

.form__input,
.form__textarea {
    width: 100%;
     font-family: Proxima Nova Bd;
    background-color: white;
    border: 1px solid #999;
    border-radius: 0;
    display: block;
    color: #2e2e2e;
    outline: none;
    line-height: 1.21;
    font-size: 14px;
    padding: 10px 30px 10px 10px;
    @include media($fromdesc0) {
        font-size: 15px;
        padding: 11px 32px 11px 12px;
        line-height: 1.13;
    }
    &:hover {
        border: 1px solid rgb(46, 46, 46);
    }
    &:active,
    &:focus {
        border: 1px solid rgb(99, 185, 50);
    }
    @include placeholder {
        line-height: 1.21;
        font-size: 14px;
         font-family: Proxima Nova Bd;
        color: #999999;
        @include media($fromdesc0) {
            font-size: 15px;
            line-height: 1.13;
        }
    }
    &.success {
        border: 1px solid rgb(5, 140, 98);
    }
    &.error {
        border: 1px solid rgb(212, 0, 0);
    }
}

.form__input[type="tel"] {
    color: #999;
}