// Franchise
.header-menu {
 &__logo-wrap,
 &__list,
&__order{
    &--secondary{
        @include media($fromdesc0) {
            float: none;
        }
    }
}
&__logo-wrap,
&__order{
    &--secondary{
        @include media($fromdesc0) {
         position: absolute;
        }
    }
}
&__order{
    &--secondary{
        @include media($fromdesc0) {
        top: 0;
        right: 0;
        }
    }
}
&__list{
    &--secondary{
        text-align: center;
          @include media ($frommobtodesc) {
        margin-left: auto;
         margin-right: auto;
         }
        @include media ($frommobtodesc2) {
        margin-left: auto;
         margin-right: auto;
        }
         @include media ($fromdesc) {
        margin-left: auto;
         margin-right: auto;
        }

    } 
}
    &--others{
        .header-menu__list li:not(:last-child){
            @include media ($fromdesc) {
                margin-right: 18px;
            }  
        }
    }
}
.franchise{
    &-title,
    &-subtitle{
        text-align: center;
        
    }
    &-title{
        font-size: 32px;
    }
    &-subtitle{
         font-size: 24px;
        
    }
}