

html,
body {
  height: 100%;
}

*{
    margin: 0;
}


.mr-reset {
    margin-right: 0!important;
}

@include media($fromdesc0) {
    .body-wrap {
        height: 100%;
    }
    .page-wrap {
        display: table;
        height: 100%;
        width: 100%;
    }
    .page-content {
        display: table-row;
        height: 100%;
    }
}

.modal-open {
    overflow: hidden;
}

.main-page__grid-icons-wrap,
.page-footer,
.auto-part__list,
.auction__main-content,
.auction__title {
    @include outer-container(1030px);
}

@include media($fromdesc0) {
    .auto-card__title-wrap,
    .auto-card__title,
    .auto-card__list-char {
        @include outer-container(100%);
    }
}

.main-page__form-wrapper,
.main-page__grid-icons,
.page-footer-wrap,
.page-footer__top,
.page-footer__bottom,
.auto-card__wrap,
.auto-card__content-wrap,
.auto-card__list-addl-char-wrap,
.auto-card__list-addl-char,
.main-page__testimonials,
.main-page__form,
.main-page__form-title,
.main-page__form-subtitle,
.map-wrap,
.map__list li,
.map__item-wrap,
#map,
.auto-card-filters__item,
.auto-card__filters-price-currency,
.page-buy__content,
.auto-card__search-form-wrap,
.auto-card__pagination,
.page-buy__recommend-wrap,
.auction__main-content-wrap,
.auto-part__content-wrap,
.auction__aside-inner,
.form__descr-input-wrap,
.modal-window__form,
.modal-window__form--reviews,
.all-news__list-wrap,
.single-news_nav-wrap,
.vertical-tabs__container,
.auto-card__error-wrap,
.about__know-wrap,
.about__buy-wrap,
.about__buy-list,
.about__blockquote-wrap,
.about__action-wrap,
.about__contact-wrap,
.about__contact-inner,
.about__stores-list,
.news__list--all-news,
.reviews__form,
.reviews__form-star-wrap,
.reviews__comment,
.reviews__comment-top-wrap,
.reviews__form-answer,
.reviews__form-answer-btn-wrap,
.reviews__messages,
.swiper-4-nav,
.page-card__char-slider-control,
.page-card__top,
.page-card__wrap,
.page-card__aside-inner,
.page-card__aside-list,
.page-card__common-info-list,
.page-card__descr-inner,
.page-card__char-inner,
.page-card__char-table-wrap,
.page-card__char-list-wrap,
.page-card__video-inner,
.page-card__photo,
.page-card__photo-inner,
.page-card__aside-wrap,
.page-card__aside-list > li{
    @include outer-container(100%);
}
.page-card__grid-icons-wrap,
.page-card__form-wrapper{
    @include media($fromdesc0) {
        @include outer-container(900px);
        }
}

.page-card__form-wrapper .main-page__form-container{
    @include media($mobile) {
     @include outer-container(252px);  
    }
}

