.main-page__header {
    min-height: 900px;
    padding-top: 30px;
    
    background: url(../img/img-main-1920.jpg)no-repeat;
    background-size: cover;
    
    @media (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) {
    background: url(../img/img-main-1920-@2x.jpg)no-repeat;
    background-size: cover;
 
    }
  
   @media screen and (min-width:1600px) {
         background-position: center;
   }
     @include media($fromdesc0) {
        background-position-x: 30%;
    }
    @include media($fromdesc1) {
        background-position-x: 40%;
    }
    @include media($mobile) {
        padding-top: 0;
        min-height: 600px;
          background-position-x: 24%;
    }
}

.auction-page__header {
    position: relative;
     padding-top: 5px;
        min-height: 300px;
    @include media($fromdesc0) {
        //background: url(../img/auction.jpg)no-repeat;
        background: url(../img/img-auction-1920.jpg)no-repeat;
        background-size: cover;
        background-position: center; 
        min-height: 600px;
        padding-top: 30px;
         @media (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
        background: url(../img/img-auction-1920-@2x.jpg)no-repeat;
        background-size: cover;
        background-position: center; 
        }
    }
    @include media($mobile) {
        &:before {
            content: "";
            //background: url(../img/auction.jpg)no-repeat;
            min-height: 300px;
            width: 100%;
            position: absolute;
            background: url(../img/img-auction-1920.jpg)no-repeat;
            background-size: cover;
            @media (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) {
            background: url(../img/img-auction-1920-@2x.jpg)no-repeat;
            background-size: cover;
            }
        }
        overflow: hidden;
    }
    @media screen and (max-width: 620px) {
        &:before {
            background-position-x: -340px;
        }
    }
}

.sell-page__header {
    position: relative;
      padding-top: 5px;
        min-height: 300px;
        @include media($fromdesc0) {
        //background: url(../img/man_bmw.jpg)no-repeat;
        background: url(../img/img-sell-1920.jpg)no-repeat;
        background-size: cover;
        background-position: center; 
        min-height: 600px;
        padding-top: 30px;
         @media (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
        background: url(../img/img-sell-1920-@2x.jpg)no-repeat;
        background-size: cover;
        background-position: center; 
        }
    }
    @include media($mobile) {
        &:before {
            content: "";
            //background: url(../img/man_bmw.jpg)no-repeat;
             background: url(../img/img-sell-1920.jpg)no-repeat;
            background-size: cover;
            min-height: 300px;
            width: 100%;
            position: absolute;
            top: -15px;
            transform: scale(1.1);
            background-position-y: 36px;
             @media (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) {
            background: url(../img/img-sell-1920-@2x.jpg)no-repeat;
            background-size: cover;
             background-position-y: 36px;
        }
        }
      
        overflow: hidden;
    }
    @media screen and (max-width: 520px) {
        &:before {
            background-position-x: -188px;
        }
    }
}

.check-page__header {
    position: relative;
    padding-top: 5px;
    min-height: 300px;
    @include media($fromdesc0) {
        //background: url(../img/juridical_check.jpg)no-repeat;
        background: url(../img/img-check-1920.jpg)no-repeat;
        background-size: cover;
        background-position: center; 
        min-height: 600px;
        padding-top: 30px;
        @media (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) {
        background: url(../img/img-check-1920-@2x.jpg)no-repeat;
        background-size: cover;
        background-position: center; 
        }
    }
    @include media($mobile) {
        &:before {
            content: "";
            //background: url(../img/juridical_check.jpg)no-repeat;
            background: url(../img/img-check-1920.jpg)no-repeat;
            background-size: cover;
            min-height: 300px;
            width: 100%;
            position: absolute;
            @media (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) {
            background: url(../img/img-check-1920-@2x.jpg)no-repeat;
            background-size: cover;
            }
        }
        
        max-height: 300px;
        overflow: hidden;
    }
    @media screen and (max-width: 700px) {
        &:before {
            background-position-x: -260px;
        }
    }
}

.all-news-page__header {
    position: relative;
    @include media($fromdesc) {
        //background: whitesmoke url(../img/all-news-bg.png)no-repeat;
        background: whitesmoke url(../img/img-news-1920.jpg)no-repeat;
        background-size: cover;
        background-position: center;

        @media (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) {
            background: url(../img/img-news-1920-@2x.jpg)no-repeat;
            background-size: cover;
            background-position: center;
            }
    }
  
    @include media($fromdesc0) {
        //background: whitesmoke url(../img/all-news-bg.png)no-repeat;
        background: whitesmoke url(../img/img-news-768.jpg)no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 550px;
        padding-top: 30px;
        @media (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) {
            background: url(../img/img-news-768-@2x.jpg)no-repeat;
           background-size: cover;
            background-position: center;
            }
    }
}

.reviews-page__header {
    //background: url(../img/reviews_bg.jpg)no-repeat;
    background: url(../img/img-responses-1920.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
     min-height: 280.5px;
     padding-top: 64px;
     @media (-webkit-min-device-pixel-ratio: 2), 
            (min-resolution: 192dpi) {
            background: url(../img/img-responses-1920-@2x.jpg)no-repeat;
            background-size: cover;
            background-position: center;
           }
    @include media($fromdesc0) {
        min-height: 600px;
        //min-height: 632px;
        padding-top: 30px;
    }
    @include media($mobile) {
        margin-top: 20px;
        //
        background-position-y: 20px;
        //
    }
    @media screen and (min-width: 1921px) {
        background-position: center bottom;
    }
    @media screen and (max-width: 460px) {
        background-position-x: -95px;
       // background-position-y: 10px;
    }
}

.header-nav-xs {
    @include position (fixed, 38px 0 0);
    overflow-y: scroll;
    z-index: 115;
    background-color: white;
    display: none;
    //width: 0;
    &__list-tel {
        list-style: none;
        padding: 15px 0;
        border-top: 1px solid #d6d6d6;
        @include outer-container(100%);
        text-align: center;
        li {
            @include outer-container(160px);
            a {
                text-decoration: none;
                transition: all .3s ease;
                font-size: 16px;
                line-height: 2;
                color: #2e2e2e;
                &:hover {
                    color: rgb(229, 98, 102);
                    text-shadow: 0px 3px 15px rgba(229, 98, 102, 0.6);
                }
            }
        }
    }
}
.header-menu,
.header-menu--shadow{
    
    display: block;
    max-width: 1064.5px;
    margin-left: auto;
    margin-right: auto;
    
}

.header-menu {
   min-height: 40px;
    @include media($fromdesc0) {
    min-height: 54px;
    }
    background: white;
    position: relative;
    //////// REMOVE &---OTHERS 
    &--others {
        @include outer-container(100%);
        @include media($fromdesc0) {
            border-bottom: 1px solid #dbdbdb;
        }
        
         @include media($fromdesc4) {
         .header-menu__list li:not(:last-child) {
                margin-right: 12px;
            }
            //.header-menu__order {
                //font-size: 13px;
                //padding: 19px 21px;
           // }
        }
        @include media($mobile) {
            box-shadow: 0 2px 32px rgba(46, 46, 46, 0.16);
            
            z-index: 101;
            overflow: hidden;
        }
    }
    //////
    //&--secondary{
       // max-width: 1034px;
   // }
    &__inner {
        width: 100%;
        min-height: 54px;
        background-color: white;
        //z-index: 1;
      
    }
    
    &--fixed {
        position: fixed;
        @include position (fixed, 0 0 null);
       
        //top: -100%;
        width: 100%;
        z-index: 1000;
        transition: all .3s ease;
        backface-visibility: hidden;
        border: none;
        @include outer-container(100%);
        &:before {
            content: "";
            @include position (absolute, 10px 7.5px);
            box-shadow: 0 5px 25px rgba(0, 0, 2, 0.4);
            
            z-index: -1;
        }
        &-secondary{
            max-width: 1064.5px;
            width: auto;
        }
    }
    &--fixed,
    &--fixed:before{
        transform: translateY(-100%);
    }
    &--stick,
    &--stick:before{
            transform: translateY(0);
    }
    &--mob {
        @include media($mobile) {
            @include position (fixed, 0 0 null);
        }
    }
    &--shadow {
        @include media($fromdesc0) {
           
            z-index: 1;
            position: relative;
        }
      
        
        @include media ($frommobtodesc2) {
            max-width: 960px;
        }
        @include media($mobile) {
            box-shadow: 0 2px 32px rgba(46, 46, 46, 0.16);
          
            z-index: 101;
            overflow: hidden;
            @include position (fixed, 0 0 null);
        }
        @include media($fromdesc0) {
            &:before {
                content: "";
                box-shadow: 0 5px 25px rgba(0, 0, 2, 0.4);
                position: absolute;
                z-index: -1;
                left: 5px;
                right: 5px;
                top: 10px;
                bottom: 10px;
            }
            &-secondary{
                 &:before {
                 top: 5px;
            }
            }
        }
    }
    a {
        text-decoration: none;
    }
    &__code {
        transition: all .3s ease;
        @include media($fromdesc0) {
            float: left;
            min-height: 54px;
            margin-right: 14px;
        }
        &-text {
            color: #999;
            position: relative;
            @include media($fromdesc0) {
                display: inline-block;
                font-size: 14px;
                line-height: 1.71;
                top: 5px;
            }
            @include media($mobile) {
                font-size: 12px;
            }
        }
        &-number {
            font-family: Proxima Nova Bd;
            font-weight: 700;
            @include media($fromdesc0) {
                font-size: 21px;
            }
            @include media($mobile) {
                font-size: 15px;
                position: relative;
                top: -3px;
            }
        }
    }
    &__logo {
        @include media ($frommobtodesc) {
             background: url(../img/logo-autopark@2x.png)no-repeat;
            width: 112px;
            background-size: contain;
            background-position: center;
            &-wrap{
            width: 112px;
            position: relative;
            z-index: 1;
            &:before{
                content: "";
                z-index: -1;
                background-color: #000000;
                height: 54px;
                width: 82px;
                position: absolute;
                left: 0;
            }
            &:after{
                content: "";
                z-index: -2;
                background-color: #da2025;
                height: 54px;
                width: 112px;
                position: absolute;
                right: 0;
            }
            }
        }
       
        @include media ($fromdesc1) {
            width: 155px;
            background: url(../img/logo@2x.png)no-repeat;
            background-size: cover;
             &-wrap{
                 width: 155px;
            }
        }
        @include media($mobile) {
            background: url(../img/logo-mob@2x.png)no-repeat;
            background-size: cover;
            width: 129px;
            display: block;
            float: left;
            &-wrap{
                 display: block;
                  float: left;
                  width: 129px;
            }
        }
    }
    &__logo,
    &__logo-wrap,
    &__list,
    &__list-tel,
    &__separate-line {
        @include media($fromdesc0) {
            display: block;
            float: left;
            
        }
    }
////////REMOVE &---OTHERS
    &--shadow,
    &--others,
    &__logo,
    &__logo-wrap,
    &__list,
    &__list-tel,
    &__list li {
           min-height: 40px;
        @include media($fromdesc0) {
            min-height: 54px;
        }
       
    }

// НАЧАЛО ОТСТУПЫ В ШАПКЕ САЙТА
    &__list{
        @include media ($frommobtodesc) {
            margin-left: 12px;
         }
        @include media ($frommobtodesc2) {
            margin-left: 14px;
        }
         @include media ($fromdesc) {
            margin-left: 22px;
        }
   }
    &__list li:not(:last-child){
        @include media ($frommobtodesc) {
            margin-right: 8px;
         }
        @include media ($frommobtodesc2) {
            margin-right: 10px;
        }
         @include media ($fromdesc) {
            margin-right: 20px;
        }
   }
    &__separate-line{
        @include media ($frommobtodesc) {
            margin-left: 8px;

         }
        @include media ($frommobtodesc2) {
            margin-left: 10px;

        }
         @include media ($fromdesc) {
            margin-left: 19px;

        }
   }
//КОНЕЦ ОТСТУПЫ В ШАПКЕ САЙТА 

    &__list-tel {
        @include media ($frommobtodesc) {
        padding-right: 8px;
        padding-left: 8px;
        }
        @include media ($frommobtodesc2) {
        padding-right: 10px;
        padding-left: 10px;
        }
         @include media ($fromdesc) {
        padding-right: 17px;
        padding-left: 19px;
        }
    }



    &__list,
    &__list-tel {
        padding: 0;
        list-style: none;
        font-size: 16px;
        @include media ($frommobtodesc) {
            font-size: 12px;
        }
        li {
            @include media($fromdesc0) {
                display: inline-block;
            }
        }
        li a {
            color: inherit;
            display: inline-block;
        }
    }
    &__list {
       
       
        @include media($mobile) {
            @include outer-container(160px);
            text-align: center;
            margin-top: 20px;
            margin-bottom: 15px;
            li {
                font-size: 18px;
                line-height: 2.11;
                a {
                    text-decoration: none;
                    position: relative;
                }
            }
        }
        @include media($fromdesc0) {
            li {
                position: relative;
            }
        }
        li a {
            @include media($fromdesc0) {
                height: 54px;
            }
            transition: all .3s ease;
            span {
                margin-top: 16px;
                display: inline-block;
                @include media ($frommobtodesc) {
                    margin-top: 19px;
                }
            }
        }
        li a:before {
            transition: all .3s ease;
        }
        li a.active {
            color: rgb(229, 98, 102);
        }
        li a.active:before,
        li a:active:before,
        li a:hover:before {
            content: '';
            position: absolute;
            bottom: 0;
            background-color: #e56266;
            width: 100%;
            height: 3px;
        }
        li a:hover {
            color: rgb(229, 98, 102);
            text-shadow: 0px 3px 15px rgba(229, 98, 102, 0.6);
        }
    }
    &__separate-line {
        width: 1px;
        @include media($fromdesc0) {
            height: 30px;
            background-color: #d5d5d5;
            margin-top: 13px;
        }
        @include media($mobile) {
            height: 40px;
            margin-top: 0;
            background-color: #d6d6d6;
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    &__list-tel-wrap {
        float: left;
        position: relative;
        max-width: 164.5px;
        height: 54px;
       
            @include media ($fromdesc) {
                width: 164.5px;
            }
            @include media ($frommobtodesc) {
                width: 114px;
            }
            @include media ($frommobtodesc2) {
                width: 150px;
            }
       
    }
    &__list-tel {
        width: 100%;
        background: white;
        
        &-inner {
            position: absolute;
            z-index: 2;
            @include media ($frommobtodesc) {
                width: 114px;
            }
            @include media ($frommobtodesc2) {
                width: 150px;
            }
            @include media ($fromdesc) {
                width: 164.5px;
            }
        }
        &.active:before {
            content: "";
            position: absolute;
            bottom: 10px;
            right: 5px;
            left: 5px;
            height: 40px;
            box-shadow: 0px 5px 25px 0px rgba(0, 0, 2, 0.4);
            z-index: -5;
        }
        li:first-child a {
            margin-top: 16px;
            @include media ($frommobtodesc) {
                margin-top: 19px;
            }
        }
        li:not(:last-child) a {
            margin-bottom: 7px;
            @include media ($frommobtodesc) {
                margin-bottom: 15px;
            }
        }
        li:last-child a {
            margin-bottom: 15px;
        }
        li i {
            cursor: pointer;
        }
        li:hover {
            color: rgb(229, 98, 102);
            text-shadow: 0px 3px 15px rgba(229, 98, 102, 0.6);
        }
        li:not(:first-child) {
            display: none;
        }
    }
    &__order {
        color: white;
        background-color: #e56266;
        text-transform: uppercase;
        
        font-size: 13px;
         &:hover {
            background-color: rgb(153, 22, 26);
        }
        @include media ($fromdesc) {
            padding: 19px 21px;
        }
        @include media ($frommobtodesc) {
            font-size: 12px;
            min-height: 54px;
        }
        @include media($fromdesc0) {
            float: right;
             padding: 19px 10px;
        }
        @include media($mobile) {
            width: 100%;
            padding: 19px 21px;
        }
        @media screen and (max-width: 767px) and (orientation: portrait) {
            position: absolute;
            bottom: 0;
        }
        @media screen and (max-width: 767px) and (orientation: landscape) {
            position: static;
        }
        @media screen and (max-width: 767px) and (max-height:494px) {
            position: static !important;
        }
    }
    &__mob-content-wrap {
        justify-content: flex-end;
        display: flex;
        align-items: center;
    }
    &__icon-mob,
    &__icon-hamburger,
    &__icon-center,
    &__icon-right {
        height: 40px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: all .3s ease;
    }
    &__icon-mob,
    &__icon-hamburger,
    &__icon-center,
    &__icon-cross,
    &__icon-filter{
        &:before {
            content: "";
            @include centerXY;
        }
    }
    &__icon-mob {
        width: 47px;
        padding-left: 15px;
        padding-right: 15px;
        border-right: 1px solid #d6d6d6;
        &:before {
          
            background: url(../img/icons/phone-icon.svg)no-repeat;
            width: 17px;
            height: 16px;
            background-size: cover;
            
        }
    }
    &__icon-hamburger {
        &:before {
         
            background: url(../img/icons/menu-icon.svg)no-repeat;
            width: 16px;
            height: 11px;
            background-size: cover;
          
        }
    }
    &__icon-center {
        width: 55px;
        flex-grow: 2;
        //visibility: hidden;
        border-right: 1px solid #d6d6d6;
        text-align: center;
    }
    &__icon-right {
        width: 46px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__icon-cross {
        &:before {
           
            background: url(../img/icons/cross-mob@x.svg)no-repeat;
            height: 14px;
            width: 14px;
            background-size: cover;
            
        }
    }
    &__icon-filter {
        &:before {
          
            background: url(../img/icons/icon-filter-header-mob@2x.svg)no-repeat;
            height: 16px;
            width: 15px;
            background-size: cover;
          
        }
    }
}

.header--secondary{
    @include media($fromdesc0) {
        padding-top: 30px;
    }
}