#map {
    height: 500px;
    .map__photo{
    width:100%;
    position: absolute;
    left: -100%;
    bottom: 0;
    }
    .map__content {
        width: 100%;
        position: relative;
        z-index: 1;
        background-color: white;
       border: 1px solid #d5d5d5;
    }
    .map__content-inner {
        position: relative;
        z-index: 1;
        padding-top: 20px;
    }
    .map__title,
    .map__descr  {
         color: #2e2e2e;
        font-size: 16px;
        line-height: 1;
         padding-left: 20px;
        padding-right: 20px;
    }
    .map__title {
        font-family: Proxima Nova Bd;
        margin-bottom: 4px;
    }
    .map__descr {
        font-family: Proxima Nova Rg;
        
        font-weight: 400;
        padding-bottom: 12px;
        
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        &--phone,
        &--clock {
            span{
                font-size: 14px;
            }
        }
        &--phone {
            position: relative;
           // padding-left: 38.5px;
            &:before {
                content: "\f095";
                //position: absolute;
                //left: 20px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 14px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &--clock {
           // position: relative;
            //padding-left: 38.5px;
            padding-bottom: 20px !important;
            padding-top: 14px !important;
            span {
                line-height: 1.29;
                margin: 0;
                position: relative;
                 top: -2px;
            }
            &:before {
                content: "\f017";
                //position: absolute;
               // left: 20px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 14px;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &--border {
            border-top: 1px solid #d5d5d5;
            padding-top: 12px;
        }
        span {
            //display: inline-block;
            padding-left: 6px;
        }
    }
   .gm-style-iw {
   width: 210px !important;
   top: 27px !important;
   left: 0 !important;
    overflow: visible !important;
       &:after{
           content: "";
           z-index: 3;
           bottom: -6px;
           @include centerX;
           @include triangle(21px, #d5d5d5, down);
       }
       &:before{
           content: "";
           z-index: 4;
           bottom: -4px;
           @include centerX;
           @include triangle(21px, white, down);
       }
}
    .icon-map--close{
        background: url(../img/icons/map-icon-close.svg);
        background-size: cover;
        width: 12px;
        height: 12px;
        @include centerXY;
    }
}

.map {
    &-wrap{
        @include media($mobile) {
            margin-top: 34px;
            background-color: white;
            padding-bottom: 15px;
            &--about{
                position: relative;
                margin-top: 0;
                z-index: 1;
                padding-top: 35px;
                &:before{
                    z-index: -1;
                    content: "";
                    position: absolute;
                    top: -100px;
                    right: 0;
                    height: 380px;
                    left: 0;
                    width: 100%;
                    content: '';
                    background: url(../img/icons/bg-about-map@2x.png);
                    background-size: 100% 100%;
                }
            }
        }
    }
    &__title{
        z-index: 1;
        position: relative;
    }
    &__subtitle {
        font-size: 16px;
    }

    &__descr{
        font-size: 13px;
        line-height: 1.23;
        display: flex;
        i{
            margin-right: 5.5px;
        }
        @include media($mobile) {
        &:not(:last-child){
            margin-bottom: 10px;
        }
        }
    }
    &__item-wrap{
    
        width: 100%;
        padding: 18px 21px 21px;
        background-color: white;
    }
    &__list{
        list-style: none;
        padding: 0;
         @include outer-container(200px);
        margin-top: 20px;
        li{
            margin-bottom: 20px;
            position: relative;
            background-color: white;
          
            z-index: 1;
            width: 100%;
            &:before{
                content: "";
                @include position (absolute, 5px);
                box-shadow: 0 2px 18px rgba(0, 0, 2, 0.24);
                z-index: -1;
            }
        }
    }
}
