@mixin centerX {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}
@mixin centerY {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}
@mixin centerXY {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
    z-index: 1;
}
@mixin img {
	display: block;
	height: auto;
	max-width: 100%;
	margin: auto;
}
