

@keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes ngdialog-fadein {
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

.modal-window {
    z-index: 1000;
    background: rgba(0, 0, 0, .6);
    overflow: auto;
    display: none;
    -webkit-overflow-scrolling: touch;
     @include media($fromdesc0) {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    @include media($mobile) {
        z-index: 111;
        &--order {
            z-index: 120;
        }
    }
    &--photo {
         @include media($fromdesc0) {
            z-index: 1000;
            background: rgba(0, 0, 0, .6);
            overflow: auto;
            display: block;
            visibility: hidden;
            padding-bottom: 80px;
            padding-top: 80px;
            -webkit-overflow-scrolling: touch;
            @include position (fixed, 0);
        }
        @include media($mobile) {
            position: relative;
            @include outer-container(100%);
            margin-top: 17px;
            z-index: 1;
            &:before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: -230px;
                left: 0;
                width: 100%;
                content: '';
                background: url(../img/bg-B-mob@2x.png);
                background-size: 100% 100%;
            }
            .modal-window__inner {
                z-index: auto;
            }
        }
    }
    &.show {
    display: block;
    }
}

.modal-window__overlay,
.modal-window {
   @include media($fromdesc0) {
        @include position (fixed, 0);
    }
}



.modal-window,
.reviews__form-answer-wrap {
    @include media($mobile) {
        @include position (fixed, 0 0 0);
    }
}

.modal-window__content {
    position: relative;
}

.modal-window.in .modal-window__content,
.modal-window--photo.in .modal-window__content {
  @include media($fromdesc0) {
        animation: ngdialog-flyin .5s;
    }
}

.modal-window__content {
    background-color: white;
    @include media($fromdesc0) {
        @include outer-container(500px);
        z-index: 1;
        transition: all .5s;
        animation: ngdialog-fadein .5s;
    }
    @include media($mobile) {
        z-index: -1;
        max-width: 100%;
    }
    button {
        transition: none;
    }
    &--photo {
         @include media($fromdesc0) {
            height: 550px;
            @include outer-container(647px);
        }
        @include media($mobile) {
            z-index: 1 !important;
        }
        .modal-close{
            transition: none;
        }
    }
    &--order {
        @include media($fromdesc0) {
            &:before {
                content: "";
                position: absolute;
                top: 25px;
                left: 12.5px;
                right: 12.5px;
                bottom: 121px;
                box-shadow: 0 0 50px rgba(0, 0, 2, 0.4);
                z-index: -1;
            }
        }
        @include media($mobile) {
            min-height: 100%;
        }
    }
    &--success,
    &--error {
        &:before {
            content: "";
            position: absolute;
            top: 25px;
            left: 12.5px;
            right: 12.5px;
            bottom: 25px;
            box-shadow: 0 0 50px rgba(0, 0, 2, 0.4);
            z-index: -1;
        }
    }
    &--reviews {
        min-height: 100%;
    }
}

.modal-close {
    position: absolute;
    border-radius: 50%;
    padding: 12px;
    width: 36px;
    height: 36px;
    transition: all .3s ease;
    cursor: pointer;
     @include media($fromdesc0) {
        right: -39px;
        top: -39px;
        border: 1px solid white;
    }
    @include media($mobile) {
        top: 61px;
        right: 24px;
        border: 1px solid #999999;
        z-index: 10;
        &--reviews-success {
            top: 22px;
        }
        &--success-error {
            border: none;
            border-radius: 0;
            width: 12px;
            height: 12px;
            right: 12px;
            top: 12px;
            padding: 0;
        }
    }
    &__icon {
        @include centerXY;
    }
   @include media($fromdesc0) {
        &:hover {
            background-color: white;
            .modal-close__icon-path {
                fill: #2e2e2e;
            }
        }
    }
}

.modal-window__inner {
    //position: relative;
    //z-index: 1;
    background-color: white;
    @include outer-container(100%);
    &--order {
        padding: 32.5px 65.5px 32px;
        @include media($mobile) {
            padding: 60px 21px 32px;
        }
    }
    &--success,
    &--reviews-success {
        padding: 36px 100px 34px;
    }
    &--reviews-success {
        @include media($mobile) {
            padding: 28px 24px 30px;
        }
    }
    &--error {
        padding: 36px 70px 34px;
    }
    &--search {
        @include media($fromdesc0) {
            padding: 34px 58px 32px;
        }
        @include media($mobile) {
            padding: 58px 24px 32px;
        }
    }
    &--reviews {
        padding: 58px 0 24px;
    }
    &--success,
    &--error {
        @include media($mobile) {
            padding: 32px 48px 29px;
            .modal-window__title,
            .modal-window__descr {
                @include outer-container(230px);
            }
        }
    }
}

.modal-window__title,
.modal-window__descr {
    color: black;
    font-weight: 400;
     @include media($fromdesc0) {
        text-align: center;
    }
    @include media($mobile) {
        text-align: left;
    }
}

.modal-window__title {
    font-family: Proxima Nova Rg;
     @include media($fromdesc0) {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 10px;
    }
    @include media($mobile) {
        font-size: 21px;
        line-height: 1.14;
        margin-bottom: 8px;
        &--reviews {
            padding-left: 24px;
            font-family: Proxima Nova Bd;
            margin-top: 10px;
            margin-bottom: 17px;
            border-bottom: 1px solid #d5d5d5;
            padding-bottom: 26px;
            &-success {
                margin-bottom: 4px;
            }
        }
        &--order {
            margin-bottom: 10px;
            text-align: center;
        }
    }
}

.modal-window__descr {
    @include media($fromdesc0) {
        font-size: 16px;
        line-height: 1.31;
    }
    @include media($mobile) {
        font-size: 14px;
        line-height: 1.29;
    }
    &--order {
        margin-bottom: 20px;
        @include media($mobile) {
            position: relative;
            text-align: center;
            margin-bottom: 40px;
            &:before {
                content: "";
                @include centerX;
                width: 32px;
                height: 3px;
                box-shadow: 0 3px 6px rgba(218, 32, 37, 0.7);
                background-color: #e56266;
                bottom: -22px;
            }
        }
    }
}

.modal-window__img {
    height: auto;
    max-width: 100%;
    display: block;
    margin: auto;
    &--order {
        margin-bottom: 14.5px;
        @include media($mobile) {
            margin-bottom: 20px;
            width: 80px;
        }
    }
    &--success,
    &--error {
        position: relative;
        z-index: 1;
        margin-bottom: 26.5px;
        @include media($mobile) {
            width: 48px;
            margin-bottom: 20px;
        }
    }
    &--reviews-success {
        margin-bottom: 20px;
    }
    &-wrap {
        position: relative;
        z-index: 1;
      
        margin: auto;
        width: 48px;
        @include media($fromdesc0) {
              width: 64px;
        }
         &--success,&--error {
             &:before, 
             &:after{
                
                  content: "";  
                  @include position(absolute, 5.5px);
                  @include media($fromdesc0) {
                  @include position(absolute, 7.5px);
                 }
             }
        
        }
         &--success,&--error {
             &:before{
                 z-index: -1;
                
                 }
             }
        
        &--success,&--error {
             &:after{
                   z-index: -2;
                    box-shadow: 0 6px 21px rgba(0, 0, 0, 0.3);
                 }
             }
        &--success {
            &:before {
               
               
                box-shadow: 0 12px 21px rgba(145, 206, 111, 0.7);
            }
           
        }
        &--error {
            &:before {
               
                
                box-shadow: 0 12px 21px rgba(229, 98, 102, 0.7);
            }
           
        }
        
    }
}

.modal-window__form {
    &--reviews {
        padding-left: 24px;
        padding-right: 24px;
        
    }
}

@include media($mobile) {
    #js-modal__error,
    #js-modal__success {
        z-index: 120;
    }
}

 @include media($fromdesc0) {
    .modal-window__overlay {
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
           ~ .modal-window__content {
               .modal-close{
                background-color: white;
               }
               .modal-close__icon-path{
                   fill: #2e2e2e;
               }
        }
    }
}
}
