
.all-news__list-wrap{
    @include media($frommobtodesc11) {
        padding-left: 36px;
        padding-right: 36px;
    }
}
.main-page__news {
     @include media($fromdesc0) {
        padding-top: 54px;
        padding-bottom: 32px;
    }
    @include media($frommobtodesc8) {
        padding-left: 14px;
        padding-right: 14px;
    }
    @include media($mobile) {
        padding: 30px 0 32px;
        position: relative;
        &:after {
            content: "";
            background: white url(../img/icons/bg-grey-2-mob@2x.png);
            background-size: 100% 100%;
            @include position (absolute, 0 0 -195px);
            width: 100%;
        }
        &:before {
            background-color: #d5d5d5;
            content: "";
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
            height: 1px;
            z-index: 1;
        }
    }
}

.news__bottom {
    @include outer-container(996px);
}

.all-news__list-inner {
    @include outer-container(1066px);
    position: relative;
    z-index: 1;
    padding-bottom: 48px;
    @include media($fromdesc0) {
        padding-bottom: 65px;
        margin-top: -126px;
        &:before {
            content: "";
            box-shadow: 0 8px 48px rgba(0, 0, 0, 0.72);
            position: absolute;
            top: 13px;
            left: 13px;
            right: 13px;
            height: 163px;
            z-index: -1;
        }
    }
  
}

.news__list {
    padding: 0;
    list-style: none;
    &--all-news {
        
        position: relative;
        z-index: 1;
        background: whitesmoke;
        @include media($fromdesc7) {
            padding-right: 36px;
        }
       @include media($fromdesc0) {
            padding-left: 36px;
            
            padding-top: 36px;
        }
        @include media($mobile) {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            flex-direction: column;
        }
    }
}

.news__item {
    //@include span-columns(4 of 12);
    float: left;
    display: block;
    background: white;
    cursor: pointer;
    @include media($fromdesc0) { height: 368px;}
    &--main-page {
        //width: 31.12557%;
        // margin-right: 3.25765%;
        //WARNING
        width: 100%;
        @include media($frommobtodesc){
            height: 346px !important;
            .news__short-descr{
                    height: 54px !important;
            }
        }
        @include media($mobile) {
            box-shadow: 0 2px 12px rgba(0, 0, 2, 0.08);
            .news__short-descr{
                height: 68px;
            }
            .news__thumbnail,
            .news__thumbnail-wrap{height: 165px;}
        }
    }
    &--all-news {
         @include media($frommobtodesc18) {
           
           // height: 350.283px;
            //.news__short-descr{
             //height: 54px;
             //}
        }
        @include media($fromdesc0) {
           
           
            //.news__short-descr{
             //height: 54px;
            // }
        }
        @include media($frommobtodesc17) {
            //height: 332.217px;
             //.news__short-descr{
             //height: 36px;
             //}
        }
        @include media($frommobtodesc16) {
            //height: 368.35px;
            //.news__short-descr{
              //  height: 72px;
            //}
        }
        @include media($frommobtodesc) {
       
            width: 45.08400%;
            
            width: calc(100% * 1/2 - 36px);
            margin-right: 4.91600%;
            margin-bottom: 4.91600%;
            margin-right: calc(36px);
             margin-bottom: calc(36px);    
            @include omega(2n);
        }
         @include media($frommobtodesc11) {
       

            width: calc(100% * 1/3 - 36px);
            margin-right: calc(36px);
            margin-bottom: calc(36px);    
           
        }
        @include media($fromdesc1) {
             width: 31.18666%;
            margin-right: 3.22000%;
            margin-bottom: 3.22000%;
            @include omega(3n);
        }
        @include media($mobile) {
            max-width: 290px;
            margin-bottom: 15px;
            //height: 352.5px;
            box-shadow: 0 2px 12px rgba(0, 0, 2, 0.08);
            margin-left: auto;
            margin-right: auto;
            
            &:last-child {
                margin-bottom: 32px;
            }
        }
    }
    &--banner {
       overflow: hidden;
        img{
            // object-fit: cover;
             height: 352.5px;
        }
         @include media($fromdesc0) {
            img {
            //width: 100%;
             }      
        }

         @include media($fromdesc0) {
            img {
             height: 368px;
             }      
        }
         @include media($frommobtodesc18) {
            img {
           // height: 350.283px;
             }      
        }
        @include media($frommobtodesc17) {
            img {
            //height: 332.217px;
            }
        }
        @include media($frommobtodesc16) {
            img {
            //height: 368.35px;
            }
        }
        @include media($mobile) {
            box-shadow: 0 2px 18px rgba(0, 0, 2, 0.24);
            
            img {
               
            }
        }
    }
    a {
        text-decoration: none;
        color: #2e2e2e;
        display: block;
    }
    &:hover .news__title {
        color: rgb(229, 98, 102);
    }
    &:hover .news__thumbnail {
        opacity: 0.9;
        transform: scale(1.02);
    }
}

.news__thumbnail {
    max-height: 200px;
    max-width: 100%;
    opacity: 1;
    transform: scale(1);
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    transition: all .3s ease;
    object-fit: cover;
   
    &-wrap {
        position: relative;
        overflow: hidden;
    }
}
.news__thumbnail,
.news__thumbnail-wrap {
    width: 100%;
     height: 187px;
     @include media($fromdesc0) {
        height: 200px;
    }
}
.news__content-wrap {
    position: relative;
    &--main-page {
       // height: 130px;
        padding: 10px 25.5px 16px 14px;
         @include media($fromdesc0) {
            padding: 16px 20px 16px 18px;
        }
       
    }
    &--all-news {
        //height: 165px;
        padding: 12px 14px 18px;
         @include media($fromdesc0) {
            padding: 12px 20px 24px 18px;
        }
       
       
    }
}

.news__text-wrap {
    max-height: 115.5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news__title {
    font-family: Proxima Nova Bd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
      font-size: 14px;
        line-height: 1.29;
        margin-bottom: 8px;
    @include media($fromdesc0) {
        font-size: 16px;
        line-height: 1.13;
        margin-bottom: 9px;
        
    }
  
}

.news__short-descr {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
        line-height: 1.38;
     @include media($fromdesc0) {
        font-size: 14px;
        line-height: 1.29;
        height: 72px;
             
    }
    
}

.news__list-date {
    list-style: none;
    padding: 0;
    //position: absolute;
    @include media($fromdesc0) {
    margin-top: 13px;
    }
    &--main-page {
        //bottom: 15.5px;
         @include media($mobile) {
            margin-top: 4px;
    }
   }
    &--all-news {
         //@include media($fromdesc0) {
            //bottom: 20.5px;   
      //  }
        @include media($mobile) {
            //bottom: 15.5px;
            margin-top: 10px;
        }
    }
    li {
        display: inline-block;
        p {
            color: #999;
           
             line-height: 1.38;
                font-size: 12px;
             @include media($fromdesc0) {
                font-size: 13px;
                  line-height: 1;
            }
            
        }
        &:not(:last-child) {
            position: relative;
            p {
                margin-right: 10px;
            }
            &:before {
                content: "•";
                font-family: Proxima Nova Rg;
                font-size: 16px;
                right: 0;
                color: #999;
                display: block;
                @include centerY;
            }
        }
    }
}

.news__bottom {
     margin-top: -35px;
     @include media($fromdesc0) {
        margin-top: 27px;
    }
   
}

.news__slider-control {
    position: relative;
    //@include outer-container(100px);
    @include media($fromdesc0) {
        @include span-columns(2 of 12);
        @include shift(5);
        margin-top: 5px;
    }
    @include media($mobile) {
        background: url(../img/icons/bar-mob@2x.svg)no-repeat;
        width: 84px;
        height: 94px;
        background-size: 100% 100%;
        margin: auto;
        top: -10px;
    }
}

.single-news__title-wrap {
    width: 100%;
     @include media($fromdesc0) {
        top: 62px;
        position: absolute;
    }
    @include media($frommobtodesc) {
        padding-left: 14px;
        padding-right: 14px;
    }
    @include media($mobile) {
        max-width: 290px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        min-height: 310px;
        position: relative;
         &:before {
        content: "";
        z-index: -1;
        margin: auto;
       
            width: 100%;
            height: 100%;
            border: 18px solid #f0f0f0;
            @include centerX;
          
        
    }
        
    }
    img {
       
        height: 100%;
        object-fit: contain;
         @include media($fromdesc0) {
            float: left;
            display: block;
        }
    }
}
.single-news__descr-wrap,
.single-news__content p,
.single-news__content ul,
.single-news__content ol{
    @include outer-container(625.5px);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.43;
        @include media($fromdesc0) {
        font-size: 16px;
        line-height: 1.5;
        }
    
}
.single-news__descr-wrap,
.single-news__content p,
.single-news__content ul,
.single-news__content ol,
.single-news__content br{
    
    + .single-news__images-wrap,
    + .single-news__img-wrap--descr{
        margin-top:32px; 
    }
}
.single-news__descr-wrap {
     margin-top: 26px;
      
     @include media($fromdesc0) {
        margin-top: 40px;
    }
    
}

.single-news__content {
    @include outer-container(828px);
    position: relative;
    z-index: 1;
      &:before {
         @include media($fromdesc0) {
            border: 27px solid #f0f0f0;
            width: 433px;
            height: 401.5px;
            display: block;
            position: relative;
            content: "";
           z-index: -1;
            margin: auto;
        }
    }
     @include media($fromdesc0) {
        margin-top: 44px;
        margin-bottom: 71px;

    }
    @include media($mobile) {
        margin-top: 40px;
        padding: 15px 15px 12px;
    }
   
    img, iframe{
        max-width: 100%;
    }
    h1 {
         font-size: 18px;
        line-height: 1.17;
        margin-top: 17px;
        text-shadow: 0 12px 36px rgba(0, 0, 0, 0.24);
        font-family: Proxima Nova Bd;
        color: #2e2e2e;
         @include media($frommobtodesc) {
          margin-left: 20px;
           
      }
        @include media($fromdesc1) {
          margin-left: 48px;
           
       }
        @media screen and (min-width: 828px) {
            max-width: 380px;
        }
          @include media($fromdesc0) {
            float: left;
            text-align: left;
            margin-top: 49px;
            font-size: 27px;
            line-height: 1.19;
            max-width: 300px;   
        }
        @include media($mobile) {
           
            //min-height: 90px;
            margin-left: 18px;
            margin-right: 18px;
            margin-bottom: 36px;
        }
        small {
            color: #999;
            line-height: 1.5;
            display: inline-block;
             @include media($fromdesc0) {
                font-size: 14px;
                margin-top: 20px;
            }
            @include media($mobile) {
                font-size: 13px;
                margin-top: 8px;
                span {
                    margin-left: 5px;
                    margin-right: 5px;
                    display: inline;
                    &:after {
                        content: "•";
                        font-family: Proxima Nova Rg;
                        font-size: 13px;
                        color: inherit;
                        //display: inline-flex;
                        // align-self: center;
                         display: inline;
                    }
                }
            }
        }
    }
    p {
            margin-bottom: 20px;
         @include media($fromdesc0) {
            margin-bottom: 24px;
        }

    }
    p + ul,
    p + ol{
         margin-top: -20px;
         margin-bottom: 20px;
         @include media($fromdesc0) {
         margin-top: -24px;
         margin-bottom: 24px;
    }
    }
    p,div,ul,ol, a {
        &:empty, 
        + br {display: none;}
    }
}

.single-news__img-wrap {
    position: relative;
    z-index: 1;
    &--title {
        @include media($fromdesc0) {
            float: left;
        }
    }
    &--descr {
         @include media($fromdesc0) {
           // float: right;
            margin-right: 22px;
            margin-top: 6px;
            max-width: 100%;
        }
        @include media($mobile) {
            margin-top: 25px;
            margin-bottom: 28px;
            max-width: 290px;
        }
       
            img {
            display: block;
           
            height: auto;
            
            position: relative;
            z-index: 1;
        }
      
    }
    &:before {
        content: "";
        @include position(absolute, 18px);
        box-shadow: 0 12px 64px rgba(0, 0, 0, 0.64);
        z-index: -1;
    }
}

.single-news__nav-wrap {
    border-top: 1px solid #d5d5d5;
    position: relative;
   background-color: white;
    &:before {
        content: "";
        @include centerX;
        background-color: #d5d5d5;
        width: 1px;
        height: 100%;
    }
}

.single-news__nav-list {
    @include outer-container(690px);
    padding: 0;
    list-style: none;
     @include media($fromdesc0) {
        //padding-top: 30px;
        //padding-bottom: 45px;
        display: flex;
    }

    li {
        float: left;
        width: 50%;
        //cursor: pointer;
        transition: all .3s ease;
         @include media($fromdesc0) {
            &:hover {
                .single-news__nav-title, .single-news__nav--prev, .single-news__nav--next {
                    color: #2e2e2e;
                }
                .single-news__nav-title--disabled {
                    color: #999999;
                }
                .single-news__nav--prev {
                    &:before {
                        content: "";
                        margin-top: 3px;
                        background-size: cover;
                        background: url(../img/icons/prev-news-hover.svg)no-repeat;
                        width: 18.5px;
                        height: 13px;
                        margin-right: 11.5px;
                    }
                }
                .single-news__nav--next {
                    &:after {
                        content: "";
                       
                        margin-top: 3px;
                        background-size: cover;
                        background: url(../img/icons/next-news-hover.svg)no-repeat;
                        width: 18.5px;
                        height: 13px;
                        margin-left: 11.5px;
                    }
                }
            }
        }
    }
}

.single-news__prev {
    text-align: left;
}

.single-news__next {
    text-align: right;
}

.single-news__nav {
    font-family: Proxima Nova Bd;
    text-decoration: none;
   font-size: 13px;
    line-height: 1.23;
    color: #999999;
    display: flex;
    padding-top: 18px;
        padding-bottom: 18px;
     span{
        text-transform: uppercase;
         line-height: inherit;
          width: 112px;
         @include media($fromdesc0) {
             width: 315px;
         }
        }
     @include media($fromdesc0) {
        //display: block;
        font-size: 15px;
        color: #6c6c6c;
        flex-wrap: wrap;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 45px;
       
    }
    @include media($mobile) {
        
        
        justify-content: space-around;
         
    }
    &--prev {
        &:before {
            content: "";
             @include media($fromdesc0) {
                background: url(../img/icons/prev-news.svg)no-repeat;
                background-size: cover;
                width: 18.5px;
                height: 13px;
                margin-right: 11.5px;
               
                margin-top: 3px;
            }
            @include media($mobile) {
                width: 30px;
                height: 16px;
                margin-right: 12px;
                background: url(../img/icons/arrow-L-news-mob@2x.svg)no-repeat;
                background-size: contain;
                margin-left: 15px;
            }
        }
    }
    &--next {
         @include media($fromdesc0) {
            justify-content: flex-end;
        }
        &:after {
            content: "";
             @include media($fromdesc0) {
                background: url(../img/icons/next-news.svg)no-repeat;
                background-size: cover;
                width: 18.5px;
                height: 13px;
                margin-left: 11.5px;
                order: 2;
                margin-top: 3px;
            }
            @include media($mobile) {
                width: 30px;
                height: 16px;
                margin-left: 12px;
                margin-right: 15px;
                background: url(../img/icons/arrow-R-news-mob@2x.svg)no-repeat;
                 background-size: contain;
            }
        }
    }
    &--disabled{
        cursor: default;
        span{
           
            visibility: hidden;
            opacity: 0;
           
        }
       
        &:before,
        &:after{
            visibility: hidden;
            opacity: 0;
            @include media($mobile) {
                margin-left: 0;
                margin-right: 0;
            }
        }
        
    }
}

.single-news__nav-title {
    font-size: 15px;
   line-height: 1;
    color: #6c6c6c;
    font-family: Proxima Nova Rg;
    font-weight: 400;
    max-width: 250px;
    @include media($fromdesc0) {
    padding-top: 15px;
    line-height: 1.4;
    }
   
    &--disabled {
        color: #999999;
        cursor: default;
         @include media($fromdesc0) {
        padding-top: 30px;
        }
        
    }
      @include media($fromdesc0) {
    &--prev {
        
        padding-left: 30px;
    }
    &--next {
         
        padding-right: 30px;
     
            order: 3;
        }

    }
}
