.page-card {
    @include outer-container(900px);
    &--top {
        @include media($fromdesc0) {
            margin-top: -215px;
        }
        @include media($frommobtodesc) {
            padding-left: 14px;
            padding-right: 14px;
        }
    }
    &--bottom {
        position: relative;
        margin-top: -105px;
        @include outer-container(1020px);
        @include media($frommobtodesc) {
            @include outer-container(900px);
        }
    }
    &__wrap {
        position: relative;
        &--top {
            background-color: #f5f5f5;
            transition: all .3s ease;
            &-mg {
                margin-top: 54px;
            }
            @include media($fromdesc0) {
                padding-bottom: 100px;
                &:before {
                    content: "";
                    background-color: #e0e0e0;
                    height: 246px;
                    width: 100%;
                    display: block;
                }
            }
            @include media($mobile) {
                margin-top: 40px;
                padding-bottom: 110px;
            }
        }
        &--bottom {
            @include media($fromdesc0) {
                background-color: white;
                padding-top: 5px;
            }
            @include media($mobile) {
                background-color: whitesmoke;
                margin-top: -117px;
            }
        }
    }
    &__left {
        @include media($fromdesc0) {
            float: left;
            width: 70%;
            margin-right: 2.33509%;
        }
    }
    &__gallery {
        position: relative;
        z-index: 1;
        background-color: white;
        height: 226px;
        @include media($fromdesc0) {
            height: 300px;
        }
        &-inner {
            background-color: white;
            width: 100%;
            height: 100%;
        }
        &:before {
            content: "";
            z-index: -1;
            @include position (absolute, 16px 9px);
            box-shadow: 0 12px 64px rgba(0, 0, 0, 0.42);
        }
    }
    &__aside {
        background-color: transparent !important;
        @include media($fromdesc0) {
            @include omega();
            display: block;
            float: left;
            width: 27.64139%;
        }
        @include media($mobile) {
            margin-top: -20px;
        }
        &:before {
            content: "";
            @include position (absolute, 16px 9px);
            box-shadow: 0 12px 48px rgba(0, 0, 0, 0.32);
            z-index: -1;
        }
        &-wrap {
            position: relative;
            z-index: 1;
            &:before {
                content: "";
                @include position (absolute, 16px 9px);
                box-shadow: 0 12px 48px rgba(0, 0, 0, 0.32);
                z-index: -1;
            }
        }
        &-inner {
            padding-top: 15px;
            background-color: white;
        }
        &-title,
        &-code {
            padding: 0 19px;
        }
        &-title {
            font-family: Proxima Nova Bd;
            font-size: 18px;
        }
        &-code {
            margin-top: 5px;
            font-size: 14px;
            margin-bottom: 15px;
        }
        &-list {
            list-style: none;
            display: block;
            padding: 0;
            >li {
                padding: 10px 19px 15px;
                border-top: 1px solid #d5d5d5;
                @include media($fromdesc0) {
                    display: block;
                }
                @include media($mobile) {
                    display: flex;
                    align-items: center;
                }
                img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                    position: relative;
                }
                &:first-child {
                    padding: 10px 19px 18px;
                    @include media($fromdesc0) {
                        img {
                            top: 9px;
                            left: -3px;
                        }
                    }
                    @include media($mobile) {
                        img {
                            left: -1px;
                        }
                    }
                }
                &:nth-child(2) {
                    padding: 12px 19px 14px;
                    @include media($fromdesc0) {
                        img {
                            top: 10px;
                        }
                    }
                    @include media($mobile) {
                        img {
                            left: 1px;
                            top: 1px;
                        }
                    }
                }
                &:nth-child(3) {
                    padding: 13px 19px 14px;
                    @include media($fromdesc0) {
                        img {
                            top: 6px;
                            left: 1px;
                        }
                    }
                    @include media($mobile) {
                        img {
                            left: 2px;
                        }
                    }
                }
                &:nth-child(4) {
                    @include media($fromdesc0) {
                        img {
                            top: 10px;
                        }
                    }
                    @include media($mobile) {
                        img {
                            left: 1px;
                        }
                    }
                }
                &:nth-child(5) {
                    padding: 12px 19px 14px;
                    @include media($fromdesc0) {
                        img {
                            top: 6px;
                        }
                    }
                    @include media($mobile) {
                        img {
                            left: 2px;
                        }
                    }
                }
                &:nth-child(6) {
                    @include media($fromdesc0) {
                        img {
                            top: 6px;
                            left: 1px;
                        }
                    }
                    @include media($mobile) {
                        img {
                            left: 3px;
                        }
                    }
                }
            }
        }
        &-subtitle {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #999;
            font-family: Proxima Nova Rg;
        }
        &-descr {
            font-size: 14px;
            font-family: Proxima Nova Bd;
            line-height: 1;
            margin-top: 3px;
            &--currency {
                font-size: 18px;
                margin-top: 2px;
                float: left;
                display: none;
                &-wrap {
                    padding: 0;
                    list-style: none;
                }
                &.active {
                    display: block;
                }
            }
        }
        &-currency {
            list-style: none;
            margin-top: -5px;
            display: inline-block;
            float: left;
            position: absolute;
            padding: 5px 9px 1px;
            @include media($mobile) {
                margin-left: 2px;
            }
            li {
                cursor: pointer;
                margin-bottom: 7px;
            }
            &.active {
                box-shadow: 0 6px 21px rgba(0, 0, 2, 0.24);
                background-color: white;
                >li:first-child {
                    i {
                        color: #63b932;
                    }
                    a {
                        color: #63b932;
                    }
                    &:hover {
                        i,
                        a {
                            text-shadow: none;
                            color: #63b932;
                        }
                    }
                }
                >li:not(:first-child) {
                    &:hover a {
                        color: #63b932;
                        &:after {
                            background-color: #63b932;
                        }
                    }
                }
            }
            >li {
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: Proxima Nova Bd;
                    transition: all .3s ease;
                }
                &:first-child {
                    a,
                    i {
                        color: #63b932;
                        font-size: 18px;
                    }
                    i {
                        margin-left: 5px;
                    }
                    &:hover {
                        a,
                        i {
                            text-shadow: 0 1px 12px rgba(0, 0, 2, 0.24);
                            color: #458223;
                        }
                    }
                }
                &:not(:first-child) {
                    display: none;
                    a {
                        color: #b2b2b2;
                        font-size: 14px;
                        position: relative;
                        &:after {
                            content: "";
                            width: 10px;
                            @include centerY;
                            right: -15px;
                            height: 1px;
                            background-color: #b2b2b2;
                        }
                    }
                }
            }
        }
        &-info {
            width: 85%;
            @include media($fromdesc0) {
                padding-left: 4px;
                float: left;
                display: block;
            }
        }
        &-img-wrap {
            width: 15%;
            @include media($fromdesc0) {
                float: left;
                display: block;
            }
        }
    }
    &__common-info {
        position: relative;
        z-index: 1;
        background-color: white;
        &:before {
            content: "";
            z-index: -1;
            box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
            @include position (absolute, 25px);
        }
        &-list {
            display: flex;
            background-color: white;
            list-style: none;
            width: 100%;
            @include media($fromdesc0) {
                justify-content: space-between;
                padding: 25px 25px 20px;
            }
            @include media($mobile) {
                flex-direction: column;
                justify-content: flex-start;
                background: white url(../img/stamp.png) no-repeat;
                background-size: 180px 104px;
                background-position: right 0;
                padding: 32px 30px 20px;
            }
            li {
                @include media($fromdesc0) {
                    text-align: center;
                    img {
                        margin: auto;
                    }
                    p {
                        margin-top: 12px;
                    }
                    &:nth-child(2) {
                        p {
                            top: 4px;
                        }
                    }
                    &:nth-child(3) {
                        p {
                            left: 6px;
                            top: -1px;
                        }
                        img {
                            left: 8px;
                            top: -1px;
                        }
                    }
                    &:nth-child(4) {
                        p {
                            left: 18px;
                            top: 5px;
                        }
                        img {
                            left: 17px;
                        }
                    }
                    &:nth-child(5) {
                        p {
                            left: 25px;
                            top: -4px;
                        }
                        img {
                            left: 25px;
                            top: -5px;
                        }
                    }
                }
                @include media($mobile) {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    &:not(:last-child) {
                        margin-bottom: 28px;
                    }
                    &:last-child {
                        margin-bottom: 15px;
                    }
                    p {
                        margin-left: 20px;
                    }
                }
                img {
                    height: auto;
                    position: relative;
                    display: block;
                    //margin: auto;
                    max-width: 100%;
                }
                p {
                    font-size: 14px;
                    line-height: 1.14;
                    position: relative;
                }
                &:nth-child(2) {
                    img {
                        left: -5px;
                    }
                    p {
                        left: -1px;
                    }
                }
                &:nth-child(3) {
                    p {
                        top: 2px;
                        left: 14px;
                    }
                    img {
                        left: 7px;
                        top: 1px;
                    }
                }
                &:nth-child(4) {
                    p {
                        left: 13px;
                    }
                    img {
                        left: 6px;
                    }
                }
                &:nth-child(5) {
                    p {
                        left: 15px;
                        top: 2px;
                    }
                    img {
                        left: 8px;
                        top: 2px;
                    }
                }
            }
        }
    }
    &__descr {
        position: relative;
        z-index: 1;
        background-color: white;
        &:before {
            content: "";
            z-index: -1;
            box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
            @include position (absolute, 25px);
        }
        &-inner {
            padding-top: 15px;
            background-color: white;
            width: 100%;
            @include media($fromdesc0) {
                padding-top: 25px;
            }
        }
        &-title {
            font-size: 18px;
            @include media($fromdesc0) {
                font-size: 22px;
            }
        }
        &-title,
        &-text {
            color: #000;
            margin-right: 24px;
            margin-left: 17px;
            @include media($fromdesc0) {
                margin-left: 27px;
                margin-right: 61.5px;
            }
        }
        &-text {
            overflow: hidden;
            transition: all .3s ease-out;
            font-size: 14px;
            line-height: 1.29;
            max-height: 160px;
            margin-top: 5px;
            margin-bottom: 19px;
            @include media($fromdesc0) {
                font-size: 16px;
                line-height: 1.5;
                max-height: 95px;
                margin-bottom: 20.5px;
                margin-top: 8px;
            }
            &--hide {
                max-height: 1000px !important;
                //overflow: auto;
                //transition: all .3s ease;
            }
        }
    }
    &__char {
        position: relative;
        z-index: 1;
        background-color: white;
        &:before {
            content: "";
            z-index: -1;
            box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
            @include position (absolute, 25px 25px 20px);
        }
        &-inner {
            background-color: white;
            width: 100%;
            padding: 15px 17px;
            @include media($fromdesc0) {
                padding: 28px 30px;
            }
        }
        &-title {
            font-size: 16px;
            margin-bottom: 5px;
            @include media($fromdesc0) {
                font-size: 18px;
                margin-bottom: 16px;
                &--list {
                    margin-top: 20px;
                }
            }
        }
        &-table {
            border-collapse: separate;
            border-spacing: 0;
            @include media($fromdesc0) {
                max-width: 38.2%;
                float: left;
            }
            &--right {
                @include media($fromdesc0) {
                    border-left: 1px solid #d5d5d5;
                    margin-left: 7.8%;
                    max-width: 54%;
                }
                tr {
                    td {
                        &:first-child {
                            width: 55% !important;
                            @include media($fromdesc0) {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
            tr {
                td {
                    text-align: left;
                    vertical-align: top;
                    font-size: 13px;
                    line-height: 1.92;
                    @include media($fromdesc0) {
                        font-size: 14px;
                        line-height: 1.4;
                        padding-top: 1.5px;
                        padding-bottom: 2.5px;
                    }
                }
                td:first-child {
                    color: #999;
                    width: 66%;
                }
            }
        }
    }
    &__char-list {
        list-style: none;
        padding: 0;
        font-size: 18px;
        @include media($fromdesc0) {
            &--4 {
                @include span-columns(4 of 12)
            }
            &--8 {
                @include span-columns(8 of 12);
                padding-left: 15px;
            }
            &--middle {
                padding-left: 8px;
            }
        }
        li {
            position: relative;
            @include media($fromdesc0) {
                font-size: 14px;
                padding-bottom: 6px;
                padding-left: 17px;
            }
            @include media($mobile) {
                font-size: 13px;
                line-height: 1.92;
                display: flex;
                justify-content: flex-start;
                padding-bottom: 2px;
            }
            &:before {
                content: "\f00c";
                font-family: 'FontAwesome';
                color: #63b932;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                @include media($fromdesc0) {
                    position: absolute;
                    left: 0;
                    margin-top: 3px;
                    display: inline-block;
                    font-size: 12px;
                }
                @include media($mobile) {
                    font-size: 13px;
                    display: inline-flex;
                    margin-right: 8px;
                }
            }
        }
    }
    &__video {
        position: relative;
        background-color: white;
        height: 163px;
        z-index: 2;
        @include media($fromdesc0) {
            height: 355px;
            z-index: 1;
        }
        &:before {
            content: "";
            z-index: -1;
            box-shadow: 0 12px 64px rgba(0, 0, 0, 0.42);
            @include position (absolute, 16px 9px);
            @include media($mobile) {
                bottom: 15px;
            }
        }
        &-inner {
            width: 100%;
            height: 100%;
            background-color: white;
            iframe {
                height: 100%;
                border: 0;
                max-width: 100%;
                width: 100%;
            }
        }
    }
    &__photo {
        position: relative;
        z-index: 1;
        background-color: white;
        //margin-bottom: 21px;
        &:before {
            content: "";
            z-index: -1;
            box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
            @include position (absolute, 25px);
        }
        &-inner {
            width: 100%;
            height: 100%;
            background-color: white;
        }
        &-title {
            text-align: center;
            margin: auto;
            font-size: 16px;
            padding-top: 18px;
            padding-bottom: 3px;
            @include media($fromdesc0) {
                font-size: 22px;
                color: #000;
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }
        &-list {
            list-style: none;
            padding: 0;
            width: 100%;
            li {
                width: 33.33334%;
                display: block;
                float: left;
                cursor: pointer;
                //transition: all 0.3s ease;
                overflow: hidden;
                position: relative;
                img {
                    transform: scale(1);
                    backface-visibility: hidden;
                    width: 100%;
                    //max-height: 225px;
                    object-fit: cover;
                    height: 225px;
                    transition: all 0.3s ease;
                }
                &:nth-child(n+7) {
                    display: none;
                }
                &:hover img {
                    opacity: 0.9;
                    transform: scale(1.02);
                }
            }
        }
    }
    &__grid-icons-wrap {
        position: relative;
        z-index: 1;
        @include media($frommobtodesc) {
            margin-left: 14px;
            margin-right: 14px;
        }
        &:before {
            content: "";
            z-index: -1;
            @include media($fromdesc0) {
                @include position (absolute, 15px);
                box-shadow: 0 0 70px rgba(0, 0, 2, 0.2);
            }
        }
        @include media($mobile) {
            @include outer-container(290px);
            background: url(../img/bg-bar-mob@2x.png)no-repeat;
            background-size: 100% 100%;
            height: 420px;
            margin-bottom: 30px;
            &:before {
                content: "";
                box-shadow: 0 0 60px rgba(0, 0, 2, 0.4);
                @include position (absolute, 25px 14px);
            }
        }
    }
    &__recommend-title {
        @include media($fromdesc0) {
            font-family: Proxima Nova Rg;
            font-size: 24px;
            display: block;
            float: left;
            font-weight: 400;
            margin-bottom: 13px;
        }
        @include media($mobile) {
            font-size: 16px;
            text-align: center;
            background-color: white;
            padding: 17px 0;
        }
    }
    &__recommend-slider-control {
        position: relative;
        display: block;
        float: right;
        width: 146.5px;
        margin-right: -20px;
    }
    &__recommend-wrap {
        position: relative;
        background-color: whitesmoke;
        @include media($fromdesc0) {
            background-color: white;
            padding-top: 40px;
            @include outer-container(928px);
        }
    }
    &__form-wrapper {
        background: white;
        @include media($fromdesc0) {
            padding-bottom: 80px;
        }
        @include media($mobile) {
            padding-top: 27px;
            padding-bottom: 46px;
        }
    }
    &__form-title {
        font-family: Proxima Nova Rg;
        font-size: 24px;
        display: block;
        font-weight: 400;
        color: #000;
        text-align: center;
        @include media($fromdesc0) {
            font-size: 32px;
        }
    }
    &__common-info,
    &__descr,
    &__char {
        @include media($fromdesc0) {
            margin-top: 21px;
        }
    }
    &__aside,
    &__descr,
    &__char,
    &__photo,
    &__video {
        @include media($fromdesc0) {
            margin-bottom: 21px;
        }
    }
    &__aside,
    &__common-info,
    &__descr,
    &__char,
    &__video {
        @include media($mobile) {
            max-width: 290px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
        }
    }
}

.vertical-tabs__container {
    width: 100%;
    height: 100%;
}

.vertical-tab__content-container {
    padding: 0;
    max-height: 100%;
    overflow: hidden;
    @include media($fromdesc0) {
        float: left;
        width: 63.59300%;
        margin-right: 0;
    }
}

.vertical-tab__content {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: block;
    &:not(:first-child) {
        display: none;
    }
    img {
        object-fit: cover;
    }
    @include media($fromdesc0) {
        img {
            height: 300px;
        }
    }
    @include media($mobile) {
        img {
            width: 100%;
            height: 226px;
        }
    }
}

.vertical-tabs {
    display: block;
    float: left;
    width: 36.3800%;
    @include omega();
    max-height: 100%;
    overflow: hidden;
    padding-top: 3px;
    @include media($frommobtodesc) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 4px;
        padding-left: 4px;
    }
}

.vertical-tab {
    text-decoration: none;
    display: block;
    float: left;
    box-sizing: content-box;
    margin-bottom: 1px;
    position: relative;
    padding: 2px;
    border: 2px solid transparent;
    @include media($fromdesc1) {
        width: 41.4200%;
        margin-left: 3px;
        margin-right: 4px;
        &:nth-child(2n+1) {
            margin-right: 5px;
            margin-left: 3px;
        }
        &:nth-child(2n) {
            margin-left: 4px;
        }
        &:hover {
            &:before {
                right: -10px;
            }
        }
        &.active {
            &:before {
                right: -10px;
            }
        }
    }
    @include media($frommobtodesc) {
        display: flex;
        width: 45%;
        &:nth-child(2n+1) {
            margin-right: 1px;
        }
        &:hover {
            &:before {
                right: -2px;
            }
        }
        &.active {
            &:before {
                right: -2px;
            }
        }
    }
    &:hover {
        &:before {
            content: "";
            border: 2px solid #e56266;
            @include position (absolute, -2px null -2px -2px);
        }
    }
    &.active {
        &:before {
            content: "";
            border: 2px solid #e56266;
            @include position (absolute, -2px null -2px -2px);
        }
    }
}

.vertical-tab__img {
    display: block;
    margin: auto;
    height: 89px;
    object-fit: cover;
    width: 102.5px;
    @include media($frommobtodesc) {
        max-width: 100%;
    }
}

@include media($fromdesc0) {
    .vertical-tab__content-container {
        .auto-card__social {
            height: 30px;
            padding: 0 0 0 5px;
        }
        .auto-card__copy-descr {
            margin-top: 3px;
            margin-right: 15px;
        }
        .auto-card__copy-descr--green {
            font-size: 13px;
            margin-top: 3px;
            margin-left: 0;
        }
        .auto-card__list-social {
            padding-top: 0;
            height: 30px;
        }
        .auto-card__list-social a {
            height: 30px;
            display: inline-block;
            overflow: hidden;
            padding-top: 6px;
            padding-left: 6px;
            padding-right: 4px;
            margin-right: 0;
        }
    }
}

@include media($fromdesc1) {
    .vertical-tab__content-container {
        .auto-card__social {
            padding: 0 0 0 15px;
        }
        .auto-card__list-social a {
            border-left: 1px solid #d5d5d5;
            padding-left: 12px;
            padding-right: 8px;
        }
    }
}