.page-buy__content {
    background: white;
    @include media($mobile) {
        margin-top: 38px;
    }
}

.auto-card-filters__aside{
        @include media($fromdesc2) {
        width: 24.91%;
    }
    @include media($frommobtodesc9) {
        width: 23.91%;
    }
    @include media($frommobtodesc10) {
        width: 21.91%;
    }
    @include media($fromdesc0) {
        float: left;
    }
    @media screen and (min-width: 1300px) {
        width: 22.7%;
    }
}
.auto-card-filters__aside {
    display: block;
    background: white;
    @include media($fromdesc0) {
        //float: left;
        padding: 14.5px 0;
        display: block !important;
         border-right: 1px solid #dbdbdb;
        // WARNING display: block !important is property for js
        &--secondary{
            padding:0;
        }
    }
    @include media($mobile) {
        @include position (fixed, 0);
        z-index: 110;
        overflow-y: scroll;
        display: none;
    }
}

.auto-card__filters-checkbox--buy {
    display: flex;
    flex-wrap: wrap;
}

.auto-card__filters-checkbox--auto li:nth-child(n+7),
.auto-card__filters-checkbox--lorries li:nth-child(n+7),
.auto-card__filters-checkbox--buses li:nth-child(n+7),
.auto-card__filters-checkbox--special-auto li:nth-child(n+7),
.auto-card__filters-checkbox--others li:nth-child(n+7){
    display: none;
}


.auto-card__list--buy-wrap{
    
    @include media($fromdesc0) {
        float: left;
    }
      @include media($frommobtodesc10) {
        width: 78.09%;
    }
    @include media($frommobtodesc9) {
        width: 76.09%;
    }
    @include media($fromdesc2) {
        width: 75.09%;
    }
    @media screen and (min-width: 1300px) {
        width: 77.3%;
    }
    @include media($mobile) {
        @include outer-container(100%);
    }
    
}
.auto-card__list--buy-wrap {
    display: block;
    @include media($fromdesc0) {
       // float: left;
       
        border-right: 1px solid whitesmoke;
    }
  
}

@include media($frommobtodesc4) {
    .auto-card__item--buy {
        .auto-card__list-social a:not(:last-child) {
            padding-right: 5px;
        }
    }
}

.auto-card-filters__show-more {
    float: right;
    font-size: 14px;
    color: #63b932;
    text-decoration: none;
    margin-bottom: 15px;
}

.auto-card-filters__item {
    &--transport {
        margin-bottom: 16px;
    }
    @include media($mobile) {
        padding-right: 21px;
        padding-left: 21px;
        &--last {
            margin-bottom: 8px;
        }
        &--transport {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    @include media($fromdesc0) {
        padding-left: 12px;
        padding-right: 12px;
        &--transport {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .auto-card__select-wrap--half {
        @include media($frommobtodesc4) {
            float: none;
            width: auto;
        }
    }
}

.auto-card-filters__aside .auto-card__sort {
    @include media($fromdesc0) {
        display: none !important;
    }
}

.auto-card__sort {
     display: flex;
      line-height: 1;
    @include media($fromdesc0) {
        padding: 0 14px;
        font-size: 15px;
        &--secondary{
            padding: 10px 6px 0 14px;
  
        }
    }
    @include media($fromdesc1) {
        &--secondary{
            padding: 25px 6px 0 14px;
  
        }
    }
    @include media($mobile) {
        font-size: 13px;
        padding-right: 21px;
        padding-left: 21px;
        padding-top: 11px;
        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    &-btn {
        text-decoration: none;
        position: relative;
        color: #999;
        padding-bottom: 12px;
      
        margin-left: 10px;
        
        //margin-left: 6px;
        @include media($fromdesc0) {
        //margin-left: 10px;
        }
        @include media($fromdesc1) {
               &--secondary{
              max-height: 39px;
            }
        }
        display: inline-block;
        &:hover,
        &.active {
            color: #63b932;
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                background-color: #63b932;
                height: 3px;
                width: 100%;
            }
            
        }
     
    }
}

.auto-card-filters__aside .auto-card__search-form {
    @include media($mobile) {
        padding-top: 60px;
    }
}

.auto-card__search-form {
    background-color: white;
}

.auto-card__search-cont {
    @include media($mobile) {
        padding: 19px 8px 21px;
        display: flex;
        &--modal {
            padding: 0 9px;
            margin-top: -1px;
        }
    }
    &--secondary{
        @include media ($fromdesc1) {
            flex-grow: 1;
           // width: 70.9%;
            //width: 100%;
            width: calc(100% - 298px);
        }
    }
}

@include media($mobile) {
    .auto-card__search-btn-xs {
        border-top: 1px solid #63b932;
        border-bottom: 1px solid #63b932;
        border-right: 1px solid #63b932;
        position: relative;
        min-width: 34px;
        max-width: 34px;
        text-align: center;
        color: #63b932;
        font-family: Proxima Nova Rg;
        font-size: 13px;
        font-weight: 400;
    }
    .bar-filter-xs__settings--green {
        &:before {
            content: "";
            background: url(../img/icons/settings-icon-green.svg)no-repeat;
            width: 16px;
            height: 15px;
            background-size: cover;
            @include centerX;
            top: 9px;
        }
    }
}

.auto-card__error-wrap {
    border-top: 1px solid #d5d5d5;
    padding-top: 28px;
    padding-bottom: 32px;
    display: none;
    &--secondary{
         width: 100%;
    }
}

.auto-card__error {
    @include outer-container(236px);
    @include media($fromdesc0) {
        max-width: 510px;
    }
}

.auto-card__error-title {
    color: #000000;
    font-size: 21px;
    line-height: 1.14;
    @include media($fromdesc0) {
        font-size: 32px;
        line-height: 1;
    }
}

.auto-card__error-descr {
    color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.29;
    @include media($fromdesc0) {
        font-size: 16px;
        line-height: 1.31;
    }
}

.auto-card__pagination {
    text-align: center;
    background: whitesmoke;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0;
    &>ul {
        padding-left: 0;
        overflow: hidden;
    }
    @include media($fromdesc0) {
        padding: 12px 14px;
    }
    li {
        display: inline-block;
        @include media($mobile) {
            padding: 5px 0;
        }
        .page-link {
            padding-left: 10px;
            padding-right: 10px;
            @include media($fromdesc0) {
                padding-left: 8px;
                padding-right: 8px;
            }
            &.prev,
            &.next {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .ellipse {
            margin-right: 4px;
            margin-left: 4px;
            @include media($fromdesc0) {
                margin-right: 16px;
                margin-left: 16px;
            }
        }
        .current {
            color: white;
            border-radius: 50%;
            background-color: #e56266;
            width: 24px;
            height: 24px;
            line-height: 24px;
            @include media($fromdesc0) {
                width: 38px;
                height: 38px;
                line-height: 38px;
            }
        }
        a {
            text-decoration: none;
        }
        a,
        span {
            color: #999;
            display: inline-block;
            font-size: 13px;
            @include media ($fromdesc0) {
                font-size: 18px;
            }
        }
    }
    li:first-child,
    li:last-child {
        @include media($mobile) {
            width: 38px;
            height: 34px;
            padding: 0;
        }
        a {
            @include media($fromdesc0) {
                margin: 12px 0 0;
                font-size: 15px;
                text-transform: uppercase;
                font-family: 'Proxima Nova Lt';
            }
            @include media($mobile) {
                height: 100%;
                width: 100%;
                display: block;
                visibility: hidden;
            }
            position: relative;
        }
    }
    li.disabled {
        visibility: hidden;
    }
    li:first-child {
        float: left;
        @include media($mobile) {
            border-right: 1px solid #d5d5d5;
        }
        a {
            &:before {
                content: "";
                background: url(../img/icons/back.svg)no-repeat;
                background-size: contain;
                position: relative;
                display: inline-block;
                @include media($fromdesc0) {
                    width: 18.5px;
                    height: 13px;
                    top: 1px;
                    margin-right: 12px;
                }
                @include media($mobile) {
                    width: 14px;
                    height: 10px;
                    top: 10px;
                    visibility: visible;
                }
            }
            &:hover {
                &:before {
                    background: url(../img/icons/back-pag-hover.svg)no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    li:last-child {
        float: right;
        @include media($mobile) {
            border-left: 1px solid #d5d5d5;
        }
        a {
            &:after {
                content: "";
                background: url(../img/icons/next.svg)no-repeat;
                background-size: contain;
                position: relative;
                display: inline-block;
                @include media($fromdesc0) {
                    width: 18.5px;
                    height: 13px;
                    top: 1px;
                    margin-left: 12px;
                }
                @include media($mobile) {
                    width: 14px;
                    height: 10px;
                    top: -5px;
                    visibility: visible;
                }
            }
            &:hover {
                &:after {
                    background: url(../img/icons/next-pag-hover.svg)no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}

.page-buy__recommend-wrap {
    position: relative;
    @include media($fromdesc0) {
        background-color: white;
    }
    @include media($mobile) {
        background-color: whitesmoke;
    }
}

.page-buy__recommend-title {
    font-family: Proxima Nova Rg;
    @include media($fromdesc0) {
        display: block;
        float: left;
        font-size: 24px;
        margin-left: 78px;
        margin-bottom: 15px;
        margin-top: 2px;
    }
    @include media($mobile) {
        background-color: white;
        height: 36px;
        font-size: 14px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 8px rgba(46, 46, 46, 0.08);
        margin-bottom: 2px;
    }
    &:before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        float: left;
        @include media($fromdesc0) {
            top: 23px;
            background: url(../img/icons/icon-recommend.png)no-repeat;
            background-size: contain;
            width: 63px;
            height: 43px;
        }
        @include media($mobile) {
            top: -10px;
            background: url(../img/icons/flag-left@2x.svg)no-repeat;
            background-size: contain;
            background-position: -13px 0;
            width: 63px;
            height: 60px;
        }
    }
    &:after {
        @include media($mobile) {
            display: block;
            content: "";
            position: absolute;
            right: 0;
            top: -10px;
            float: right;
            background: url(../img/icons/flag-right@2x.svg)no-repeat;
            background-size: contain;
            background-position: 13px 0;
            width: 63px;
            height: 60px;
        }
    }
}

.page-buy__recommend-slider-control {
    position: relative;
    @include media($fromdesc0) {
        float: right;
        width: 114px;
        margin-top: 4px;
    }
    @include media($mobile) {
        max-width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        padding: 11px 12px;
        box-shadow: 0 2px 6px rgba(0, 0, 2, 0.08);
        border-radius: 37px;
        background-color: white;
        margin-bottom: 30px;
        height: 38px;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.page-link {
    &:hover {
        color: #2e2e2e
    }
}

.auto-card__filters-subtitle--transport-secondary{
   
    @include media($fromdesc0) {
      margin: 0;
        padding: 18px 0 22px 12px;
     
    }
    @include media($fromdesc1) {
     position: relative;
        &:before{
            content: '';
            width: 4px;
            right: -2px;
            top: 0;
            bottom: 0;
            position: absolute;
            background-color: white;
        }
       
    }
}
@include media($fromdesc0) {
    
    _:-moz-tree-row(hover), .auto-card__filters-subtitle--transport-secondary {
        padding-bottom: 21px;
    }
}
.auto-card__search-form--secondary{
    display: flex;
      flex-direction: column-reverse;

     @include media($fromdesc1) {
     flex-direction: row;
     justify-content: space-between;
       
    }
}
