.reviews {
    &__title {
        font-family: Proxima Nova Bd;
         @include media($fromdesc0) {
        margin-top: 110px;
        }
        @include media($mobile) {
            line-height: 1;
        }
    }
    &__header-star-wrap {
        display: flex;
        align-items: center;
        @include media($fromdesc0) {
             margin-top: 10px;
             padding-left: 40px;
            @include outer-container(460px);
        }
        @include media($mobile) {
            justify-content: center;
            max-width: 100%;
            margin: auto;
            padding-left: 55px;
        }
    }
    &__header-star {
        font-size: 55px;
        color: white;
        //float: left;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        max-width: 256px;
        @include media($fromdesc0) {
        margin-left: 62px;
        }
        @include media($mobile) {
            align-items: center;
            margin-left: 22.5px;
        }
    }
    &__header-hint {
        color: white;
       
        //float: left;
        font-size: 38px;
        @include media($fromdesc0) {
             font-size: 64px;
        }
    }
    &__header-descr {
       
        color: white;
        text-align: center;
         font-size: 14px;
             margin-top: -4px;
            margin-bottom: 16px;
         @include media($fromdesc0) {
        margin-top: 10px;
        margin-bottom: 25px;
              font-size: 20px;
        }
    }
    &__header-circle-wrap {
        @include centerX;
        bottom: -32px;
        //bottom: 0;
        
        background: url(../img/circle.png)no-repeat;
        background-size: cover;
        width: 80px;
        height: 80px;
        z-index: 1;
        cursor: pointer;
        display: block;
        text-decoration: none;
    }
    &__header-circle-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__header-circle {
        background-color: white;
        width: 48px;
        height: 48px;
        @include centerXY;
        border-radius: 50%;
        &:before {
            content: "";
            @include centerXY;
            background: url(../img/icons/arrow-bottom.svg)no-repeat;
            background-size: cover;
            width: 16px;
            height: 9.5px;
        }
        &:after {
            content: "";
            z-index: -1;
            box-shadow: 0 12px 21px rgba(0, 0, 0, 0.64);
            @include position (absolute, 0);
            border-radius: 50%;
        }
    }
    &__form-wrap {
        @include outer-container(575px);
        background-color: white;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 10px;
            top: 21px;
            box-shadow: 0 18px 48px rgba(0, 0, 0, 0.42);
            z-index: -1;
        }
    }
    &__form {
       

        padding: 62px 121.5px 48px;
    }
    &__form-star-wrap {
     
        margin-bottom: 17px;
        display: flex;
        flex-wrap: wrap;
       
       
        .br-wrapper{
            display: flex;
            flex-direction: column-reverse;
            
        }
         label.error{
       
           
                 width: 100%;
            
    }
   
    }
    &__form-star-descr {
        font-size: 16px;
        @include media($fromdesc0) {
        min-width: 210px;
        }
    }
    &__form-star {
        @include media($fromdesc0) {
        margin-left: 10px;   
        }
        @include media($mobile) {
            margin-top: 10px;
        }
    }
    &__main-text {
        color: #ebebeb;
        font-family: Proxima Nova Bd;
        font-size: 170px;
        text-transform: uppercase;
        @include user-select(none);
        z-index: -2;
        position: relative;
        text-align: center;
        margin-top: -78px;
        line-height: 1;
        margin-bottom: 23px;
    }
    &__comment-wrap {
        background-color: white;
        position: relative;
        @include outer-container(671px);
          margin-bottom: 15px;
        &:before {
            content: "";
            box-shadow: 0 0 50px rgba(0, 0, 2, 0.2);
            z-index: -1;
            @include position (absolute, 25px);
        }
        @include media($fromdesc0) {
            margin-bottom: 18px;
        }
    }
    &__comment {
       
         
        &:nth-child(n+3),
        &:nth-child(2) {
            border-top: 1px solid #d6d6d6;
            display: none;         
            .reviews__comment-date {
                margin-top: 0;
            }
        }
        
         @include media($fromdesc0) {
        padding: 32px 48px 36.5px;
             &:nth-child(n+3),
            &:nth-child(2){
                padding-top: 30px;
                .reviews__comment-name {
                font-size: 16px;
            }
            }
            &:nth-child(n+3) {
            margin-left: 97px;
            padding-left: 0;
        }
        &:nth-child(2) {
            padding-left: 97px;
        }
        }
        @include media($mobile) {
            padding-top: 15px;
            &:first-child {
                .reviews__comment-name{
               // margin-left: -7px;
                }
                .reviews__comment-bottom-wrap{
                    border-top: 1px solid #d5d5d5;
                }
            }
             &:nth-child(n+3)  
           {
             margin-left: 48px;
               padding-left: 0;
           
        }
             &:nth-child(2) {
            padding-left: 48px;
                 
        }
            &:nth-child(n+3), 
            &:nth-child(2){
                .reviews__comment-top-wrap,
                .reviews__comment-descr{
                    padding-left: 0;
                }
                .reviews__comment-descr{
                    margin-bottom: 0;
                }
                .reviews__comment-reply, 
                .reviews__comment-answer{
                    text-align: left;
                    justify-content: flex-start;
                    padding-left: 6px;
                    padding-top: 9px;
                }
            }
        }
    }
     &__comment-top-wrap,
     &__comment-descr {
         @include media($mobile) {
            padding-left: 18px;
            padding-right: 22px; 
         }
    }
   
    
    &__comment-star {
        float: left;
        width: auto;
        margin-top: 2px;
    }
    &__comment-name {
        font-family: Proxima Nova Bd;
        float: left;
        li:nth-child(2) {
            i {
                color: #999;
                margin-right: 5px;
                margin-left: 3px;
            }
        }
         @include media($fromdesc0) {
           font-size: 18px; 
        }
        @include media($mobile) {
             font-size: 14px;
             margin-top: 3px;
        }
    }
    &__comment-name,
    &__comment-date {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
        }
    }
    &__comment-date {
        
        color: #999;
       
        margin-top: 2px;
        li {
            &:nth-child(2) {
                position: relative;
                margin-left: 10px;
                &:before {
                    content: "•";
                    font-family: Proxima Nova Rg;
                   
                    color: #999;
                    display: block;
                   
                    @include media($fromdesc0) {
                         @include centerY;
                         font-size: 16px;
                        left: -10px;
                    }
                    @include media($mobile) {
                        position: absolute;
                        top: 1px;
                        left: -9px;
                        font-size: 13px;
                    }
                }
            }
        }
        @include media($fromdesc0) {
            font-size: 16px;
             float: right;
        }
        @include media($mobile) {
             font-size: 13px;
            width: 100%;
            float: left;
        }
    }
    &__comment-descr {
        
        //max-height: 167px;
            overflow: hidden;
           font-size: 14px;
            line-height: 1.29;
            margin-top: 5px;
            margin-bottom: 18px;
        @include media($fromdesc0) {
           font-size: 16px;
           line-height: 1.5; 
            margin-top: 13px;
           margin-bottom: 18px;
        }
        
    }
    &__comment-show-more {
        display: none;
    }
    &__comment-reply,
    &__comment-show-more,
    &__comment-answer {
       
        color: #e56266;
        text-decoration: none;
        font-size: 14px;
        @include media($fromdesc0) {
             font-size: 16px;
        } 

    }
    &__comment-bottom-wrap{
        @include media($mobile) {
            display: flex;
            
        }   
    }
    &__comment-reply,
    &__comment-answer{
        @include media($mobile) {
             width: 50%;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            align-items: center;
            text-align: center;
            padding: 13px 0 12px;
            max-height: 44px;
        }
    }
    &__comment-reply {
        i {
             @include media($fromdesc0) {
            margin-right: 10px;
            }
            
            @include media($mobile) {
            position: relative;
            left: -6px;
            }
        }
    }
    &__comment-answer {
        
        i.fa {
            margin-left: 5px;
        }
         @include media($fromdesc0) {
            margin-left: 18px;
        }
        @include media($mobile) {
            border-left: 1px solid #d5d5d5;
            padding-top: 10px;
        }
    }
    &__form-answer-wrap {
      
        background-color: white;
        
        display: none;
        @include media($fromdesc0) {
            margin-top: -38px;
            z-index: 1;
            margin-bottom: 48px;
            @include outer-container(575px);
             position: relative;
        &:before {
            content: "";
            box-shadow: 0 18px 48px rgba(0, 0, 0, 0.42);
            z-index: -1;
            @include position (absolute, 10px 10px 20px);
        }
        }
        @include media($mobile) {
            z-index: 111;
             overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
    &__form-answer {
       
       
        background-color: white;
         @include media($fromdesc0) {
            padding: 30px 124.5px 34px; 
        }
        @include media($mobile) {
            padding: 58px 0 24px;
            &-content{
               padding-left: 24px;
               padding-right: 24px;
            }
        }
    }
    &__form-answer-title {
         @include media($fromdesc0) {
        font-size: 22px;
        text-align: center;
        margin-bottom: 22px;
        }
        @include media($mobile) {
        padding-left: 24px;
        margin-top: 10px;
        margin-bottom: 17px;
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 26px;
        font-size: 21px;
        line-height: 1.14;
        }
    }
    &__form-answer-btn-wrap {
      
        @include media($fromdesc0) {
        &>.btn-cancel {
            margin-right: 3.68098%;
        }
        &>.btn-cancel,
        &>.btn-annotation--pink-wrap-reviews {
            float: left;
            width: 48.15951%;
        }
        }
    }
    &__messages {
  
        @include media($fromdesc0) {
        margin-bottom: 80px;
        }
        @include media($mobile) {
           
            margin: 15px 15px 33px;
        }
    }
}
