
.auto-card__select-wrap {
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        right: 2px;
       
    }
}

.auction__form {
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        right: 5px;
       
    }
    .select2-selection__choice {
        list-style: none;
    }
    
     
}
 @include media($frommobtodesc4){
.auto-card-filters__item {
     .auto-card__select-wrap--first {
        .select2-container {
            .select2-selection {
               
                border-right: 1px solid #999 !important;
              
            }
        }
    }
}
}
.auction__form,
.auto-card__select-wrap {
    
    .select2-container .select2-selection--single,
    .select2-container .select2-selection--multiple {
        height: 39px;
    }
    
    .select2-container--default .select2-selection--single .select2-selection__arrow,
    .select2-container .select2-selection--multiple{
        &:before {
            content: "\f107";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #2e2e2e;
            font-size: 18px;
           
        }
    }
    .select2-container .select2-selection--multiple { 
        position: relative;
        cursor: pointer;
        &:before {
            position: absolute;
            top: 9px;
            right: 9px;
        }
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        padding: 1px 34px 0 12px;
      
        height: inherit;
        
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        display: none !important;
    }
    
    
      
    
     .select2-container--default .select2-selection--single:hover .select2-selection__arrow:before { color: #63b932;}
    .select2-container--default .select2-selection--multiple,
     .select2-container--default.select2-container--focus .select2-selection--multiple,
    .select2-container--default .select2-selection--single,
     .select2-container--default .select2-selection--single {

        &:hover {
           
            &:before {
                color: #63b932;
            }
        }
    }
    
    .select2-container--default .select2-selection--multiple,
     .select2-container--default.select2-container--focus .select2-selection--multiple,
     .select2-container--default .select2-selection--single{
        border-radius: 0;
        border: 1px solid #999;
        //cursor: pointer;
        &:hover {
            border: 1px solid #63b932;
            border-right: 1px solid #63b932 !important;
           
        }
    }
    
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        //margin-top: 8px;
        padding: 0;
        color: #2e2e2e;
        //line-height: 1.13;
        font-size: 15px;
         margin-top: 0;
        line-height: 35px;
    }
    
  
    
    
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
    .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
    .select2-container--default.select2-container--open.select2-container--above .select2-selection--single{
        border: 1px solid #63b932;
        border-right: 1px solid #63b932 !important;
        box-shadow: 0px 2px 12px 0px rgba(46, 46, 46, 0.36);
      
    }
    .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple,
    .select2-container--default.select2-container--open.select2-container--above .select2-selection--single .select2-selection__arrow,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single .select2-selection__arrow{
        
          &:before {
            color: #63b932;
        }
        
    }
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single .select2-selection__arrow{
  
        &:before {
            content: "\f106";
        }
    }
    
    
    .select2-container--default.select2-container--disabled .select2-selection--multiple,
    .select2-container--default.select2-container--disabled .select2-selection--single {
        cursor: no-drop;
    }
   
     .select2-container--default.select2-container--disabled .select2-selection--multiple,
    .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow{
        &:before,
        &:hover:before {
            color: #6c6c6c;
            
        }
    }
    
    .select2-container--default.select2-container--disabled .select2-selection--multiple,
    .select2-container--default.select2-container--disabled .select2-selection--single {
         background-color: #d5d5d5;
        &:hover {
            border: 1px solid #999;
            border-right: 1px solid #999 !important;
        }
    }
     
      .select2-container--default .select2-selection--single .select2-selection__placeholder,
    .select2-container--default .select2-search--inline .select2-search__field {
        color: #2e2e2e;
        margin-top: 7px;
        @include placeholder {
            color: #2e2e2e;
        }
    }
    .select2-container .select2-selection--single {
        outline: 0;
    }
    &--first {
        .select2-container {
            .select2-selection {
               
                border-right: 0 !important;
              
            }
        }
    }
   
    
  
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #2e2e2e;
        line-height: 1.13;
        font-size: 15px;
        height: inherit;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 9.5px 13px 8px 12px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow 
    {
        
        height: auto;
        position: absolute;
        top: 10px;
        
        b {
        display: none !important;
        
    }
        
        
    }
   
    .select2-container--default .select2-selection--single,
    .select2-container--default.select2-container--open.select2-container--above .select2-selection--single ,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
        
        &.error{
            border: 1px solid #d40000 !important;
        
        }
        &.success{
           border: 1px solid #058c62 !important;
        }
          &:hover
          {
              &.error{
                  border: 1px solid #d40000 !important;
                  border-right: 1px solid #d40000 !important;
              }
              &.success{
              border: 1px solid #058c62 !important;
              border-right: 1px solid #058c62 !important;
           }  
          }
    }

}

.select2-dropdown {
    box-shadow: 0px 2px 12px 0px rgba(46, 46, 46, 0.36);
}

.select2-container--default .select2-results__option[role="group"] {
    border: none;
}

.select2-container--default .select2-results__option .select2-results__option[role="treeitem"]:last-child {
    border-bottom: 1px solid rgb(99, 185, 50);
}

.select2-results__option {
    padding: 8px 6px 8px 36px;
    font-size: 15px;
    border-bottom: 1px solid rgb(213, 213, 213);
}

.select2-container--default .select2-results > .select2-results__options {
    &::-webkit-scrollbar {
        width: 7.5px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgb(245, 245, 245);
        border: 1px solid rgb(213, 213, 213);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(209, 209, 209);
    }
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 36px;
}

//.select2-container--default .select2-results__group {
    //display: none;
//}

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option--highlighted[aria-selected]{
     &:before {
        content: "\f00c";
        font-family: 'FontAwesome';
        @include centerY;
         left: 12px;
         font-size: 15px;
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    
    
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: white;
    position: relative;
    &:before, &:hover:before  {
        color: rgb(99, 185, 50);
       
    }
   
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(245, 245, 245);
    position: relative;
    color: #2e2e2e;
    &:before {
        color: #d5d5d5;
       
    }
}

.auto-card__search-wrap--loop {
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        @include media($mobile) {
            padding-left: 34px;
            padding-top: 1px;
        }
        &:before {
            content: "\f002";
            font-family: 'FontAwesome';
            @include centerY;
            color: #63b932;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 15px;
            left: 9px;
           @include media($fromdesc0) {
                font-size: 22px;
                left: 14px;
            }
           
        }
    }
}

.auto-card__search-wrap {
    position: relative;
     @include media($fromdesc0) {
        @include outer-container(100%);
        padding: 14px;
         &--secondary{
             padding-top: 11px;
             padding-bottom: 11px;
         }
    }
    @include media($mobile) {
        flex-grow: 1;
        width: 88%;
    }
    .select2-container .select2-selection--multiple {
         min-height: 34px;
        @include media($fromdesc0) {
            min-height: 40px;
        }
       
    }
    .select2-container--default .select2-selection--multiple,
    .select2-container--default .select2-selection--multiple,
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        border: 1px solid #63b932;
        border-radius: 0;
        //margin-right: 8px;
    }
    .select2-container .select2-search--inline .select2-search__field {
        @include media($fromdesc0) {
            margin-top: 10px;
            @include placeholder{
            color: transparent;
            font-size: 0;
            line-height: 0;
            }
        }
        @include media($mobile) {
            margin-top: 7px;
            color: #63b932;
            font-size: 14px;
            @include placeholder{
                color: #63b932;
            }
        }
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        @include media($fromdesc0) {
            padding-left: 47px;
        }
       
    }
    .select2-selection--multiple .select2-selection__rendered {
         @include media($mobile) {
         padding: 0 6px;   
        }
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background: white;
        color: #63b932;
        text-transform: uppercase;
        position: relative;
        @include media($fromdesc0) {
            padding: 2px 8px 4.5px;
            font-size: 15px;
        }
        @include media($mobile) {
            display: flex;
            align-items: center;
            padding: 0 5px;
            font-size: 12px;
            margin-top: 6px;
        }
        &:after {
            content: "";
            display: inline-block;
            width: 1px;
            background-color: #63b932;
            position: relative;
            height: 18px;
            margin-left: 5px;
            margin-right: 5px;
            @include media($fromdesc0) {
                top: 4px;
                height: 17px;
                margin-left: 4px;
                margin-right: 8px;
            }
            
        }
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        background: url(../img/icons/delete.svg) no-repeat;
        background-size: contain;
        width: 10.5px;
        text-indent: -9999px;
        font-size: 0;
        white-space: nowrap;
        margin-right: 0;
        position: relative;
        @include media($fromdesc0) {
            top: 7.5px;
            height: 10.5px;
            float: right;
        }
        @include media($mobile) {
            order: 2;
            height: 10px;
        }
    }
    .select2-container--open .select2-dropdown--below {
        display: none !important;
        //что бы скрыть поиск
    }
}

#select__sum--before {
    .select2-selection__rendered {
        &:before {
            content: "от:";
        }
    }
}



#select__year--since {
    .select2-selection__rendered {
        &:before {
            content: "с:";
           
        }
    }
}

#select__year--before {
    .select2-selection__rendered {
        &:before {
            content: "по:";
            
        }
    }
}

#select__sum--after {
    .select2-selection__rendered {
        &:before {
            content: "до:";
           
        }
    }
}
#select__sum--before,
#select__sum--after,
#select__year--before,
#select__year--since
//#select__motor-race--before,
//#select__volume--before
{
    .select2-selection__rendered {
        &:before {
           
            font-size: 15px;
            line-height: 1.13;
            height: 100%;
            color: #2e2e2e;
            padding: 9.5px 3px 8px 0;
        }
    }
}
.option-theme__auction {
    .select2-results__option {
        padding: 8px 6px 8px 14px;
    }
    .select2-container--default .select2-results__option[aria-selected="true"],
     .select2-container--default .select2-results__option--highlighted[aria-selected]{
        &:before, &:hover:before {
            content: none;
        }
       
    }
    .select2-container--default .select2-results__option:first-child{ 
      display: none;
   }
}



.color-sample {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: -3px;
}
.auto-card__select--search {
    border: 1px solid #63b932;
    min-height: 34px;
    padding: 0 32px;
    width: 100%;
}
.auto-card__select--search,
.auto-card__select {
    font-size: 15px;
    line-height: 1.13;
    border-radius: 0;
    background-color: white;
     -webkit-appearance: none;
     -moz-appearance: none;
    &::-ms-expand {
        display: none;
    }
}
.auto-card__select {
    &-wrap {
        background: white;
        position: relative;
        margin-bottom: 22px;
        &--half {
            float: left;
            width: 50%;
        }
    }
    width: 100%;
    height: 100%;
    padding: 10px 12px 11px;
    height: 100%;
    border: 1px solid #999;
    
}
  
.select2-container--default .select2-search--dropdown .select2-search__field{
    outline: none;
}