#swiper1.swiper-pagination-fraction,
#swiper1.swiper-pagination-custom,
#swiper1.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 30px;
    @include media($fromdesc0) {
        bottom: 40px;
    }
}

#swiper1 {
    @include media($mobile) {
        .main-page__testimonasl-nav-xs {
            @include centerX;
            @include outer-container(230px);
            top: 37px;
            width: 230px;
            height: 21px;
            z-index: 2;
        }
        .swiper-button-next,
        .swiper-button-prev {
            margin-top: 0;
            @include centerY;
            width: 29px;
            height: 21px;
        }
        .swiper-button-next {
            background: url(../img/icons/arrow-right-mob@2x.svg)no-repeat;
            background-size: cover;
            right: 0;
        }
        .swiper-button-prev {
            background: url(../img/icons/arrow-left-mob@2x.svg)no-repeat;
            background-size: cover;
            left: 0;
        }
    }
}

#swiper1.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px 0 6px;
}

#swiper1 .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid white;
    width: 12px;
    height: 12px;
    opacity: 1;
}

#swiper1 .swiper-pagination-bullet-active {
    background: white;
}

#swiper2.swiper-container {
    @include outer-container(996px);
}

.swiper-container .news__list {
    @include outer-container(260px);
    @include media($fromdesc0) {
        max-width: 100%;
    }
    @include media($fromdesc1) {
        
        max-width: 310px;
    }
}

#swiper2 .swiper-pagination {
    @include media($mobile) {
        position: relative;
        top: 54px;
    }
}

#swiper2 .swiper-pagination,
#swiper3 .swiper-pagination,
#swiper15 .swiper-pagination,
.page-card__char-slider-control .swiper-pagination {
    position: static;
}

#swiper2 .swiper-pagination-fraction {
    @include media($mobile) {
        font-size: 16px;
        line-height: 1.5;
        color: #999999;
        font-family: Proxima Nova Bd;
    }
}

#swiper2 .swiper-pagination-fraction,
#swiper3 .swiper-pagination-fraction,
#swiper15 .swiper-pagination-fraction {
    @include media($fromdesc0) {
        color: #181818;
        font-size: 24px;
        font-weight: 400;
    }
}

#swiper3 .swiper-pagination-fraction,
#swiper15 .swiper-pagination-fraction {
    @include media($mobile) {
        font-size: 15px;
        line-height: 1;
        color: #999999;
        font-family: Proxima Nova Bd;
    }
}



#swiper2 .swiper-button-prev,
#swiper2 .swiper-button-next,
#swiper15 .swiper-button-prev,
#swiper15 .swiper-button-next {
    margin: 0;
    @include centerY;
    z-index: 100;
    width: 20px;
    height: 14px;
    @include media($fromdesc0) {
        height: 23px;
        width: 13px;
    }
}

#swiper3 .swiper-button-prev,
#swiper3 .swiper-button-next {
    margin: 0;
    @include centerY;
    z-index: 100;
    width: 140px;
    height: 38px;
    @include media($fromdesc0) {
        height: 23px;
        width: 13px;
    }
}

@include media($fromdesc0) {
    #swiper3 .swiper-button-prev {
        left: 2px;
    }
    #swiper3 .swiper-button-next {
        right: 2px;
    }
    #swiper15 .swiper-button-prev {
        left: 20px;
    }
    #swiper15 .swiper-button-next {
        right: 20px;
    }
    #swiper2 .swiper-button-prev,
    #swiper3 .swiper-button-prev,
    #swiper15 .swiper-button-prev {
        background: url(../img/icons/left.svg)no-repeat;
        background-size: 13px 23px;
        &:hover {
            background: url(../img/icons/left-hover.svg)no-repeat;
            background-size: 13px 23px;
        }
    }
    #swiper2 .swiper-button-next,
    #swiper3 .swiper-button-next,
    #swiper15 .swiper-button-next {
        background: url(../img/icons/right.svg)no-repeat;
        background-size: 13px 23px;
        &:hover {
            background: url(../img/icons/right-hover.svg)no-repeat;
            background-size: 13px 23px;
        }
    }
}

@include media($frommobtodesc) {
    #swiper2 .swiper-button-prev {
        left: 10px;
    }
    #swiper2 .swiper-button-next {
        right: 10px;
    }
}

@include media($fromdesc1) {
    #swiper2 .swiper-button-prev {
        left: 20px;
    }
    #swiper2 .swiper-button-next {
        right: 20px;
    }
}

@include media($mobile) {
    #swiper15 .swiper-button-next,
    #swiper15 .swiper-button-prev {
        width: 100px;
        height: 100%;
    }
    #swiper15 .swiper-button-prev {
        background-position: left !important;
    }
    #swiper15 .swiper-button-next {
        background-position: right !important;
    }
    #swiper2 .swiper-button-prev,
    #swiper15 .swiper-button-prev {
        background: url(../img/icons/arrow-left-AC-mob@2x.svg)no-repeat;
        background-size: 20px 14px;
        left: 12px;
    }
    #swiper2 .swiper-button-next,
    #swiper15 .swiper-button-next {
        background: url(../img/icons/arrow-right-AC-mob@2x.svg)no-repeat;
        background-size: 20px 14px;
        right: 12px;
    }
    #swiper3 .swiper-button-prev,
    #swiper3 .swiper-button-next {
        background: none;
        &:before {
            content: "";
            @include centerY;
            width: 20px;
            height: 14px;
        }
    }
    #swiper3 .swiper-button-prev {
        left: 0;
        &:before {
            background: url(../img/icons/arrow-left-AC-mob@2x.svg)no-repeat;
            background-size: 20px 14px;
            left: 12px;
        }
    }
    #swiper3 .swiper-button-next {
        right: 0;
        &:before {
            background: url(../img/icons/arrow-right-AC-mob@2x.svg)no-repeat;
            background-size: 20px 14px;
            right: 12px;
        }
    }
}

#swiper15.swiper-container {
    @include media($fromdesc0) {
        padding: 28px 14px 34px;
    }
}

#swiper3.swiper-container {
    width: 100%;
    padding-top: 32px;
    @include media($fromdesc0) {
        padding-left: 13px;
        padding-right: 13px;
        padding-top: 28px;
    }
}

#swiper3 .swiper-wrapper,
#swiper15 .swiper-wrapper {
    box-sizing: border-box !important;
}

#swiper4.swiper-container {
    width: 100%;
    @include media($fromdesc0) {
        height: 485px;
    }
    .swiper4-img-wrap {
        height: 100%;
        @include media($mobile) {
            box-shadow: 0 2px 12px rgba(0, 0, 2, 0.08);
            @include outer-container(260px);
            position: relative;
            margin-top: 12px;
            &:before {
                content: "";
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.42);
                @include position (absolute, 8px);
                z-index: -1;
            }
        }
    }
    img {
        width: 100%;
        object-fit: cover;
        height: 195px;
        @include media($fromdesc0) {
            height: 100%;
        }
    }
}

.page-card__char-slider-control {
    border-top: 1px solid #d5d5d5;
    background-color: white;
    .swiper-button-next,
    .swiper-button-prev {
        width: 70px;
        height: 43px;
        background: none;
        &:before {
            width: 21px;
            height: 15px;
        }
    }
}

.swiper-4-nav {
    @include media($mobile) {
        top: -42px;
        width: 84px;
        height: 94px;
        background: url(../img/icons/bar-AC-mob@2x.svg) no-repeat;
        background-size: cover;
        position: relative;
        .swiper-pagination-fraction {
            color: #999999;
            font-size: 16px;
            position: relative;
            top: 16px;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        min-width: 72px;
        height: 65px;
        &:hover {
            background-color: #ebebeb;
        }
    }
    .swiper-pagination-fraction {
        font-family: Proxima Nova Bd;
        color: #2e2e2e;
    }
    @include media($fromdesc0) {
          border-top: 1px solid #d5d5d5;
        .swiper-pagination-current {
            font-size: 24px;
        }
        .swiper-pagination-total {
            font-size: 18px;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        background: none;
        &:before {
            width: 24px;
            height: 18px;
        }
    }
    .swiper-button-next {
        border-left: 1px solid #d5d5d5;
    }
    .swiper-button-prev {
        border-right: 1px solid #d5d5d5;
    }
}

.page-card__char-slider-control {
    .swiper-button-next,
    .swiper-button-prev {
        width: 100%;
        &:before {
            content: "";
            @include centerY;
        }
    }
    .swiper-button-next:before {
        right: 15px;
    }
    .swiper-button-prev:before {
        left: 15px;
    }
}

.swiper-4-nav {
    .swiper-button-next,
    .swiper-button-prev {
        &:before {
            content: "";
            @include centerXY;
        }
    }
}

.swiper-4-nav,
.page-card__char-slider-control {
    position: relative;
    display: flex;
    align-items: center;
    .swiper-pagination,
    .swiper-button-next,
    .swiper-button-prev {
        position: static;
        transition: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
        margin-top: 0;
        @include position (relative, 0);
        background: none;
    }
    .swiper-button-next {
        &:before {
            background: url(../img/icons/slider-photo-arrow-right.svg)no-repeat;
            background-size: cover;
        }
    }
    .swiper-button-prev {
        &:before {
            background: url(../img/icons/slider-photo-arrow-left.svg)no-repeat;
            background-size: cover;
        }
    }
}

#swiper15 {
    @include media($mobile) {
        .auto-card__list--buy--recommend {
            margin-top: 0;
        }
    }
}

@include media($fromdesc0) {
    .swiper-slide {
        .auto-card__item {
            box-shadow: 0 0 12px rgba(0, 0, 2, .1);
            backface-visibility: hidden;
            &:hover {
                box-shadow: 0 0 12px rgba(0, 0, 2, .4);
            }
        }
    }
}