.main-page__testimonials {
    position: relative;
    text-align: center;
    padding-top: 36px;
        height: 495px;
   @include media($fromdesc0) {
        padding-top: 98px;
        height: 664px;
    }
    &>img {
        object-fit: cover;
        width: 100%;
        height: 495px;
        @include position (absolute, 0);
        @include media($fromdesc0) {
            height: 664px;
        }
    }
}

.main-page__testimonials .swiper-container {
    width: 100%;
    height: 368px;
   @include media($fromdesc0) {
        height: 420px;
    }
  
}

.main-page__blockquote {
    position: relative;
    z-index: 1;
    @include outer-container(540px);
}

.main-page__blockquote-img-wrap {
    position: relative;
    @include media($fromdesc0) {
        @include outer-container(128px);
    }
    @include media($mobile) {
        @include outer-container(98px);
    }
    &:before {
        content: "";
        background: url(../img/icons/quote@2x.png)no-repeat;
        background-size: cover;
        position: absolute;
        width: 46px;
            height: 46px;
            right: -9px;
            bottom: -5px;
        @include media($fromdesc0) {
            height: 64px;
            width: 64px;
            bottom: 0;
            right: -5px;
        }
    }
}

.main-page__blockquote-img {
    max-width: 100%;
    border-radius: 50%;
    max-height: 98px;
    @include media($fromdesc0) {
        max-height: 128px;
    }
}

.main-page__blockquote-name,
.main-page__blockquote-descr {
    color: white;
}

.main-page__blockquote-name {
    line-height: 1;
    position: relative;
    font-family: Proxima Nova Bd;
    font-size: 18px;
        margin-top: 24px;
        margin-bottom: 38px;
    @include media($fromdesc0) {
        font-size: 21px;
        margin-bottom: 45px;
        margin-top: 38px;
    }

    &:before {
        content: "";
        @include centerX;
        display: block;
        bottom: -23px;
        width: 32px;
        height: 3px;
        background-color: white;
    }
}

.main-page__blockquote-descr {
   @include media($fromdesc0) {
        font-size: 18px;
    }
    @include media($mobile) {
        font-size: 14px;
        line-height: 1.29;
        @include outer-container(265px);
    }
}
