
h1 {
    color: white;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
    font-size: 21px;
    line-height: 1.14;
    @include media($fromdesc0) {
    font-size: 34px;
    line-height: 1.09;
    font-family: 'Proxima Nova Light';
    }
}

.main-page--title {
    @include media($fromdesc0) {
    margin-top: 165px;
    margin-bottom: 36px;
    }
    @include media($mobile) {
        padding-top: 100px;
        margin-bottom: 33px;
        @include outer-container(260px);
    }
}

.h2__title {
    font-weight: 600;
    line-height: 1.12;
    color: #2e2e2e;
    text-align: center;
     font-size: 21px;
    @include media($fromdesc0) {
    font-size: 34px;
    }
    @include media($mobile) {
      
        position: relative;
        z-index: 1;
    }
}

.h2__title--news {
     margin-bottom: 25px;
     @include media($fromdesc0) {
    margin-bottom: 47px;
    }
}

h2,
h3,
.all-news__title{
    font-family: Proxima Nova Bd;
}

.all-news__title {
    font-weight: 600;
    color: #2e2e2e;
    margin-top: 40px;
    padding-top: 16px;
    padding-bottom: 12px;
    border-bottom:1px solid #d5d5d5;
}

