

.hidden-xs {
	     @include  media ($mobile) {
		display: none !important;
	}
}
.hidden-md {
	@media screen and (max-width: 979px) {
		display: none !important;
	}
}
.visible-tablet {
	 @include  media ($mobile) {
		display: none !important;
	}
    @include media($fromdesc1) {
        display: none !important;
    }
    &--secondary{
         @include  media ($mobile) {
		display: none !important;
	 }
        @media screen and (min-width: 1280px){
             display: none !important;
    }
    }
}
.hidden-tablet {
    @include media($frommobtodesc) {
        display: none !important;
    }
}
.visible-xs {
		 @include media($fromdesc0) {

		display: none !important;
	}
}
.img-responsive{
    @include img;
}
.text-align{
    text-align: center !important;
}
.gray{
        color: #999 !important;
}
.bg-whitesmoke{
    background: whitesmoke !important;
}
.bg-white{
    background: white !important;
}
.border-bottom-gray{
     @include media($fromdesc0) {
    border-bottom: 1px solid #d5d5d5;
    }
}
