$tablet: new-breakpoint(max-width 998px 12);
$mobile: new-breakpoint(max-width 767px 12);
$frommobtodesc: new-breakpoint(min-width 768px max-width 979px 12);
$frommobtodesc2: new-breakpoint(min-width 980px max-width 1064.5px 12);
$frommobtodesc3: new-breakpoint(min-width 768px max-width 1058px 12);
$frommobtodesc4: new-breakpoint(min-width 768px max-width 1198px 12);
$frommobtodesc5: new-breakpoint(min-width 980px max-width 1198px 12);
$frommobtodesc6: new-breakpoint(min-width 980px max-width 991px 12);
$frommobtodesc7: new-breakpoint(min-width 992px max-width 1198px 12);
$frommobtodesc8: new-breakpoint(min-width 768px max-width 1024px 12);
$frommobtodesc9: new-breakpoint(min-width 768px max-width 1097px 12);
$frommobtodesc10: new-breakpoint(min-width 1098px max-width 1198px 12);

$frommobtodesc11: new-breakpoint(min-width 980px max-width 1138px 12);
$frommobtodesc12: new-breakpoint(min-width 768px max-width 1138px 12);
$frommobtodesc13: new-breakpoint(min-width 768px max-width 863px 12);
$frommobtodesc14: new-breakpoint(min-width 864px max-width 979px 12);
$frommobtodesc15: new-breakpoint(min-width 768px max-width 900px 12);
$frommobtodesc16: new-breakpoint(min-width 980px max-width 1000px 12);
$frommobtodesc17: new-breakpoint(min-width 858px max-width 979px 12);
$frommobtodesc18: new-breakpoint(min-width 768px max-width 857px 12);
$frommobtodesc19: new-breakpoint(min-width 768px max-width 800px 12);
$fromdesc: new-breakpoint(min-width 1065px 12);
$fromdesc1: new-breakpoint(min-width 980px 12);
$fromdesc2: new-breakpoint(min-width 1199px 12);
$fromdesc0: new-breakpoint(min-width 768px 12);
$fromdesc3: new-breakpoint(min-width 1059px 12);
$fromdesc4: new-breakpoint(min-width 1020px 12);
$fromdesc5: new-breakpoint(min-width 792px 12);
$fromdesc6: new-breakpoint(min-width 1098px 12);
$fromdesc7: new-breakpoint(min-width 1139px 12);
$fromdesc8: new-breakpoint(min-width 864px 12);
$fromdesc9: new-breakpoint(min-width 1001px 12);
$fromdesc10: new-breakpoint(min-width 801px 12);



