body:after {
    position: absolute;
    overflow: hidden;
    left: -50000px;
    width: 0;
    height: 0;
    content: url(../img/auto/1_sedan_green.svg) url(../img/auto/1_sedan_green.svg) url(../img/auto/1_sedan_green.svg) url(../img/auto/2_hatchback_green.svg) url(../img/auto/3_coupe_green.svg) url(../img/auto/4_jeep_green.svg) url(../img/auto/5_minivan_green.svg) url(../img/auto/6_wagon_green.svg) url(../img/auto/7_pickup_green.svg) url(../img/auto/8_cabrio_green.svg) url(../img/auto/9_liftback_green.svg) url(../img/auto/10_lightFourgon_green.svg) url(../img/icons/left-hover.svg) url(../img/icons/right-hover.svg) url(../img/icons/prev-news-hover.svg) url(../img/icons/next-news-hover.svg) url(../img/buses/4_minivan_large_green.svg) url(../img/buses/1_bus_green.svg) url(../img/buses/2_city_bus_green.svg) url(../img/lorries/1_tent_truck_green.svg) url(../img/lorries/2_truck_green.svg) url(../img/lorries/7_power_unit_green.svg) url(../img/lorries/3_long_truck_green.svg) url(../img/lorries/5_freeze_minivan_large_green.svg) url(../img/lorries/6_dump_truck_green.svg) url(../img/lorries/8_tow_truck_green.svg) url(../img/special_auto/2_auto_crane_green.svg) url(../img/special_auto/4_lifter_green.svg) url(../img/special_auto/5_digger_green.svg) url(../img/special_auto/6_digger_lifter_green.svg) url(../img/special_auto/1_other_specials_green.svg) url(../img/others_auto/1_auto_house_green.svg) url(../img/others_auto/2_mobile_house_green.svg) url(../img/others_auto/3_bike_green.svg) url(../img/others_auto/4_trailer_green.svg) url(../img/icons/back-pag-hover.svg) url(../img/icons/next-pag-hover.svg) url(../img/auto/11_limousine_green.svg) 
}