//.header-menu__list-tel{
   // padding-right: 15px;
//}
@import "bourbon";
@import "neat";
@import "neat-helpers";
@import "variables";
.auto-card {
   
    &__item {
     
        &--buy {
           
            @include media($fromdesc6) {
               
                width: calc(100% * 1/3 - 14.5px);
               
            }
            @include media ($frommobtodesc9) {
               
                width: calc(100% * 1/2 - 14.5px);
               
            }
            @media screen and (min-width: 1500px) {
                
                width: calc(100% * 1/4 - 14.5px);
            }
            @media screen and (min-width: 1880px) {
              
                width: calc(100% * 1/5 - 14.5px);
            }
        }
    }
}